<div class="usecase-title">Biodiversity in Melbourne's parks</div>

<div class="usecase-authors"><b>Authored by: </b>Francis Rusli</div>

<div class="usecase-date"><b>Date: </b> April 2024</div>

<div class="usecase-duration"><b>Duration:</b> 90 mins</div>

<div class="usecase-level-skill">
    <div class="usecase-level"><b> Level: </b>Intermediate</div>
    <div class="usecase-skill"><b> Pre-requisite Skills: </b>Python, basic machine learning, <i>Optional</i> Google Collaborate access</div>
</div>

<div class="usecase-subsection-blurb">
  <i>Dataset 1:</i> Bat Records in Fitzroy Gardens and Royal Botanic Gardens 2010
  <br>
  <a href="https://data.melbourne.vic.gov.au/explore/dataset/bat-records-in-fitzroy-gardens-and-royal-botanic-gardens-2010/table/" target="_blank">Dataset Link</a>
  <br>
  <a href="https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/bat-records-in-fitzroy-gardens-and-royal-botanic-gardens-2010/exports/xlsx?lang=en&timezone=Australia%2FSydney&use_labels=true" target="_blank">Metadata Link</a>
</div>
<br>

<div class="usecase-subsection-blurb">
  <i>Dataset 2:</i> Butterfly biodiversity survey 2017
  <br>
  <a href="https://data.melbourne.vic.gov.au/explore/dataset/butterfly-biodiversity-survey-2017/table/" target="_blank">Dataset Link</a>
  <br>
  <a href="https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/butterfly-biodiversity-survey-2017/exports/xlsx?lang=en&timezone=Australia%2FSydney&use_labels=true">Metadata Link</a>
</div>
<br>

<div class="usecase-subsection-blurb">
  <i>Dataset 3:</i> Bioblitz 2016
  <br>
  <a href="https://data.melbourne.vic.gov.au/explore/dataset/bioblitz-2016/table/" target="_blank">Dataset Link</a>
  <br>
  <a href="https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/bioblitz-2016/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C">Metadata Link</a>
</div>

# <div class="usecase-section-header"><h4>Project Objective, Overview & Research</h4></div>

<div class="usecase-subtitle">
<i><b>User Story</b></i>
</div>

<div class="usecase-subsection-blurb"><i>"As a city council member, I want to study and monitor the biodiversity in Melbourne's parks and green spaces, specifically focusing on bats and butterflies while also incorporating other animal species. This information can empower City of Melbourne(CoM) in making conservation planning, address environmental challenges, and foster the natural habitats inside our city limits."</i></div>
<br>

<div class="usecase-subtitle">
<i><b>Objective</b></i>

<div class="usecase-subsection-blurb">The 'Urban Biodiversity Monitoring' project is a comprehensive initiative, spanning a dedicated investigation period of 6 weeks, focused on the parks and green spaces of Melbourne. This project is specifically tailored to study and monitor the populations of bats and butterflies, two critical indicators of the ecological health in urban environments.</div>
<br>

<div class="usecase-subsection-blurb"><b>Part 1</b> includes set up, fetching or loading datasets, pre-processing, data cleaning, saving datasets, and merging datasets.</div>

<br>

<div class="usecase-subsection-blurb"><b>Part 2</b> contains an overview analysis of data structures, population spread and biodiversity of species. </div>

<div class="usecase-subtitle">
<i><b>Overview</b></i>
</div>
<div class="usecase-subsection-blurb">The biodiversity within the City of Melbourne's parks and green spaces, especially the populations of bats and butterflies, can significantly reflect the health and balance of our urban ecosystem. This project aims to investigate the population spread, habitat viability, and the interaction of these species with urban development. </div>
<br>

<div class="usecase-subtitle">
<i><b>Benefits</b></i>
</div>

<div class="usecase-subsection-blurb">
<ol>
  <li><b>Environmental Health and Ecosystem Balance Assessment:</b> By monitoring the populations of bats and butterflies, we can gain insights into the overall health of the ecosystem in Melbourne's parks. These species are often considered indicator species[1], meaning changes in their populations can signal changes in the broader environmental conditions. For instance, bats play a crucial role in controlling insect populations and pollinating plants[2], while butterflies are indicators of ecological diversity and health. Studying these populations helps in understanding the impacts of urban development on natural habitats and the effectiveness of current conservation strategies.
  <li><b>Informed Conservation and Urban Planning:</b> The data gathered will be crucial in guiding conservation efforts and urban planning decisions. Understanding where and how these species thrive can inform the development of green spaces that support biodiversity. This can lead to the creation of urban environments that are not only beneficial for wildlife but also enhance the quality of life for city residents. For example, identifying key habitats and migration patterns of these species can aid in designing parks and green corridors that promote their conservation. </li>
  <li><b>Public Engagement and Education:</b> This research can also play a significant role in public education and engagement. By raising awareness about the importance of biodiversity in urban areas, We can foster a greater appreciation and understanding among the public. This can lead to increased community involvement in conservation efforts and sustainable practices[5]. Moreover, it can help in promoting citizen science initiatives, where locals can contribute to data collection and monitoring, further expanding the scope and impact of your research.</li>
</ol>
</div>

<div class="usecase-subtitle">
<i><b>Research</b></i></div>
<div class="usecase-subsection-blurb">
This research project focuses on assessing the biodiversity in Melbourne's parks, with a special emphasis on the populations of bats and butterflies. The aim is to analyze how these species interact with urban development and their spread across different locations and times. The findings will be crucial for informing conservation planning and understanding the health of the urban ecosystem.</div>
<br>

<div class="usecase-subsection-blurb">
Part 1 (First 3 Weeks): Utilizing Python and Jupyter Notebook, the initial stage involves setting up, data cleaning, and preprocessing, followed by a basic analysis focusing on species, locations, and times. The outcome will be an initial understanding of the distribution of bats and butterflies in Melbourne's parks.

Part 2 (Next 3 Weeks): This phase dives into detailed trend analysis and mapping. It aims to uncover patterns in the distribution of these species, hypothesize the reasons for their specific locations, and understand the impact of urban environments on them. The project concludes with strategic recommendations for biodiversity conservation and urban planning.</div>

<div class="usecase-subtitle">
<i><b>Conclusions</b></i>
</div>
<div class="usecase-subsection-blurb">Fill here</div>
<br>
<div class="usecase-subsection-blurb"> </div>

<!-- References -->
  <h2 id="references">References</h2>
    <li id="fn-1">
      <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8427576/">[1]</a> Environmental controls on butterfly occurrence and species richness in Israel: The importance of temperature over rainfall
    </li>
    <li id="fn-2">
      <a href="https://www.sciencedirect.com/science/article/abs/pii/S2212041621000383">[2]</a> Insectivorous bats provide significant economic value to the Australian cotton industry
    </li>
    <li id="fn-3">
      <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/emr.12120">[3]</a> The effects of light and noise from urban development on biodiversity: Implications for protected areas in Australia
    </li>
    <li id="fn-4">
      <a href="https://academic.oup.com/bioscience/article/67/9/799/4056044">[4]</a> Biodiversity in the City: Fundamental Questions for Understanding the Ecology of Urban Green Spaces for Biodiversity Conservation
    </li>
    <li id="fn-5">
      <a href="https://link.springer.com/article/10.1007/s10841-009-9252-z">[5]</a> Butterfly conservation in Australia: the importance of community participation
    </li>

# Part 1 (Set up & Pre-processing)
*   Set Up
*   Pre-processing

## Part 1.1: Set Up
*   Import Core Libraries
*   Import Dependencies

In [27]:
##### Install packages
!pip install osmnx
!pip install tqdm

Requirement already satisfied: osmnx in /opt/anaconda3/lib/python3.11/site-packages (1.9.2)
Requirement already satisfied: geopandas>=0.12 in /opt/anaconda3/lib/python3.11/site-packages (from osmnx) (0.14.3)
Requirement already satisfied: networkx>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from osmnx) (3.1)
Requirement already satisfied: numpy>=1.20 in /opt/anaconda3/lib/python3.11/site-packages (from osmnx) (1.26.4)
Requirement already satisfied: pandas>=1.1 in /opt/anaconda3/lib/python3.11/site-packages (from osmnx) (2.1.4)
Requirement already satisfied: requests>=2.27 in /opt/anaconda3/lib/python3.11/site-packages (from osmnx) (2.31.0)
Requirement already satisfied: shapely>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from osmnx) (2.0.3)
Requirement already satisfied: fiona>=1.8.21 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas>=0.12->osmnx) (1.9.6)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.11/site-packages (from geopandas>=0.12->osmnx) (23.1)
Requirement already satisfied: pyproj>=3.3.0 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas>=0.12->osmnx) (3.6.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->osmnx) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->osmnx) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.1->osmnx) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests>=2.27->osmnx) (2024.2.2)
Requirement already satisfied: attrs>=19.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas>=0.12->osmnx) (23.1.0)
Requirement already satisfied: click~=8.0 in /opt/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas>=0.12->osmnx) (8.1.7)
Requirement already satisfied: click-plugins>=1.0 in /opt/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas>=0.12->osmnx) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /opt/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas>=0.12->osmnx) (0.7.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.11/site-packages (from fiona>=1.8.21->geopandas>=0.12->osmnx) (1.16.0)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.11/site-packages (4.65.0)

In [28]:
#Import core libraries
import requests
import pandas as pd
import numpy as np
import os

import seaborn as sns
import matplotlib.pyplot as plt
import json

import ipywidgets as widgets
from ipywidgets import interact

import osmnx as ox
import geopandas as gpd
import networkx as nx

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings("ignore")

In [42]:
# Define the company colors format for matplotlib
dark_theme_colors = ['#08af64', '#14a38e', '#0f9295', '#056b8a', '#121212'] #Dark theme
light_theme_colors = ['#2af598', '#22e4ac', '#1bd7bb', '#14c9cb', '#0fbed8', '#08b3e5'] #Light theme

In [43]:
def fetch_data(base_url, dataset, api_key, num_records=99, offset=0):
    all_records = []
    max_offset = 9900

    while True:
        if offset > max_offset:
            break

        filters = f'{dataset}/records?limit={num_records}&offset={offset}'
        url = f'{base_url}{filters}&api_key={api_key}'

        try:
            result = requests.get(url, timeout = 10)
            result.raise_for_status()
            records = result.json().get('results')
        except requests.exceptions.RequestException as e:
            raise Exception(f'API request failed: {e}')
        if records is None:
            break
        all_records.extend(records)
        if len(records) < num_records:
            break

        offset += num_records

    df = pd.DataFrame(all_records)
    return df

BASE_URL = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'
API_KEY = ''

## Part 1.2: Pre-Processing
*   Fetch each dataset, CoM API or load CSV
*   Load data to dataframe
*   Data cleaning (duplicates, missing values, data types, etc)
*   Save cleaned dataset
*   Encode Data
*   Save encoded dataset
*   Correlations
*   Merge datasets

#### Dataset 1: Bat records in fitzroy gardens and royal botanic gardens 2010
*   Dataset Identifier: bat-records-in-fitzroy-gardens-and-royal-botanic-gardens-2010

<a href="https://data.melbourne.vic.gov.au/explore/dataset/bat-records-in-fitzroy-gardens-and-royal-botanic-gardens-2010/table/" target="_blank">Dataset Link</a>

**Summary:** This dataset provides detailed observations of various bat species within Fitzroy Gardens and Royal Botanic Gardens over the year 2010. It includes taxonomic classification, common names, and exact locations within the parks.

This dataset includes observations of bats categorized by taxa, genus, and species with specific geo-spatial information, indicating precise observation spots within the parks. The data also lists common names alongside the scientific taxonomy to assist in species identification.

Note: Each observation is pinpointed with latitude and longitude coordinates, providing exact locations but not the area affected or the size of the bat populations.

Note: This dataset is crucial for ecological monitoring and conservation efforts, helping track bat populations and distribution within urban parklands.

In [56]:
SENSOR_DATASET = 'bat-records-in-fitzroy-gardens-and-royal-botanic-gardens-2010'
bat = fetch_data(BASE_URL, SENSOR_DATASET, API_KEY)
bat.head()

,taxa,kingdom,phylum,class,order,family,genus,species,common_name,park_name,location
0,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"
1,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,VESPERTILIONIDAE,Chalinolobus,gouldii,Gould's Wattled Bat,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"
2,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,VESPERTILIONIDAE,Chalinolobus,gouldii,Gould's Wattled Bat,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"
3,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Austronomous,australis,White-striped Freetail Bat,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"
4,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"

In [57]:
#View info of data
bat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   taxa         10 non-null     object
 1   kingdom      10 non-null     object
 2   phylum       10 non-null     object
 3   class        10 non-null     object
 4   order        10 non-null     object
 5   family       10 non-null     object
 6   genus        10 non-null     object
 7   species      5 non-null      object
 8   common_name  5 non-null      object
 9   park_name    10 non-null     object
 10  location     10 non-null     object
dtypes: object(11)
memory usage: 1012.0+ bytes

In [58]:
# Check missing values for dataset
missing_values = bat.isnull().sum()
missing_values # Number of missing values in each column

taxa           0
kingdom        0
phylum         0
class          0
order          0
family         0
genus          0
species        5
common_name    5
park_name      0
location       0
dtype: int64

In [59]:
# Column names to check for missing values
column_name_species = 'species'
column_name_common_name = 'common_name'

# Calculate the percentage of missing values
percentage_missing_species = (missing_values[column_name_species] / len(bat)) * 100
percentage_missing_common_name = (missing_values[column_name_common_name] / len(bat)) * 100

# Print the results
print(f"Percentage of missing values for '{column_name_species}': {percentage_missing_species:.2f}%")
print(f"Percentage of missing values for '{column_name_common_name}': {percentage_missing_common_name:.2f}%")

Percentage of missing values for 'species': 50.00%
Percentage of missing values for 'common_name': 50.00%

In [60]:
# Find missing species
missing_species_completed = bat[bat['species'].isnull()]
missing_species_completed

,taxa,kingdom,phylum,class,order,family,genus,species,common_name,park_name,location
0,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"
4,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"
6,Mammal,ANIMALIA,CHORDATA,MAMMALIA,VESPERTILIONIDAE,MOLOSSIDAE,Scotorepens,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"
8,Mammal,ANIMALIA,CHORDATA,MAMMALIA,VESPERTILIONIDAE,MOLOSSIDAE,Scotorepens,None,None,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"
9,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,VEPSERTILIONIDAE,Nyctophilus,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"

In [61]:
#Replace "-" with NaN
bat['species'].replace('-', float('nan'), inplace=True)

In [62]:
# Find missing common_name
missing_common_name_completed = bat[bat['common_name'].isnull()]
missing_common_name_completed

,taxa,kingdom,phylum,class,order,family,genus,species,common_name,park_name,location
0,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"
4,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"
6,Mammal,ANIMALIA,CHORDATA,MAMMALIA,VESPERTILIONIDAE,MOLOSSIDAE,Scotorepens,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"
8,Mammal,ANIMALIA,CHORDATA,MAMMALIA,VESPERTILIONIDAE,MOLOSSIDAE,Scotorepens,None,None,Fitzroy Gardens,"{'lon': 144.9786, 'lat': -37.8135}"
9,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,VEPSERTILIONIDAE,Nyctophilus,None,None,Royal Botanic Gardens,"{'lon': 144.9804, 'lat': -37.8312}"

In [63]:
#Replace "-" with NaN
bat['common_name'].replace('-', float('nan'), inplace=True)

In [64]:
print(bat)

     taxa   kingdom    phylum     class             order            family  \
0  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA        MOLOSSIDAE
1  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA  VESPERTILIONIDAE
2  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA  VESPERTILIONIDAE
3  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA        MOLOSSIDAE
4  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA        MOLOSSIDAE
5  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA  VESPERTILIONIDAE
6  Mammal  ANIMALIA  CHORDATA  MAMMALIA  VESPERTILIONIDAE        MOLOSSIDAE
7  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA        MOLOSSIDAE
8  Mammal  ANIMALIA  CHORDATA  MAMMALIA  VESPERTILIONIDAE        MOLOSSIDAE
9  Mammal  ANIMALIA  CHORDATA  MAMMALIA        CHIROPTERA  VEPSERTILIONIDAE

          genus    species                 common_name              park_name  \
0   Mormopterus       None                        None  Royal Botanic Gardens
1  Chalinolobus    gouldii         Gould's Wattled Bat        Fitzroy Gardens
2  Chalinolobus    gouldii         Gould's Wattled Bat  Royal Botanic Gardens
3  Austronomous  australis  White-striped Freetail Bat        Fitzroy Gardens
4   Mormopterus       None                        None        Fitzroy Gardens
5        Myotis   macropus         Large-footed Myotis  Royal Botanic Gardens
6   Scotorepens       None                        None  Royal Botanic Gardens
7  Austronomous  australis  White-striped Freetail Bat  Royal Botanic Gardens
8   Scotorepens       None                        None        Fitzroy Gardens
9   Nyctophilus       None                        None  Royal Botanic Gardens

                             location
0  {'lon': 144.9804, 'lat': -37.8312}
1  {'lon': 144.9786, 'lat': -37.8135}
2  {'lon': 144.9804, 'lat': -37.8312}
3  {'lon': 144.9786, 'lat': -37.8135}
4  {'lon': 144.9786, 'lat': -37.8135}
5  {'lon': 144.9804, 'lat': -37.8312}
6  {'lon': 144.9804, 'lat': -37.8312}
7  {'lon': 144.9804, 'lat': -37.8312}
8  {'lon': 144.9786, 'lat': -37.8135}
9  {'lon': 144.9804, 'lat': -37.8312}

#### Dataset 2: Butterfly biodiversity survey 2017
*   Dataset Identifier: butterfly-biodiversity-survey-2017

<a href="https://data.melbourne.vic.gov.au/explore/dataset/butterfly-biodiversity-survey-2017/table/" target="_blank">Dataset Link</a>

**Summary:** Comprehensive survey data capturing observations of butterflies across various sites within Melbourne for the year 2017. Details include environmental conditions, vegetation types, and specific butterfly sightings.

The dataset provides granular details such as temperature, humidity, vegetation details, and wind conditions at the time of each observation, along with precise geographic coordinates. It aims to aid research into butterfly populations and their responses to urban environments.

Note: Data points include specific environmental conditions and butterfly species observations to better understand the impact of urban settings on biodiversity.

Note: The dataset is useful for ecological research and conservation planning, providing essential data for studies on biodiversity in urban parks.

In [65]:
SENSOR_DATASET = 'butterfly-biodiversity-survey-2017'
butterfly = fetch_data(BASE_URL, SENSOR_DATASET, API_KEY)
butterfly.head()

,site,sloc,walk,date,time,vegwalktime,vegspecies,vegfamily,lat,lon,...,tabe,brow,csem,aand,jvil,paur,ogyr,gmac,datetime,location
0,Womens Peace Gardens,2,1,2017-02-26,0001-01-01T11:42:00+00:00,1.3128,Schinus molle,Anacardiaceae,-37.7912,144.9244,...,0,0,0,0,0,0,0,0,2017-02-26T11:42:00+00:00,"{'lon': 144.9244, 'lat': -37.7912}"
1,Argyle Square,1,1,2017-11-02,0001-01-01T10:30:00+00:00,0.3051,Rosmarinus officinalis,Lamiaceae,-37.8023,144.9665,...,0,0,0,0,0,0,0,0,2017-02-11T10:30:00+00:00,"{'lon': 144.9665, 'lat': -37.8023}"
2,Argyle Square,2,1,2017-12-01,0001-01-01T10:35:00+00:00,0.3620,Euphorbia sp.,Euphorbiaceae,-37.8026,144.9665,...,0,0,0,0,0,0,0,0,2017-01-12T10:35:00+00:00,"{'lon': 144.9665, 'lat': -37.8026}"
3,Westgate Park,4,1,2017-03-03,0001-01-01T11:44:00+00:00,3.1585,Melaleuca lanceolata,Myrtaceae,-37.8316,144.9089,...,0,0,0,0,0,0,0,0,2017-03-03T11:44:00+00:00,"{'lon': 144.9089, 'lat': -37.8316}"
4,Argyle Square,1,3,2017-01-15,0001-01-01T12:33:00+00:00,0.4432,Mentha sp.,Lamiaceae,-37.8027,144.9662,...,0,0,0,0,0,0,0,0,2017-01-15T12:33:00+00:00,"{'lon': 144.9662, 'lat': -37.8027}"

In [66]:
#View info of data
butterfly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4056 entries, 0 to 4055
Data columns (total 42 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site         4056 non-null   object
 1   sloc         4056 non-null   int64
 2   walk         4056 non-null   int64
 3   date         4056 non-null   object
 4   time         4056 non-null   object
 5   vegwalktime  4052 non-null   float64
 6   vegspecies   4056 non-null   object
 7   vegfamily    4056 non-null   object
 8   lat          4056 non-null   float64
 9   lon          4056 non-null   float64
 10  temp         4056 non-null   float64
 11  hum          4056 non-null   float64
 12  win1         4056 non-null   float64
 13  win2         4056 non-null   float64
 14  win3         4056 non-null   float64
 15  win4         4056 non-null   float64
 16  win          4056 non-null   float64
 17  per          4056 non-null   int64
 18  sur          4056 non-null   int64
 19  prap         4056 non-null   int64
 20  vker         4056 non-null   int64
 21  vite         4056 non-null   int64
 22  blue         4056 non-null   int64
 23  dpet         4056 non-null   int64
 24  dple         4056 non-null   int64
 25  pana         4056 non-null   int64
 26  pdem         4056 non-null   int64
 27  hesp         4056 non-null   int64
 28  esmi         4056 non-null   int64
 29  cato         4056 non-null   int64
 30  gaca         4056 non-null   int64
 31  belo         4056 non-null   int64
 32  tabe         4056 non-null   int64
 33  brow         4056 non-null   int64
 34  csem         4056 non-null   int64
 35  aand         4056 non-null   int64
 36  jvil         4056 non-null   int64
 37  paur         4056 non-null   int64
 38  ogyr         4056 non-null   int64
 39  gmac         4056 non-null   int64
 40  datetime     4056 non-null   object
 41  location     4056 non-null   object
dtypes: float64(10), int64(25), object(7)
memory usage: 1.3+ MB

In [67]:
# Check missing values for dataset
missing_values = butterfly.isnull().sum()
missing_values # Number of missing values in each column

site           0
sloc           0
walk           0
date           0
time           0
vegwalktime    4
vegspecies     0
vegfamily      0
lat            0
lon            0
temp           0
hum            0
win1           0
win2           0
win3           0
win4           0
win            0
per            0
sur            0
prap           0
vker           0
vite           0
blue           0
dpet           0
dple           0
pana           0
pdem           0
hesp           0
esmi           0
cato           0
gaca           0
belo           0
tabe           0
brow           0
csem           0
aand           0
jvil           0
paur           0
ogyr           0
gmac           0
datetime       0
location       0
dtype: int64

In [68]:
# Column names to check for missing values
column_name_vegwalktime = 'vegwalktime'

# Calculate the percentage of missing values
percentage_missing_vegwalktime = (missing_values[column_name_vegwalktime] / len(butterfly)) * 100

# Print the results
print(f"Percentage of missing values for '{column_name_vegwalktime}': {percentage_missing_vegwalktime:.2f}%")

Percentage of missing values for 'vegwalktime': 0.10%

In [69]:
# Find missing vegwalktime
missing_vegwalktime_completed = butterfly[butterfly['vegwalktime'].isnull()]
missing_vegwalktime_completed

,site,sloc,walk,date,time,vegwalktime,vegspecies,vegfamily,lat,lon,...,tabe,brow,csem,aand,jvil,paur,ogyr,gmac,datetime,location
495,Royal Park,6,2,2017-02-16,0001-01-01T14:11:00+00:00,NaN,Lythrum salicaria,Primulaceae,-37.7824,144.9433,...,0,0,0,0,0,0,0,0,2017-02-16T14:11:00+00:00,"{'lon': 144.9433, 'lat': -37.7824}"
685,Royal Park,6,2,2017-02-16,0001-01-01T14:11:00+00:00,NaN,Lythrum salicaria,Primulaceae,-37.7824,144.9433,...,0,0,0,0,0,0,0,0,2017-02-16T14:11:00+00:00,"{'lon': 144.9433, 'lat': -37.7824}"
2249,Royal Park,6,2,2017-02-16,0001-01-01T14:11:00+00:00,NaN,Lythrum salicaria,Primulaceae,-37.7824,144.9433,...,0,0,0,0,0,0,0,0,2017-02-16T14:11:00+00:00,"{'lon': 144.9433, 'lat': -37.7824}"
2992,Royal Park,6,2,2017-02-16,0001-01-01T14:11:00+00:00,NaN,Lythrum salicaria,Primulaceae,-37.7824,144.9433,...,0,0,0,0,0,0,0,0,2017-02-16T14:11:00+00:00,"{'lon': 144.9433, 'lat': -37.7824}"

In [70]:
#Replace "-" with NaN
butterfly['vegwalktime'].replace('-', float('nan'), inplace=True)

In [72]:
print(butterfly)

                          site  sloc  walk        date  \
0         Womens Peace Gardens     2     1  2017-02-26
1                Argyle Square     1     1  2017-11-02
2                Argyle Square     2     1  2017-12-01
3                Westgate Park     4     1  2017-03-03
4                Argyle Square     1     3  2017-01-15
...                        ...   ...   ...         ...
4051  Fitzroy-Treasury Gardens     3     2  2017-06-02
4052             Westgate Park     4     2  2017-02-02
4053             Westgate Park     5     3  2017-06-03
4054             Westgate Park     4     1  2017-02-02
4055     Carlton Gardens South     3     1  2017-01-30

                           time  vegwalktime              vegspecies  \
0     0001-01-01T11:42:00+00:00       1.3128           Schinus molle
1     0001-01-01T10:30:00+00:00       0.3051  Rosmarinus officinalis
2     0001-01-01T10:35:00+00:00       0.3620           Euphorbia sp.
3     0001-01-01T11:44:00+00:00       3.1585    Melaleuca lanceolata
4     0001-01-01T12:33:00+00:00       0.4432              Mentha sp.
...                         ...          ...                     ...
4051  0001-01-01T17:44:00+00:00       0.5132             Tagetes sp.
4052  0001-01-01T13:57:00+00:00       2.1947    Myoporum parvifolium
4053  0001-01-01T15:43:00+00:00       4.2408        Cassinia arcuata
4054  0001-01-01T11:05:00+00:00       1.5948    Xerochrysum viscosum
4055  0001-01-01T12:42:00+00:00       1.4437            Asteraceae 1

             vegfamily      lat       lon  ...  tabe  brow  csem  aand  jvil  \
0        Anacardiaceae -37.7912  144.9244  ...     0     0     0     0     0
1            Lamiaceae -37.8023  144.9665  ...     0     0     0     0     0
2        Euphorbiaceae -37.8026  144.9665  ...     0     0     0     0     0
3            Myrtaceae -37.8316  144.9089  ...     0     0     0     0     0
4            Lamiaceae -37.8027  144.9662  ...     0     0     0     0     0
...                ...      ...       ...  ...   ...   ...   ...   ...   ...
4051        Asteraceae -37.8136  144.9819  ...     0     0     0     0     0
4052  Scrophulariaceae -37.8311  144.9092  ...     0     0     0     0     0
4053        Asteraceae -37.8299  144.9106  ...     0     0     0     0     0
4054        Asteraceae -37.8316  144.9093  ...     0     0     0     0     0
4055        Asteraceae -37.8044  144.9704  ...     0     0     0     0     0

      paur  ogyr  gmac                   datetime  \
0        0     0     0  2017-02-26T11:42:00+00:00
1        0     0     0  2017-02-11T10:30:00+00:00
2        0     0     0  2017-01-12T10:35:00+00:00
3        0     0     0  2017-03-03T11:44:00+00:00
4        0     0     0  2017-01-15T12:33:00+00:00
...    ...   ...   ...                        ...
4051     0     0     0  2017-02-06T17:44:00+00:00
4052     0     0     0  2017-02-02T13:57:00+00:00
4053     0     0     0  2017-03-06T15:43:00+00:00
4054     0     0     0  2017-02-02T11:05:00+00:00
4055     0     0     0  2017-01-30T12:42:00+00:00

                                location
0     {'lon': 144.9244, 'lat': -37.7912}
1     {'lon': 144.9665, 'lat': -37.8023}
2     {'lon': 144.9665, 'lat': -37.8026}
3     {'lon': 144.9089, 'lat': -37.8316}
4     {'lon': 144.9662, 'lat': -37.8027}
...                                  ...
4051  {'lon': 144.9819, 'lat': -37.8136}
4052  {'lon': 144.9092, 'lat': -37.8311}
4053  {'lon': 144.9106, 'lat': -37.8299}
4054  {'lon': 144.9093, 'lat': -37.8316}
4055  {'lon': 144.9704, 'lat': -37.8044}

[4056 rows x 42 columns]

#### Dataset 3: Bioblitz 2016
*   Dataset Identifier: bioblitz-2016

<a href="https://data.melbourne.vic.gov.au/explore/dataset/bioblitz-2016/table/" target="_blank">Dataset Link</a>

**Summary:** This dataset records a variety of living organisms spotted during the BioBlitz event in Melbourne in 2016. It catalogues diverse species ranging from molluscs to annelids and includes detailed taxonomic information.

Data entries are detailed with the taxonomy from kingdom to species level where available, common names, and precise geo-coordinates of each sighting. Identification notes and resource names provide context about the sighting sources and identification methods.

Note: Observations were gathered through community and expert contributions during the BioBlitz event, aimed at cataloguing as many species as possible within a short time frame.

Note: This dataset serves as a valuable resource for ecological studies and environmental education, offering insights into the local biodiversity of Melbourne.

In [84]:
SENSOR_DATASET = 'bioblitz-2016'
bio = fetch_data(BASE_URL, SENSOR_DATASET, API_KEY)
bio.head()

,taxa,kingdom,phylum,class,order,family,genus,species,common_name,identification_notes,data_resource_name,sighting_date,latitude,longitude,location,geopoint
0,Mollusc,ANIMALIA,MOLLUSCA,None,None,None,None,None,None,None,Participate Melbourne,2016-03-02,-37.8298,144.9002,None,"{'lon': 144.9002, 'lat': -37.8298}"
1,Insect,ANIMALIA,ARTHROPODA,INSECTA,None,None,None,None,None,Insect,Bowerbird,2016-03-20,-37.8185,144.9748,None,"{'lon': 144.9748, 'lat': -37.8185}"
2,Annelid,ANIMALIA,ANNELIDA,OLIGOCHAETA,None,None,None,None,None,Earthworm,Handwritten,2016-03-04,-37.8060,144.9710,None,"{'lon': 144.971, 'lat': -37.806}"
3,Annelid,ANIMALIA,ANNELIDA,OLIGOCHAETA,None,None,None,None,None,Freshwater Oligochaete Worm,Handwritten,2016-03-04,-37.8290,144.9800,None,"{'lon': 144.98, 'lat': -37.829}"
4,Amphibian,ANIMALIA,CHORDATA,AMPHIBIA,ANURA,HYLIDAE,Litoria,None,None,Tiny Frog,Participate Melbourne,2016-03-16,-37.8204,145.2496,None,"{'lon': 145.2496, 'lat': -37.8204}"

In [83]:
#View info of data
bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1356 entries, 0 to 1355
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   taxa                  1353 non-null   object
 1   kingdom               1353 non-null   object
 2   phylum                1322 non-null   object
 3   class                 1314 non-null   object
 4   order                 1177 non-null   object
 5   family                1139 non-null   object
 6   genus                 953 non-null    object
 7   species               846 non-null    object
 8   common_name           802 non-null    object
 9   identification_notes  588 non-null    object
 10  data_resource_name    1356 non-null   object
 11  sighting_date         1350 non-null   object
 12  latitude              1356 non-null   float64
 13  longitude             1353 non-null   float64
 14  location              0 non-null      object
 15  location              1353 non-null   object
dtypes: float64(2), object(14)
memory usage: 169.6+ KB

In [75]:
# Check missing values for dataset
missing_values = bio.isnull().sum()
missing_values # Number of missing values in each column

taxa                       3
kingdom                    3
phylum                    34
class                     42
order                    179
family                   217
genus                    403
species                  510
common_name              554
identification_notes     768
data_resource_name         0
sighting_date              6
latitude                   0
longitude                  3
location                1356
geopoint                   3
dtype: int64

#### Merge Bat and Bioblitz dataset

In [127]:
# List of common columns to merge on (assuming other column names are already standardized)
common_columns = ['taxa', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'common_name', 'location']

# Perform the merge
merged_data = pd.merge(bat, bio, on=common_columns, how='outer')

# Save the merged data to a new CSV file and check the merged dataset
merged_data.to_csv('merged_dataset.csv', index=False)
print(merged_data.head())
print(merged_data.columns)

     taxa   kingdom    phylum     class       order            family  \
0  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA        MOLOSSIDAE
1  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA  VESPERTILIONIDAE
2  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA  VESPERTILIONIDAE
3  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA        MOLOSSIDAE
4  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA        MOLOSSIDAE

          genus    species                 common_name              park_name  \
0   Mormopterus       None                        None  Royal Botanic Gardens
1  Chalinolobus    gouldii         Gould's Wattled Bat        Fitzroy Gardens
2  Chalinolobus    gouldii         Gould's Wattled Bat  Royal Botanic Gardens
3  Austronomous  australis  White-striped Freetail Bat        Fitzroy Gardens
4   Mormopterus       None                        None        Fitzroy Gardens

                             location identification_notes data_resource_name  \
0  {'lon': 144.9804, 'lat': -37.8312}                  NaN                NaN
1  {'lon': 144.9786, 'lat': -37.8135}                  NaN                NaN
2  {'lon': 144.9804, 'lat': -37.8312}                  NaN                NaN
3  {'lon': 144.9786, 'lat': -37.8135}                  NaN                NaN
4  {'lon': 144.9786, 'lat': -37.8135}                  NaN                NaN

  sighting_date  latitude  longitude
0           NaN       NaN        NaN
1           NaN       NaN        NaN
2           NaN       NaN        NaN
3           NaN       NaN        NaN
4           NaN       NaN        NaN
Index(['taxa', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus',
       'species', 'common_name', 'park_name', 'location',
       'identification_notes', 'data_resource_name', 'sighting_date',
       'latitude', 'longitude'],
      dtype='object')

In [128]:
def remove_duplicate_columns(df):
    # Check for duplicate columns by column name and keep the first occurrence
    df = df.loc[:, ~df.columns.duplicated()]
    return df

# Apply this function to both datasets
bat = remove_duplicate_columns(bat)
bio = remove_duplicate_columns(bio)

# Verify columns again before merging
print("Columns in 'bat' dataset:", bat.columns)
print("Columns in 'bio' dataset:", bio.columns)

# Perform the merge
common_columns = ['taxa', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus', 'species', 'common_name', 'location']
merged_data = pd.merge(bat, bio, on=common_columns, how='outer')

# Save and check the merged dataset
merged_data.to_csv('merged_dataset.csv', index=False)
print(merged_data.head())
print("Columns in merged dataset:", merged_data.columns)

Columns in 'bat' dataset: Index(['taxa', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus',
       'species', 'common_name', 'park_name', 'location'],
      dtype='object')
Columns in 'bio' dataset: Index(['taxa', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus',
       'species', 'common_name', 'identification_notes', 'data_resource_name',
       'sighting_date', 'latitude', 'longitude', 'location'],
      dtype='object')
     taxa   kingdom    phylum     class       order            family  \
0  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA        MOLOSSIDAE
1  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA  VESPERTILIONIDAE
2  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA  VESPERTILIONIDAE
3  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA        MOLOSSIDAE
4  Mammal  ANIMALIA  CHORDATA  MAMMALIA  CHIROPTERA        MOLOSSIDAE

          genus    species                 common_name              park_name  \
0   Mormopterus       None                        None  Royal Botanic Gardens
1  Chalinolobus    gouldii         Gould's Wattled Bat        Fitzroy Gardens
2  Chalinolobus    gouldii         Gould's Wattled Bat  Royal Botanic Gardens
3  Austronomous  australis  White-striped Freetail Bat        Fitzroy Gardens
4   Mormopterus       None                        None        Fitzroy Gardens

                             location identification_notes data_resource_name  \
0  {'lon': 144.9804, 'lat': -37.8312}                  NaN                NaN
1  {'lon': 144.9786, 'lat': -37.8135}                  NaN                NaN
2  {'lon': 144.9804, 'lat': -37.8312}                  NaN                NaN
3  {'lon': 144.9786, 'lat': -37.8135}                  NaN                NaN
4  {'lon': 144.9786, 'lat': -37.8135}                  NaN                NaN

  sighting_date  latitude  longitude
0           NaN       NaN        NaN
1           NaN       NaN        NaN
2           NaN       NaN        NaN
3           NaN       NaN        NaN
4           NaN       NaN        NaN
Columns in merged dataset: Index(['taxa', 'kingdom', 'phylum', 'class', 'order', 'family', 'genus',
       'species', 'common_name', 'park_name', 'location',
       'identification_notes', 'data_resource_name', 'sighting_date',
       'latitude', 'longitude'],
      dtype='object')

In [129]:
import pandas as pd
import ast  # Import the ast module to safely evaluate strings containing Python expressions

# Check if the DataFrame has 'longitude' and 'latitude' columns; if not, create them
if 'longitude' not in merged_data.columns:
    merged_data['longitude'] = None
if 'latitude' not in merged_data.columns:
    merged_data['latitude'] = None

# Function to update longitude and latitude from location if they are None
def update_coords(row):
    if pd.isnull(row['longitude']) and pd.isnull(row['latitude']) and isinstance(row['location'], str):
        try:
            loc_dict = ast.literal_eval(row['location'])
            row['longitude'] = loc_dict.get('lon', None)
            row['latitude'] = loc_dict.get('lat', None)
        except:
            pass  # Handle errors from incorrect format or evaluation
    return row

# Apply the function to each row in the DataFrame
merged_data = merged_data.apply(update_coords, axis=1)

# Remove the column no longer needed
merged_data.drop('location', axis=1, inplace=True)
merged_data.drop('identification_notes', axis=1, inplace=True)
merged_data.drop('data_resource_name', axis=1, inplace=True)
merged_data.drop('sighting_date', axis=1, inplace=True)


# Check the updated DataFrame
print(merged_data[['longitude', 'latitude']].head())

   longitude  latitude
0   144.9804  -37.8312
1   144.9786  -37.8135
2   144.9804  -37.8312
3   144.9786  -37.8135
4   144.9786  -37.8135

In [130]:
merged_data.head()

,taxa,kingdom,phylum,class,order,family,genus,species,common_name,park_name,latitude,longitude
0,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Royal Botanic Gardens,-37.8312,144.9804
1,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,VESPERTILIONIDAE,Chalinolobus,gouldii,Gould's Wattled Bat,Fitzroy Gardens,-37.8135,144.9786
2,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,VESPERTILIONIDAE,Chalinolobus,gouldii,Gould's Wattled Bat,Royal Botanic Gardens,-37.8312,144.9804
3,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Austronomous,australis,White-striped Freetail Bat,Fitzroy Gardens,-37.8135,144.9786
4,Mammal,ANIMALIA,CHORDATA,MAMMALIA,CHIROPTERA,MOLOSSIDAE,Mormopterus,None,None,Fitzroy Gardens,-37.8135,144.9786

In [131]:
merged_data.info

<bound method DataFrame.info of          taxa   kingdom      phylum          class       order  \
0      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
1      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
2      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
3      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
4      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
...       ...       ...         ...            ...         ...
1361    Plant   PLANTAE  CHAROPHYTA  EQUISETOPSIDA      POALES
1362  Reptile  ANIMALIA    CHORDATA       REPTILIA    SQUAMATA
1363     None      None        None           None        None
1364     None      None        None           None        None
1365     None      None        None           None        None

                family         genus         species  \
0           MOLOSSIDAE   Mormopterus            None
1     VESPERTILIONIDAE  Chalinolobus         gouldii
2     VESPERTILIONIDAE  Chalinolobus         gouldii
3           MOLOSSIDAE  Austronomous       australis
4           MOLOSSIDAE   Mormopterus            None
...                ...           ...             ...
1361           POACEAE    Distichlis  distichophylla
1362         SCINCIDAE     Liopholis          whitii
1363              None          None            None
1364              None          None            None
1365              None          None            None

                     common_name              park_name  latitude  longitude
0                           None  Royal Botanic Gardens  -37.8312   144.9804
1            Gould's Wattled Bat        Fitzroy Gardens  -37.8135   144.9786
2            Gould's Wattled Bat  Royal Botanic Gardens  -37.8312   144.9804
3     White-striped Freetail Bat        Fitzroy Gardens  -37.8135   144.9786
4                           None        Fitzroy Gardens  -37.8135   144.9786
...                          ...                    ...       ...        ...
1361       Australian Salt Grass                    NaN  -37.8310   144.9100
1362               White's Skink                    NaN  -37.7900   144.9490
1363                        None                    NaN  144.9352        NaN
1364                        None                    NaN  144.9422        NaN
1365                        None                    NaN  145.3491        NaN

[1366 rows x 12 columns]>

In [132]:
print(merged_data)

         taxa   kingdom      phylum          class       order  \
0      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
1      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
2      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
3      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
4      Mammal  ANIMALIA    CHORDATA       MAMMALIA  CHIROPTERA
...       ...       ...         ...            ...         ...
1361    Plant   PLANTAE  CHAROPHYTA  EQUISETOPSIDA      POALES
1362  Reptile  ANIMALIA    CHORDATA       REPTILIA    SQUAMATA
1363     None      None        None           None        None
1364     None      None        None           None        None
1365     None      None        None           None        None

                family         genus         species  \
0           MOLOSSIDAE   Mormopterus            None
1     VESPERTILIONIDAE  Chalinolobus         gouldii
2     VESPERTILIONIDAE  Chalinolobus         gouldii
3           MOLOSSIDAE  Austronomous       australis
4           MOLOSSIDAE   Mormopterus            None
...                ...           ...             ...
1361           POACEAE    Distichlis  distichophylla
1362         SCINCIDAE     Liopholis          whitii
1363              None          None            None
1364              None          None            None
1365              None          None            None

                     common_name              park_name  latitude  longitude
0                           None  Royal Botanic Gardens  -37.8312   144.9804
1            Gould's Wattled Bat        Fitzroy Gardens  -37.8135   144.9786
2            Gould's Wattled Bat  Royal Botanic Gardens  -37.8312   144.9804
3     White-striped Freetail Bat        Fitzroy Gardens  -37.8135   144.9786
4                           None        Fitzroy Gardens  -37.8135   144.9786
...                          ...                    ...       ...        ...
1361       Australian Salt Grass                    NaN  -37.8310   144.9100
1362               White's Skink                    NaN  -37.7900   144.9490
1363                        None                    NaN  144.9352        NaN
1364                        None                    NaN  144.9422        NaN
1365                        None                    NaN  145.3491        NaN

[1366 rows x 12 columns]

In [133]:
merged_data.to_csv('merged_dataset.csv', index=False)