In [1]:
# Importing the required Libraries
import pandas as pd
import numpy as np
from sodapy import Socrata

In [17]:
 sensor_data_df = pd.read_csv("tidyped.csv")

In [18]:
client = Socrata("data.melbourne.vic.gov.au", None)
sensor_locations = client.get("h57g-5234")
sensor_locations_df = pd.DataFrame.from_records(sensor_locations)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [ ]:
# Extracting selected columns
sensor_locations_df = sensor_locations_df[["sensor_id", "sensor_description", "latitude", "longitude"]]
sensor_locations_df.head()

In [24]:
# Fixing the data types
sensor_locations_df["sensor_id"] = sensor_locations_df["sensor_id"].astype(int)
sensor_locations_df["latitude"] = sensor_locations_df["latitude"].astype(float)
sensor_locations_df["longitude"] = sensor_locations_df["longitude"].astype(float)
sensor_locations_df.dtypes

sensor_id               int32
sensor_description     object
latitude              float64
longitude             float64
dtype: object

In [25]:
# Sensor Location to CSV
sensor_locations_df.to_csv("SensorLocations.csv", index=False)

In [28]:
# Including sensor location to the ped count dataset
sensor_data_df = sensor_data_df.merge(sensor_locations_df, on='sensor_id', how='left')

In [29]:
# Saving the dataset to CSV
sensor_data_df.to_csv("TidyPedL.csv", index=False)

In [30]:
sensor_data_df.head()

,date_time,sensor_id,hourly_counts,sensor_description,latitude,longitude
0,2019-11-01 17:00:00,34,300,Flinders St-Spark La,-37.815380,144.974151
1,2019-11-01 17:00:00,39,604,Alfred Place,-37.813797,144.969957
2,2019-11-01 17:00:00,37,216,Lygon St (East),-37.803103,144.966715
3,2019-11-01 17:00:00,40,627,Lonsdale St-Spring St (West),-37.809993,144.972276
4,2019-11-01 17:00:00,36,774,Queen St (West),-37.816525,144.961211