In [1]:
!pip install sodapy

Collecting sodapy
  Downloading sodapy-2.1.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: requests>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from sodapy) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->sodapy) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->sodapy) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20.0->sodapy) (1.24.3)
Installing collected packages: sodapy
Successfully installed sodapy-2.1.0

# Data Cleanning

## Pedestrian Counting System - Monthly (counts per hour)

In [88]:
from sodapy import Socrata
import pandas as pd

client = Socrata('data.melbourne.vic.gov.au', None)
results = client.get('b2ak-trbp', limit=3962835)
df = pd.DataFrame.from_records(results)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [89]:
PDA_counting = PDA_counting.drop(["Unnamed: 0", "id"], axis = 1)

In [90]:
#Show the first 5 rows
PDA_counting.head()

                 date_time  year  ...                   sensor_name  hourly_counts
0  2019-11-01T17:00:00.000  2019  ...          Flinders St-Spark La            300
1  2019-11-01T17:00:00.000  2019  ...                  Alfred Place            604
2  2019-11-01T17:00:00.000  2019  ...               Lygon St (East)            216
3  2019-11-01T17:00:00.000  2019  ...  Lonsdale St-Spring St (West)            627
4  2019-11-01T17:00:00.000  2019  ...               Queen St (West)            774

[5 rows x 9 columns]

In [91]:
print(f"Pedetrian counting dataset has {PDA_counting.shape[0]} records")
print(f"Pedetrian counting dataset has {PDA_counting.shape[1]} features")
print(f"The features of dataset:")
print(f"                                 {', '.join(PDA_counting.columns)}")

Pedetrian counting dataset has 3962835 records
Pedetrian counting dataset has 9 features
The features of dataset:
                                 date_time, year, month, mdate, day, time, sensor_id, sensor_name, hourly_counts

In [92]:
#Get type of feature
PDA_counting.dtypes

date_time        object
year              int64
month            object
mdate             int64
day              object
time              int64
sensor_id         int64
sensor_name      object
hourly_counts     int64
dtype: object

In [93]:
#Check Missing Values
PDA_counting.isnull().sum()

date_time        0
year             0
month            0
mdate            0
day              0
time             0
sensor_id        0
sensor_name      0
hourly_counts    0
dtype: int64

There are no missing values in Pedestrian Counting dataset.

In [94]:
#Rename headers
PDA_counting.columns = ["DateTime", "Year", "Month", "Date", "Day", "Time", "Sensor ID", "Sensor Name","Hourly Count"]

Data Information

|ID| Column | Description | Type |
|---| --- | --- | --- |
|1|DateTime | Date&Time | String |
|2|Year | Year of reading | Integer |
|3|Month | Month of year | String |
|4|Date | Date of year | Integer |
|5|Day | Day of week | String |
|6|Time- | Time of day | Integer |
|7|Sensor ID | Sensor ID | Integer |
|8|Sensor Name | Sensor name | String |
|9|Hourly Count | Total hourly sensor readings (count of pedestrians ) | Interger|

## Sensor Location

In [95]:
#Get the location of Pedestrian Sensor
from sodapy import Socrata
client = Socrata('data.melbourne.vic.gov.au', None)
results = client.get('h57g-5234')
PDA_location = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [96]:
PDA_location.head()

  sensor_id  ... note
0        55  ...  NaN
1        45  ...  NaN
2        61  ...  NaN
3         7  ...  NaN
4        72  ...  NaN

[5 rows x 11 columns]

In [97]:
PDA_location = PDA_location[["sensor_id", "latitude", "longitude", "location"]]
#Rename Headers 
PDA_location.columns = ["Sensor ID", "Latitude", "Longitude", "Location"]

In [98]:
PDA_location.head()

  Sensor ID  ...                                           Location
0        55  ...  {'latitude': '-37.80988941', 'longitude': '144...
1        45  ...  {'latitude': '-37.81414074', 'longitude': '144...
2        61  ...  {'latitude': '-37.80767455', 'longitude': '144...
3         7  ...  {'latitude': '-37.81862929', 'longitude': '144...
4        72  ...  {'latitude': '-37.81726337', 'longitude': '144...

[5 rows x 4 columns]

In [99]:
PDA_location["Sensor ID"] = pd.to_numeric(PDA_location["Sensor ID"])

In [100]:
PDA_location.dtypes

Sensor ID     int64
Latitude     object
Longitude    object
Location     object
dtype: object

# Add location of sensors into Pedestrian Counting System - Monthly (counts per hour)

In [101]:
PDA_dataset = pd.merge(PDA_location, PDA_counting, on='Sensor ID', how='inner')

In [102]:
PDA_dataset.head()

   Sensor ID      Latitude  ...                      Sensor Name Hourly Count
0         55  -37.80988941  ...  Elizabeth St-La Trobe St (East)         2070
1         55  -37.80988941  ...  Elizabeth St-La Trobe St (East)         1972
2         55  -37.80988941  ...  Elizabeth St-La Trobe St (East)         1748
3         55  -37.80988941  ...  Elizabeth St-La Trobe St (East)         1673
4         55  -37.80988941  ...  Elizabeth St-La Trobe St (East)         1530

[5 rows x 12 columns]

In [103]:
PDA_dataset.dtypes

Sensor ID        int64
Latitude        object
Longitude       object
Location        object
DateTime        object
Year             int64
Month           object
Date             int64
Day             object
Time             int64
Sensor Name     object
Hourly Count     int64
dtype: object

In [104]:
#Save dataset
PDA_dataset.to_csv("drive/MyDrive/SIT782/Data/PDA.csv", index=False)

# Lockdown Data

The dates of lockdowns are gotten from https://www.abc.net.au/news/2021-08-19/melbourne-200-days-of-covid-lockdowns-victoria/100386078

In [140]:
lockdown_1 = pd.date_range("2020-03-31", end ="2020-05-12" , freq="D")
lockdown_2 = pd.date_range("2020-07-09", end ="2020-10-27" , freq="D")
lockdown_3 = pd.date_range("2021-02-13", end ="2021-02-17" , freq="D")
lockdown_4 = pd.date_range("2021-05-28", end ="2021-06-10" , freq="D")
lockdown_5 = pd.date_range("2021-07-16", end ="2021-07-27" , freq="D")
lockdown_6 = pd.date_range("2021-08-05", end ="2021-10-26" , freq="D")

In [141]:
lockdown_1 = lockdown_1.append(lockdown_2)
lockdown_1 = lockdown_1.append(lockdown_3)
lockdown_1 = lockdown_1.append(lockdown_4)
lockdown_1 = lockdown_1.append(lockdown_5)
lockdown_1 = lockdown_1.append(lockdown_6)

In [142]:
lockdown_ds = pd.DataFrame(lockdown_1)
lockdown_ds["Lockdown"] = 1 
lockdown_ds.columns = ["Date", "Lockdown"]

In [143]:
PDA_counting.iloc[0]

DateTime        2019-11-01T17:00:00.000
Year                               2019
Month                          November
Date                                  1
Day                              Friday
Time                                 17
Sensor ID                            34
Sensor Name        Flinders St-Spark La
Hourly Count                        300
Name: 0, dtype: object

In [144]:
PDA_counting.iloc[-1]

DateTime        2021-10-31T23:00:00.000
Year                               2021
Month                           October
Date                                 31
Day                              Sunday
Time                                 23
Sensor ID                            79
Sensor Name         Flinders St (South)
Hourly Count                        190
Name: 3962834, dtype: object

In [145]:
period_analysis = pd.date_range("2019-11-01", end ="2021-10-31" , freq="D")
mummy_data = pd.DataFrame(period_analysis)
mummy_data.columns = ["Date"]
lockdown_ds = pd.merge(mummy_data, lockdown_ds, on='Date', how='outer')
lockdown_ds = lockdown_ds.fillna(0)

In [146]:
lockdown_ds

          Date  Lockdown
0   2019-11-01       0.0
1   2019-11-02       0.0
2   2019-11-03       0.0
3   2019-11-04       0.0
4   2019-11-05       0.0
..         ...       ...
726 2021-10-27       0.0
727 2021-10-28       0.0
728 2021-10-29       0.0
729 2021-10-30       0.0
730 2021-10-31       0.0

[731 rows x 2 columns]

In [123]:
lockdown_ds.to_csv("drive/MyDrive/SIT782/Data/lockdown_duration.csv", index=False)

## Merge Lockdown data and PDA

In [138]:
PDA_data = pd.read_csv("drive/MyDrive/SIT782/Data/PDA.csv")
PDA_data.head()

   Sensor ID   Latitude  ...                      Sensor Name Hourly Count
0         55 -37.809889  ...  Elizabeth St-La Trobe St (East)         2070
1         55 -37.809889  ...  Elizabeth St-La Trobe St (East)         1972
2         55 -37.809889  ...  Elizabeth St-La Trobe St (East)         1748
3         55 -37.809889  ...  Elizabeth St-La Trobe St (East)         1673
4         55 -37.809889  ...  Elizabeth St-La Trobe St (East)         1530

[5 rows x 12 columns]

In [147]:
#Conver datatime to string
lockdown_ds["Date"] = lockdown_ds["Date"].apply(lambda x:str(x)[:10])
lockdown_ds.columns = ["DateTime2", "Lockdown"]
lockdown_ds.head()

    DateTime2  Lockdown
0  2019-11-01       0.0
1  2019-11-02       0.0
2  2019-11-03       0.0
3  2019-11-04       0.0
4  2019-11-05       0.0

In [148]:
PDA_data["DateTime2"] = PDA_data["DateTime"].apply(lambda x: str(x)[:10])

In [149]:
PDA_data

         Sensor ID   Latitude  ...  Hourly Count   DateTime2
0               55 -37.809889  ...          2070  2019-11-01
1               55 -37.809889  ...          1972  2019-11-01
2               55 -37.809889  ...          1748  2019-11-01
3               55 -37.809889  ...          1673  2019-11-01
4               55 -37.809889  ...          1530  2019-11-01
...            ...        ...  ...           ...         ...
3962830         79 -37.817940  ...           464  2021-10-31
3962831         79 -37.817940  ...           396  2021-10-31
3962832         79 -37.817940  ...           343  2021-10-31
3962833         79 -37.817940  ...           298  2021-10-31
3962834         79 -37.817940  ...           190  2021-10-31

[3962835 rows x 13 columns]

In [151]:
PDA_dataset = pd.merge(PDA_data, lockdown_ds, on='DateTime2', how='inner')

In [ ]:
PDA_dataset = PDA_dataset.drop("DateTime2", axis = 1)
PDA_dataset = PDA_dataset[["DateTime", "Year", "Month", "Date", "Day", "Time", "Sensor ID", "Sensor Name", "Latitude", "Longitude", "Location", "Lockdown", "Hourly Count"]]

In [160]:
PDA_dataset.head()

                  DateTime  Year  ... Lockdown  Hourly Count
0  2019-11-01T17:00:00.000  2019  ...      0.0          2070
1  2019-11-01T18:00:00.000  2019  ...      0.0          1972
2  2019-11-01T19:00:00.000  2019  ...      0.0          1748
3  2019-11-01T20:00:00.000  2019  ...      0.0          1673
4  2019-11-01T21:00:00.000  2019  ...      0.0          1530

[5 rows x 13 columns]

In [161]:
PDA_dataset.to_csv("drive/MyDrive/SIT782/Data/PDA.csv", index=False)