<a href="https://colab.research.google.com/github/Chameleon-company/MOP-Code/blob/Manasa/usecase_TEMPLATE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_**DELETE BEFORE PUBLISHING**_

_This is a template also containing the style guide for use cases. The styling uses the use-case css when uploaded to the website, which will not be visible on your local machine._

_Change any text marked with {} and delete any cells marked DELETE_

***

In [ ]:
# DELETE BEFORE PUBLISHING
# This is just here so you can preview the styling on your local machine

from IPython.core.display import HTML
HTML("""
<style>
.usecase-title, .usecase-duration, .usecase-section-header {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    background-color: #0f9295;
    color: #fff;
}

.usecase-title {
    font-size: 1.7em;
    font-weight: bold;
}

.usecase-authors, .usecase-level, .usecase-skill {
    padding-left: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    background-color: #baeaeb;
    font-size: 1.4em;
    color: #121212;
}

.usecase-level-skill  {
    display: flex;
}

.usecase-level, .usecase-skill {
    width: 50%;
}

.usecase-duration, .usecase-skill {
    text-align: right;
    padding-right: 15px;
    padding-bottom: 8px;
    font-size: 1.4em;
}

.usecase-section-header {
    font-weight: bold;
    font-size: 1.5em;
}

.usecase-subsection-header, .usecase-subsection-blurb {
    font-weight: bold;
    font-size: 1.2em;
    color: #121212;
}

.usecase-subsection-blurb {
    font-size: 1em;
    font-style: italic;
}
</style>
""")

<div class="usecase-title">Impact of employment on housing prices</div>

<div class="usecase-authors"><b>Authored by: Manasa Nagaraja</b> </div>

<div class="usecase-duration"><b>Duration:</b> 90 mins</div>

<div class="usecase-level-skill">
    <div class="usecase-level"><b>Level: </b>Intermediate</div>
    <div class="usecase-skill"><b>Pre-requisite Skills: </b>Python</div>
</div>

<header>
<h2>Scenario</h2>
<div> In the busy city of Melbourne, urban planners and policymakers are constantly seeking insights into the complex dynamics between employment patterns and housing markets. With the City of Melbourne's Census of Land Use and Employment (CLUE) dataset at their disposal, they start on a mission to delve deep into this relationship.

Armed with the "Jobs per ANZSIC for blocks" dataset, which provides detailed employment data across various industries and geographical areas, the team sets out to uncover correlations with house prices by small area. My aim is clear to understand how fluctuations in employment levels within different ANZSIC industries impact housing prices in Melbourne's diverse neighborhoods.

As I have to analyze the data, patterns begin to emerge and observe that certain industries, such as technology or finance, exhibit a strong influence on nearby housing prices, driving up demand and property values. On the other hand, fluctuations in employment levels within other industries may have a lesser impact or even a negative correlation with house prices.

With these insights, urban planners gain a deeper understanding of the factors shaping Melbourne's housing market. Armed with data-driven evidence, I can modify urban development strategies to contribute to economic growth, ensure housing affordability, and create vibrant, sustainable communities for Melbourne's residents. </div>

{Using User Story format, write a description of the problem you are trying to solve for this use case.}

<div class="usecase-section-header">What this use case will teach you</div>

At the end of this use case you will:
- {list the skills demonstrated in your use case}

<div class="usecase-section-header">{Heading for introduction or background relating to problem}</div>

{Write your introduction here. Keep it concise. We're not after "War and Peace" but enough background information to inform the reader on the rationale for solving this problem or background non-technical information that helps explain the approach. You may also wish to give information on the datasets, particularly how to source those not being imported from the client's open data portal.}

***

_**DELETE BEFORE PUBLISHING**_

## Style guide for use cases

### Headers

For styling within your markdown cells, there are two choices you can use for headers.

1) You can use HTML classes specific to the use case styling:

```<p class="usecase-subsection-header">This is a subsection header.</p>```

<p style="font-weight: bold; font-size: 1.2em;">This is a subsection header.</p>

```<p class="usecase-subsection-blurb">This is a blurb header.</p>```

<p style="font-weight: bold; font-size: 1em; font-style:italic;">This is a blurb header.</p>


2) Or if you like you can use the markdown header styles:

```# for h1```

```## for h2```

```### for h3```

```#### for h4```

```##### for h5```

## Plot colour schemes

General advice:
1. Use the same colour or colour palette throughout your notebook, unless variety is necessary
2. Select a palette based on the type of data being represented
3. Consider accessibility (colourblindness, low vision)

#### 1) If all of your plots only use 1-2 colors use one of the company style colors:

| Light theme | Dark Theme |
|-----|-----|
|<p style="color:#2af598;">#2af598</p>|<p style="color:#08af64;">#08af64</p>|
|<p style="color:#22e4ac;">#22e4ac</p>|<p style="color:#14a38e;">#14a38e</p>|
|<p style="color:#1bd7bb;">#1bd7bb</p>|<p style="color:#0f9295;">#0f9295</p>|
|<p style="color:#14c9cb;">#14c9cb</p>|<p style="color:#056b8a;">#056b8a</p>|
|<p style="color:#0fbed8;">#0fbed8</p>|<p style="color:#121212;">#121212</p>|
|<p style="color:#08b3e5;">#08b3e5</p>||


#### 2) If your plot needs multiple colors, choose an appropriate palette using either of the following tutorials:
- https://seaborn.pydata.org/tutorial/color_palettes.html
- https://matplotlib.org/stable/tutorials/colors/colormaps.html

#### 3) Consider accessibility as well.

For qualitative plotting Seaborn's 'colorblind' palette is recommended. For maps with sequential or diverging it is recommended to use one of the Color Brewer schemes which can be previewed at https://colorbrewer2.org/.

If you want to design your own colour scheme, it should use the same principles as Cynthia Brewer's research (with variation not only in hue but also, saturation or luminance).

### References

Be sure to acknowledge your sources and any attributions using links or a reference list.

If you have quite a few references, you might wish to have a dedicated section for references at the end of your document, linked using footnote style numbers.

You can connect your in-text reference by adding the number with a HTML link: ```<a href="#fn-1">[1]</a>```

and add a matching ID in the reference list using the ```<fn>``` tag: ```<fn id="fn-1">[1] Author (Year) _Title_, Publisher, Publication location.</fn>```

In [90]:
# Standard
import os
import json
import io
# Data import
import requests

# Data manipulation
import pandas as pd

In [94]:
def download_and_load_csv(url):
    response = requests.get(url)
    csv_string = response.content.decode('utf-8')
    df = pd.read_csv(io.StringIO(csv_string))
    return df

# API Link
download_link_1 = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/employment-by-block-by-anzsic/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C'

# Use functions to download and load data
df = download_and_load_csv(download_link_1)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12394 entries, 0 to 12393
Data columns (total 23 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Census year                                      12394 non-null  int64
 1   Block ID                                         12394 non-null  int64
 2   CLUE small area                                  12394 non-null  object
 3   Accommodation and Food Services                  9554 non-null   float64
 4   Administrative and Support Services              10373 non-null  float64
 5   Agriculture, Forestry and Fishing                12099 non-null  float64
 6   Arts and Recreation Services                     8465 non-null   float64
 7   Construction                                     10319 non-null  float64
 8   Education and Training                           9841 non-null   float64
 9   Electricity, Gas, Water and Waste Services       9926 non-null   float64
 10  Financial and Insurance Services                 10816 non-null  float64
 11  Health Care and Social Assistance                9832 non-null   float64
 12  Information Media and Telecommunications         10096 non-null  float64
 13  Manufacturing                                    10082 non-null  float64
 14  Mining                                           11968 non-null  float64
 15  Other Services                                   9103 non-null   float64
 16  Professional, Scientific and Technical Services  10515 non-null  float64
 17  Public Administration and Safety                 10542 non-null  float64
 18  Rental, Hiring and Real Estate Services          10206 non-null  float64
 19  Retail Trade                                     9869 non-null   float64
 20  Transport, Postal and Warehousing                10145 non-null  float64
 21  Wholesale Trade                                  9865 non-null   float64
 22  Total jobs in block                              9701 non-null   float64
dtypes: float64(20), int64(2), object(1)
memory usage: 2.2+ MB

In [97]:
df.drop(["Block ID",
       ], axis=1, inplace=True)

In [98]:
df3 = pd.DataFrame(df)

# Convert 'Census year' column to datetime format
df3['Census year'] = pd.to_datetime(df3['Census year'], format='%Y')

# Filter data to keep only years till 2016
df_filtered = df3[df3['Census year'].dt.year <= 2016]

# Print the filtered DataFrame
display(df_filtered)

,Census year,CLUE small area,Accommodation and Food Services,Administrative and Support Services,"Agriculture, Forestry and Fishing",Arts and Recreation Services,Construction,Education and Training,"Electricity, Gas, Water and Waste Services",Financial and Insurance Services,...,Manufacturing,Mining,Other Services,"Professional, Scientific and Technical Services",Public Administration and Safety,"Rental, Hiring and Real Estate Services",Retail Trade,"Transport, Postal and Warehousing",Wholesale Trade,Total jobs in block
383,2016-01-01,Melbourne (CBD),302.0,40.0,0.0,341.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,NaN,48.0,48.0,30.0,0.0,1045.0
384,2016-01-01,Melbourne (CBD),291.0,1289.0,0.0,55.0,NaN,137.0,NaN,304.0,...,0.0,0.0,23.0,1492.0,NaN,NaN,15.0,NaN,0.0,4608.0
385,2016-01-01,Melbourne (CBD),41.0,191.0,NaN,NaN,NaN,42.0,606.0,298.0,...,0.0,NaN,20.0,562.0,0.0,NaN,34.0,32.0,0.0,2000.0
386,2016-01-01,Melbourne (CBD),522.0,51.0,0.0,NaN,0.0,79.0,0.0,653.0,...,NaN,0.0,3.0,451.0,NaN,76.0,35.0,0.0,0.0,2205.0
387,2016-01-01,Melbourne (CBD),688.0,79.0,0.0,0.0,79.0,NaN,0.0,868.0,...,NaN,NaN,60.0,636.0,430.0,228.0,113.0,NaN,NaN,5733.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11577,2002-01-01,West Melbourne (Industrial),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,55.0
11578,2014-01-01,City of Melbourne (total),44562.0,14892.0,351.0,23381.0,5824.0,24222.0,7798.0,63292.0,...,14744.0,3605.0,11512.0,74960.0,40387.0,5050.0,20171.0,14759.0,10773.0,447074.0
11579,2012-01-01,City of Melbourne (total),39349.0,15535.0,371.0,22635.0,5394.0,23611.0,6020.0,59944.0,...,16677.0,3310.0,11720.0,72865.0,41192.0,4689.0,19554.0,14788.0,11377.0,436436.0
11580,2009-01-01,City of Melbourne (total),33972.0,15226.0,362.0,22828.0,4485.0,23212.0,5771.0,61049.0,...,17081.0,3242.0,10885.0,64754.0,38605.0,4138.0,20690.0,13322.0,9369.0,415487.0
11581,2002-01-01,City of Melbourne (total),24410.0,10621.0,290.0,18913.0,2548.0,15806.0,3022.0,44975.0,...,14638.0,4193.0,8994.0,48302.0,30233.0,3737.0,16973.0,12900.0,6609.0,319729.0

In [100]:
df5 = pd.DataFrame(df_filtered)

# Filter data to keep only rows where 'CLUE small area' is neither 'City of Melbourne' nor 'West Melbourne (Residential)'
df_filtered2 = df5[~df5['CLUE small area'].isin(['City of Melbourne (total)', 'West Melbourne (Industrial)'])]

# Print the filtered DataFrame
print(df_filtered2)

      Census year  CLUE small area  Accommodation and Food Services  \
383    2016-01-01  Melbourne (CBD)                            302.0
384    2016-01-01  Melbourne (CBD)                            291.0
385    2016-01-01  Melbourne (CBD)                             41.0
386    2016-01-01  Melbourne (CBD)                            522.0
387    2016-01-01  Melbourne (CBD)                            688.0
...           ...              ...                              ...
11570  2002-01-01        Parkville                            109.0
11573  2002-01-01       Kensington                              0.0
11574  2002-01-01        Docklands                              0.0
11575  2002-01-01        Docklands                            605.0
11576  2002-01-01        Docklands                              0.0

       Administrative and Support Services  Agriculture, Forestry and Fishing  \
383                                   40.0                                0.0
384                                 1289.0                                0.0
385                                  191.0                                NaN
386                                   51.0                                0.0
387                                   79.0                                0.0
...                                    ...                                ...
11570                                  0.0                                0.0
11573                                  NaN                                0.0
11574                                  0.0                                0.0
11575                                  NaN                                NaN
11576                                  0.0                                0.0

       Arts and Recreation Services  Construction  Education and Training  \
383                           341.0           0.0                     0.0
384                            55.0           NaN                   137.0
385                             NaN           NaN                    42.0
386                             NaN           0.0                    79.0
387                             0.0          79.0                     NaN
...                             ...           ...                     ...
11570                         332.0           0.0                     0.0
11573                           0.0           NaN                     0.0
11574                           0.0           0.0                     0.0
11575                         667.0           0.0                     0.0
11576                           0.0           0.0                     0.0

       Electricity, Gas, Water and Waste Services  \
383                                           0.0
384                                           NaN
385                                         606.0
386                                           0.0
387                                           0.0
...                                           ...
11570                                         0.0
11573                                         NaN
11574                                         0.0
11575                                         0.0
11576                                         NaN

       Financial and Insurance Services  ...  Manufacturing  Mining  \
383                                 0.0  ...            0.0     0.0
384                               304.0  ...            0.0     0.0
385                               298.0  ...            0.0     NaN
386                               653.0  ...            NaN     0.0
387                               868.0  ...            NaN     NaN
...                                 ...  ...            ...     ...
11570                               0.0  ...            0.0     0.0
11573                               0.0  ...            NaN     0.0
11574                               0.0  ...            0.0     0.0
11575                               0.0  ...            NaN     0.0
11576                               0.0  ...            0.0     0.0

       Other Services  Professional, Scientific and Technical Services  \
383               NaN                                              0.0
384              23.0                                           1492.0
385              20.0                                            562.0
386               3.0                                            451.0
387              60.0                                            636.0
...               ...                                              ...
11570            35.0                                              0.0
11573             0.0                                              0.0
11574             0.0                                              0.0
11575             NaN                                              NaN
11576             0.0                                              0.0

       Public Administration and Safety  \
383                                 NaN
384                                 NaN
385                                 0.0
386                                 NaN
387                               430.0
...                                 ...
11570                               0.0
11573                               0.0
11574                               0.0
11575                               NaN
11576                               0.0

       Rental, Hiring and Real Estate Services  Retail Trade  \
383                                       48.0          48.0
384                                        NaN          15.0
385                                        NaN          34.0
386                                       76.0          35.0
387                                      228.0         113.0
...                                        ...           ...
11570                                      0.0           NaN
11573                                      0.0           0.0
11574                                      0.0           0.0
11575                                      0.0           NaN
11576                                      0.0           0.0

       Transport, Postal and Warehousing  Wholesale Trade  Total jobs in block
383                                 30.0              0.0               1045.0
384                                  NaN              0.0               4608.0
385                                 32.0              0.0               2000.0
386                                  0.0              0.0               2205.0
387                                  NaN              NaN               5733.0
...                                  ...              ...                  ...
11570                                NaN              0.0               4426.0
11573                                0.0              0.0                  3.0
11574                                0.0              0.0                  0.0
11575                                0.0              0.0               1825.0
11576                                NaN              0.0                  NaN

[8547 rows x 22 columns]

In [101]:
display(df_filtered2)

,Census year,CLUE small area,Accommodation and Food Services,Administrative and Support Services,"Agriculture, Forestry and Fishing",Arts and Recreation Services,Construction,Education and Training,"Electricity, Gas, Water and Waste Services",Financial and Insurance Services,...,Manufacturing,Mining,Other Services,"Professional, Scientific and Technical Services",Public Administration and Safety,"Rental, Hiring and Real Estate Services",Retail Trade,"Transport, Postal and Warehousing",Wholesale Trade,Total jobs in block
383,2016-01-01,Melbourne (CBD),302.0,40.0,0.0,341.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,0.0,NaN,48.0,48.0,30.0,0.0,1045.0
384,2016-01-01,Melbourne (CBD),291.0,1289.0,0.0,55.0,NaN,137.0,NaN,304.0,...,0.0,0.0,23.0,1492.0,NaN,NaN,15.0,NaN,0.0,4608.0
385,2016-01-01,Melbourne (CBD),41.0,191.0,NaN,NaN,NaN,42.0,606.0,298.0,...,0.0,NaN,20.0,562.0,0.0,NaN,34.0,32.0,0.0,2000.0
386,2016-01-01,Melbourne (CBD),522.0,51.0,0.0,NaN,0.0,79.0,0.0,653.0,...,NaN,0.0,3.0,451.0,NaN,76.0,35.0,0.0,0.0,2205.0
387,2016-01-01,Melbourne (CBD),688.0,79.0,0.0,0.0,79.0,NaN,0.0,868.0,...,NaN,NaN,60.0,636.0,430.0,228.0,113.0,NaN,NaN,5733.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11570,2002-01-01,Parkville,109.0,0.0,0.0,332.0,0.0,0.0,0.0,0.0,...,0.0,0.0,35.0,0.0,0.0,0.0,NaN,NaN,0.0,4426.0
11573,2002-01-01,Kensington,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
11574,2002-01-01,Docklands,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11575,2002-01-01,Docklands,605.0,NaN,NaN,667.0,0.0,0.0,0.0,0.0,...,NaN,0.0,NaN,NaN,NaN,0.0,NaN,0.0,0.0,1825.0
11576,2002-01-01,Docklands,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN

In [102]:
df_filtered2.shape

(8547, 22)

In [107]:
df_filtered.isna().sum()

Census year                                        0
CLUE small area                                    0
Accommodation and Food Services                    0
Administrative and Support Services                0
Agriculture, Forestry and Fishing                  0
Arts and Recreation Services                       0
Construction                                       0
Education and Training                             0
Electricity, Gas, Water and Waste Services         0
Financial and Insurance Services                   0
Health Care and Social Assistance                  0
Information Media and Telecommunications           0
Manufacturing                                      0
Mining                                             0
Other Services                                     0
Professional, Scientific and Technical Services    0
Public Administration and Safety                   0
Rental, Hiring and Real Estate Services            0
Retail Trade                                       0
Transport, Postal and Warehousing                  0
Wholesale Trade                                    0
Total jobs in block                                0
dtype: int64

In [118]:
# data set name
download_link_2 = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/house-prices-by-small-area-sale-year/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C'

df1 = download_and_load_csv(download_link_2)

In [120]:
df7 = pd.DataFrame(df1)

df_filtered4 = df7[df7['Small_Area'] != 'NA']

# Print the resulting DataFrame
print(df_filtered4)

     Sale_Year       Small_Area                   Type  Median_Price  \
0         2000          Carlton        House/Townhouse      316250.0
1         2000          Carlton  Residential Apartment      220000.0
2         2000   East Melbourne        House/Townhouse      622500.0
3         2000   East Melbourne  Residential Apartment      295000.0
4         2000       Kensington        House/Townhouse      215250.0
..         ...              ...                    ...           ...
342       2016  North Melbourne  Residential Apartment      515000.0
343       2016        Parkville        House/Townhouse     1761250.0
344       2016        Parkville  Residential Apartment      500000.0
345       2016      South Yarra        House/Townhouse     2135000.0
346       2016        Southbank  Residential Apartment      565000.0

     Transaction_Count
0                  116
1                  309
2                   42
3                  139
4                  258
..                 ...
342                231
343                 32
344                 63
345                 34
346                701

[347 rows x 5 columns]

In [121]:
df_filtered4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 0 to 346
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sale_Year          347 non-null    int64
 1   Small_Area         340 non-null    object
 2   Type               347 non-null    object
 3   Median_Price       319 non-null    float64
 4   Transaction_Count  347 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 16.3+ KB

In [122]:
df_filtered4.shape

(347, 5)

In [123]:
df_filtered4.head()

,Sale_Year,Small_Area,Type,Median_Price,Transaction_Count
0,2000,Carlton,House/Townhouse,316250.0,116
1,2000,Carlton,Residential Apartment,220000.0,309
2,2000,East Melbourne,House/Townhouse,622500.0,42
3,2000,East Melbourne,Residential Apartment,295000.0,139
4,2000,Kensington,House/Townhouse,215250.0,258

In [124]:
df_filtered4.isna().sum()

Sale_Year             0
Small_Area            7
Type                  0
Median_Price         28
Transaction_Count     0
dtype: int64

In [125]:
df_filtered4.dropna(inplace = True)

In [126]:
df_filtered4.isna().sum()

Sale_Year            0
Small_Area           0
Type                 0
Median_Price         0
Transaction_Count    0
dtype: int64