In [52]:
#Import Libraries
import joblib
import pandas as pd
import numpy as np
import pickle

In [45]:
#Read as a pandas dataframe
data = pd.read_csv('Test_set_for_weatherfeatures.csv')

In [54]:
#Loaded the models
loaded_model_min_temperature = joblib.load('finalized_svr_model_for_min_temp.sav')
loaded_model_max_temperature = joblib.load('finalized_knn_model_for_max_temp.sav')
loaded_model_rainfall = joblib.load('finalized_model_decisiontree_rainfall.sav')
loaded_model_solar = joblib.load('finalized_svr_model_for_Solar_exposure.sav')

In [47]:
#dropping the first column
data.drop(columns=['Unnamed: 0'], inplace=True)

In [20]:
#View the dataframe
data.head()

          0         1         2         3
0  1.402762 -1.106255 -0.996755 -1.506305
1  1.402762 -1.099676 -0.996755 -1.009602
2  1.402762 -1.093098 -0.996755 -0.512899
3  1.402762 -1.086520 -0.996755 -0.016197
4  1.402762 -1.079942 -0.996755  0.480506

#Rainfall

In [50]:
#Predicting rainfall from March 1 to August 1
rainfall = loaded_model_rainfall.predict(data)

#Max temperature

In [51]:
#Predicting max temperature from March 1 to August 1
max_temp = loaded_model_max_temperature.predict(data)

#Minimum temperature

In [61]:
#Predicting min_temperature from March 1 to August 1
min_temp = loaded_model_min_temperature.predict(data)

#Solar Exposure

In [62]:
#Predicting the solar exposure from  March 1 to August 1
solar = loaded_model_solar.predict(data)

In [63]:
#Storing into a dataframe
df = pd.DataFrame()
df['rainfall'] = rainfall
df['min_temp'] = min_temp
df['max_temp'] = max_temp
df['solar'] = solar

In [65]:
#Dataframe to csv
df.to_csv('predicted_weather_features.csv')