In [1]:
import requests
import pandas as pd
import keys as keys

In [2]:
API_KEY = keys.API_KEY

In [3]:
BASE_URL = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'

NUMBER_OF_RECORDS = 100
#filter
FILTERS = f'records?limit={NUMBER_OF_RECORDS}&offset=0&timezone=UTC'

#Dataset name from URL
PEDESTRIAN_LOCATION_DATASET = 'pedestrian-counting-system-sensor-locations'
MICROCLIMATE_SENSOR_LOCATION_DATASET = 'microclimate-sensor-locations'

#Dataset name from excel
PEDESTRIAN_COUNTING_DATASET = pd.read_csv('PedestrianSafety/dependencies/pedestrian-counting-system-past-hour-counts-per-minute.csv')
MICROCLIMATE_SENSOR_DATASET = pd.read_csv('PedestrianSafety/dependencies/microclimate-sensor-readings.csv')
FOOTPATH_STEEPNESS_DATASET = pd.read_csv('PedestrianSafety/dependencies/footpath-steepness.csv')

PEDESTRIAN_LOCATION_URL = f'{BASE_URL}{PEDESTRIAN_LOCATION_DATASET}/{FILTERS}'
MICROCLIMATE_LOCATION_URL = f'{BASE_URL}{MICROCLIMATE_SENSOR_LOCATION_DATASET}/{FILTERS}'

In [4]:
s = requests.Session()

In [5]:
def get_data(base, data_url, size = 0):
    filters = f'records?limit={10}&offset={size}&timezone=UTC'
    url = f'{base}{data_url}/{filters}'
    result=s.get(url +f'&apikey={API_KEY}')
    result_json = result.json()
    max_results = result_json['total_count']
    records = result_json['results']
    records_df = pd.json_normalize(records)
    
    column_names = records_df.columns.values.tolist()
    
    next_url = None
    if size != max_results:
        
        size = records_df.shape[0]
        next_url = f'{base}{data_url}/{filters}'
    return [records_df, next_url, column_names]

In [6]:
Pesestrian_df_new, Pedestrian_url_next, Pedestrian_column_names = get_data(BASE_URL,PEDESTRIAN_LOCATION_DATASET)
PEDESTRIAN_LOCATION_DF = pd.DataFrame(columns=Pedestrian_column_names)

In [7]:
def add_to_dataframe(dataframe,new_data):
    df = pd.concat([dataframe,new_data])
    return df

In [8]:
PEDESTRIAN_LOCATION_DF = add_to_dataframe(PEDESTRIAN_LOCATION_DF, Pesestrian_df_new)

In [9]:
while Pedestrian_url_next != None:
    Pesestrian_df_new, Pedestrian_url_next, Pedestrian_column_names = get_data(BASE_URL, PEDESTRIAN_LOCATION_DATASET,PEDESTRIAN_LOCATION_DF.shape[0])
    PEDESTRIAN_LOCATION_DF = add_to_dataframe(PEDESTRIAN_LOCATION_DF, Pesestrian_df_new)

In [10]:
PEDESTRIAN_LOCATION_DF.head()

,location_id,sensor_description,sensor_name,installation_date,note,location_type,status,direction_1,direction_2,latitude,longitude,location.lon,location.lat
0,2,Bourke Street Mall (South),Bou283_T,2009-03-30,None,Outdoor,A,East,West,-37.813807,144.965167,144.965167,-37.813807
1,4,Town Hall (West),Swa123_T,2009-03-23,None,Outdoor,A,North,South,-37.814880,144.966088,144.966088,-37.814880
2,6,Flinders Street Station Underpass,FliS_T,2009-03-25,Upgraded on 8/09/21,Outdoor,A,North,South,-37.819117,144.965583,144.965583,-37.819117
3,8,Webb Bridge,WebBN_T,2009-03-24,None,Outdoor,A,North,South,-37.822935,144.947175,144.947175,-37.822935
4,10,Victoria Point,BouHbr_T,2009-04-23,None,Outdoor,A,East,West,-37.818765,144.947105,144.947105,-37.818765

In [11]:
PEDESTRIAN_LOCATION_DF.shape

(108, 13)

In [12]:
Microclimate_df_new, Microclimate_url_next, Microclimate_column_names = get_data(BASE_URL,MICROCLIMATE_SENSOR_LOCATION_DATASET)
MICROCLIMATE_LOCATION_DF = pd.DataFrame(columns=Microclimate_column_names)

In [13]:
MICROCLIMATE_LOCATION_DF = add_to_dataframe(MICROCLIMATE_LOCATION_DF, Microclimate_df_new)

In [14]:
while Microclimate_url_next != None:
    Microclimate_df_new, Microclimate_url_next, Microclimate_column_names = get_data(BASE_URL, MICROCLIMATE_SENSOR_LOCATION_DATASET,MICROCLIMATE_LOCATION_DF.shape[0])
    MICROCLIMATE_LOCATION_DF = add_to_dataframe(MICROCLIMATE_LOCATION_DF, Microclimate_df_new)

In [15]:
MICROCLIMATE_LOCATION_DF.head()

,site_id,gatewayhub_id,site_status,last_data_local,start_reading,end_reading,latitude,longitude,location.lon,location.lat
0,1011,arc1055,C,2023-08-11 19:00:01,2021-07-07,None,-37.822222,144.952222,144.952222,-37.822222
1,1016,arc1049,C,2023-08-11 19:00:01,2021-09-17,None,-37.812778,144.960556,144.960556,-37.812778
2,1002,arc1046,R,None,2019-11-15,2021-06-13,-37.800524,144.964122,144.964122,-37.800524
3,1003,arc1047,R,None,2019-11-15,2021-06-13,-37.802300,144.960923,144.960923,-37.802300
4,1015,arc1046,R,None,2021-09-17,None,-37.810278,144.972500,144.972500,-37.810278

In [16]:
MICROCLIMATE_LOCATION_DF.shape

(16, 10)

In [17]:
PEDESTRIAN_COUNTING_DATASET.head()

,Location_ID,Sensing_DateTime,Sensing_Date,Sensing_Time,Direction_1,Direction_2,Total_of_Directions
0,3,2023-08-11T23:42:00+10:00,2023-08-11,23:42,16,3,19
1,3,2023-08-11T23:43:00+10:00,2023-08-11,23:43,5,4,9
2,3,2023-08-11T23:45:00+10:00,2023-08-11,23:45,9,10,19
3,3,2023-08-11T23:48:00+10:00,2023-08-11,23:48,11,12,23
4,3,2023-08-11T23:49:00+10:00,2023-08-11,23:49,11,23,34

In [18]:
PEDESTRIAN_COUNTING_DATASET.shape

(18484, 7)

In [19]:
MICROCLIMATE_SENSOR_DATASET.head()

,Local_Time,ID,Site_ID,Sensor_ID,Value,Type,Units,Gatewayhub_ID,Site_Status
0,2023-07-27T00:15:02+10:00,7595165,1014,5b,80.14,TPH.RH,%,arc1045,C
1,2023-07-27T00:15:05+10:00,7595073,1011,5b,75.54,TPH.RH,%,arc1055,C
2,2023-07-27T00:15:05+10:00,7595078,1011,5c,1028.80,TPH.PRESSURE,hPa,arc1055,C
3,2023-07-27T00:15:05+10:00,7595112,1012,5a,8.72,TPH.TEMP,C,arc1048,C
4,2023-07-27T00:15:07+10:00,7595204,1016,5a,9.35,TPH.TEMP,C,arc1049,C

In [20]:
MICROCLIMATE_SENSOR_DATASET.shape

(1340, 9)

In [21]:
FOOTPATH_STEEPNESS_DATASET.head()

,Geo Point,Geo Shape,grade1in,gradepc,segside,statusid,asset_type,deltaz,streetid,mccid_int,mcc_id,address,rlmax,rlmin,distance
0,"-37.80104254374381, 144.91032433298423","{""coordinates"": [[[[144.91013775577042, -37.80...",6.5,15.44,NaN,1.0,Road Footway,7.08,117856.0,22770.0,1390653,Hopetoun Bridge from Dynon Road,8.43,1.35,45.85
1,"-37.80106334173061, 144.91050591043154","{""coordinates"": [[[[144.91050591211618, -37.80...",18.7,5.35,NaN,8.0,Road Footway,7.56,3098.0,30055.0,1390162,Maribyrnong River,8.55,0.99,141.37
2,"-37.80105652616636, 144.9105281336528","{""coordinates"": [[[[144.91050591211618, -37.80...",1.8,56.74,NaN,1.0,Road Footway,6.58,117856.0,22770.0,1386023,Hopetoun Bridge from Dynon Road,8.18,1.60,11.60
3,"-37.80650826218316, 144.90801674986395","{""coordinates"": [[[[144.90800878980184, -37.80...",37241.4,0.00,NaN,NaN,Road Footway,0.00,NaN,NaN,1386024,NaN,2.62,2.62,3.72
4,"-37.80084857921102, 144.91026386828017","{""coordinates"": [[[[144.91026377228164, -37.80...",6.7,14.96,NaN,NaN,Road Footway,7.19,NaN,NaN,1390654,NaN,8.39,1.20,48.08

In [22]:
FOOTPATH_STEEPNESS_DATASET.shape

(33585, 15)