In [90]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn 
from pandas import datetime

%matplotlib inline

In [91]:
df = pd.read_csv("Pedestrian_Counting_System___2009_to_Present__counts_per_hour_.csv")
df
# Displaying the data

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,2887628,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,11/01/2019 05:00:00 PM,2019,November,1,Friday,17,36,Queen St (West),774
...,...,...,...,...,...,...,...,...,...,...
3260813,3260814,07/31/2020 11:00:00 PM,2020,July,31,Friday,23,61,Swanston St - RMIT Building 14,21
3260814,3260815,07/31/2020 11:00:00 PM,2020,July,31,Friday,23,63,231 Bourke St,14
3260815,3260816,07/31/2020 11:00:00 PM,2020,July,31,Friday,23,64,Royal Pde-Grattan St,6
3260816,3260817,07/31/2020 11:00:00 PM,2020,July,31,Friday,23,65,Swanston St - City Square,7
3260817,3260818,07/31/2020 11:00:00 PM,2020,July,31,Friday,23,66,State Library-New,25

In [106]:
len(df)

3260818

In [97]:
df.info()
df.count().tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3260818 entries, 0 to 3260817
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             int64
 1   Date_Time      object
 2   Year           int64
 3   Month          object
 4   Mdate          int64
 5   Day            object
 6   Time           int64
 7   Sensor_ID      int64
 8   Sensor_Name    object
 9   Hourly_Counts  int64
dtypes: int64(6), object(4)
memory usage: 248.8+ MB

Day              3260818
Time             3260818
Sensor_ID        3260818
Sensor_Name      3260818
Hourly_Counts    3260818
dtype: int64

In [99]:
df_missing = df.isna()
df_missing

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
3260813,False,False,False,False,False,False,False,False,False,False
3260814,False,False,False,False,False,False,False,False,False,False
3260815,False,False,False,False,False,False,False,False,False,False
3260816,False,False,False,False,False,False,False,False,False,False
3260817,False,False,False,False,False,False,False,False,False,False

In [103]:
df[df.isna()== True].count()

ID               0
Date_Time        0
Year             0
Month            0
Mdate            0
Day              0
Time             0
Sensor_ID        0
Sensor_Name      0
Hourly_Counts    0
dtype: int64

In [104]:
#missing values percent
df.isnull().mean() * 100

ID               0.0
Date_Time        0.0
Year             0.0
Month            0.0
Mdate            0.0
Day              0.0
Time             0.0
Sensor_ID        0.0
Sensor_Name      0.0
Hourly_Counts    0.0
dtype: float64

In [96]:
#df['Hourly_Counts'].isnull().any()
#df.isnull().sum()
#df.isnull().values.any()
df.isnull().sum().sum()

0

In [78]:
#df.columns
#df.index
df['Sensor_ID'].unique()

array([34, 39, 37, 40, 36, 29, 42, 43, 44, 35, 45, 46, 47, 48, 49, 50, 51,
       52, 54, 55, 56, 57, 58, 59, 61, 62,  4, 17, 18, 53,  2,  1,  3, 15,
        9, 10, 12, 11,  8,  7,  5,  6, 14, 26, 24, 23, 25, 21, 20, 19, 22,
       27, 28, 31, 30, 41, 13, 16, 32, 33, 38, 60, 63, 64, 65, 66],
      dtype=int64)

In [114]:
df_dup=pd.DataFrame(index=sorted(df['Sensor_ID'].unique()),columns=(['Duplicates']))
for i in range(0,66):
    data=df[df['Sensor_ID']==i+1]
    data_=data.drop_duplicates(subset=['Date_Time'], keep=False)
    df.iloc[i,0]=(1-(len(data_)/len(data)))*100

In [129]:
 df_dup[df_dup['Duplicates']== True].count()

Duplicates    0
dtype: int64

In [110]:
df_x = df.drop_duplicates()
df_x.shape

(3260818, 10)

In [123]:
yea= ['2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']
x_year= df[df['Year'].isin(yea)]
len(x_year)

3260818

In [43]:
#df.columns[df.isna().any().tolist()]
#null_columns=df.columns[df.isnull().any()]
df[null_columns].notna().sum()

Index([], dtype='object')

In [134]:
r_date=df['Date_Time'].map(type)!=str    
len(r_date[r_date == True].index)

0

In [137]:
r_hr=df['Hourly_Counts'].map(type)==str    
len(r_hr[r_hr == True].index)

0

In [61]:
df.columns
df.index
df.values
type(df)
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3260818 entries, 0 to 3260817
Data columns (total 10 columns):
 #   Column         Dtype
---  ------         -----
 0   ID             int64
 1   Date_Time      object
 2   Year           int64
 3   Month          object
 4   Mdate          int64
 5   Day            object
 6   Time           int64
 7   Sensor_ID      int64
 8   Sensor_Name    object
 9   Hourly_Counts  int64
dtypes: int64(6), object(4)
memory usage: 248.8+ MB

In [62]:
len(df)

3260818