In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt 
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
path = '/content/drive/My Drive/DataSets/project _python/Microclimate_Sensor_Readings.csv'
df = pd.read_csv(path)

In [4]:
df.head(10)

   id  site_id  ...                       type   units
0   1  arc1045  ...               PM2.5-EPA-1h  ug/m^3
1   2  arc1045  ...          PM2.5-EPA-1h-NOPK  ug/m^3
2   3  arc1045  ...  PM2.5-EPA-1h-NOPK-EPA-24h  ug/m^3
3   4  arc1045  ...         PM2.5-EPA-1h-PKIND     0/1
4   5  arc1045  ...              PM2.5-EPA-24h  ug/m^3
5   6  arc1045  ...                PM10-EPA-1h  ug/m^3
6   7  arc1045  ...           PM10-EPA-1h-NOPK  ug/m^3
7   8  arc1045  ...   PM10-EPA-1h-NOPK-EPA-24h  ug/m^3
8   9  arc1045  ...          PM10-EPA-1h-PKIND     0/1
9  10  arc1045  ...               PM10-EPA-24h  ug/m^3

[10 rows x 7 columns]

In [5]:
# checking the data types of the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039397 entries, 0 to 1039396
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   id          1039397 non-null  int64
 1   site_id     1039397 non-null  object
 2   sensor_id   1039397 non-null  object
 3   value       1039373 non-null  float64
 4   local_time  1039397 non-null  object
 5   type        1039397 non-null  object
 6   units       1039397 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 55.5+ MB

In [6]:
 # convert the 'Date' column to datetime format 
df['local_time']= pd.to_datetime(df['local_time'])

In [7]:
#df['Year'] = df['local_time'].dt.year
#df['Month'] = df['local_time'].dt.month
#df['Day'] = df['local_time'].dt.day
df['Date'] = df['local_time'].dt.date

In [8]:
df['Time'] = df['local_time'].dt.time
#df['Time_hour'] = df['local_time'].dt.hour

In [9]:
df.head(10)

   id  site_id               sensor_id  ...   units        Date      Time
0   1  arc1045               0a.EPA-1h  ...  ug/m^3  2019-11-15  09:00:00
1   2  arc1045          0a.EPA-1h.NOPK  ...  ug/m^3  2019-11-15  09:00:00
2   3  arc1045  0a.EPA-1h.NOPK.EPA-24h  ...  ug/m^3  2019-11-15  09:00:00
3   4  arc1045         0a.EPA-1h.PKIND  ...     0/1  2019-11-15  09:00:00
4   5  arc1045              0a.EPA-24h  ...  ug/m^3  2019-11-15  09:00:00
5   6  arc1045               0b.EPA-1h  ...  ug/m^3  2019-11-15  09:00:00
6   7  arc1045          0b.EPA-1h.NOPK  ...  ug/m^3  2019-11-15  09:00:00
7   8  arc1045  0b.EPA-1h.NOPK.EPA-24h  ...  ug/m^3  2019-11-15  09:00:00
8   9  arc1045         0b.EPA-1h.PKIND  ...     0/1  2019-11-15  09:00:00
9  10  arc1045              0b.EPA-24h  ...  ug/m^3  2019-11-15  09:00:00

[10 rows x 9 columns]

In [10]:
# finfing null values
df.isnull().sum()

id             0
site_id        0
sensor_id      0
value         24
local_time     0
type           0
units          0
Date           0
Time           0
dtype: int64

In [11]:
df['type'].unique()

array(['PM2.5-EPA-1h', 'PM2.5-EPA-1h-NOPK', 'PM2.5-EPA-1h-NOPK-EPA-24h',
       'PM2.5-EPA-1h-PKIND', 'PM2.5-EPA-24h', 'PM10-EPA-1h',
       'PM10-EPA-1h-NOPK', 'PM10-EPA-1h-NOPK-EPA-24h',
       'PM10-EPA-1h-PKIND', 'PM10-EPA-24h', 'TPH.TEMP-EPA-1h',
       'TPH.RH-EPA-1h', 'TPH.TEMP', 'TPH.RH', 'TPH.PRESSURE', 'WS',
       'PM2.5', 'PM10'], dtype=object)

In [12]:
df_1 = df[(df['type'] == 'PM2.5')]

In [13]:
df_1.isnull().sum()

id            0
site_id       0
sensor_id     0
value         4
local_time    0
type          0
units         0
Date          0
Time          0
dtype: int64

In [14]:
df_1[df_1.isnull().any(axis=1)]

            id  site_id sensor_id  value  ...   type   units        Date      Time
588196  792061  arc1046        0a    NaN  ...  PM2.5  ug/m^3  2020-04-05  02:15:00
588200  792065  arc1048        0a    NaN  ...  PM2.5  ug/m^3  2020-04-05  02:15:00
588202  792067  arc1050        0a    NaN  ...  PM2.5  ug/m^3  2020-04-05  02:15:00
588204  792069  arc1045        0a    NaN  ...  PM2.5  ug/m^3  2020-04-05  02:15:00

[4 rows x 9 columns]

In [15]:
df_1.groupby('site_id')['value'].mean()

site_id
arc1045    13.939289
arc1046    13.920697
arc1047    12.685314
arc1048    13.711227
arc1050    11.659575
Name: value, dtype: float64

In [16]:
df_1['value'] = df_1['value'].fillna(df_1.groupby('site_id')['value'].mean())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Summary statistics for each site id

In [17]:
df_1[df_1['site_id'].isin(['arc1045'])]['value'].describe()

count    23841.000000
mean        13.939289
std         41.380907
min          3.300000
25%          5.700000
50%          7.100000
75%         10.100000
max        937.100000
Name: value, dtype: float64

In [18]:
df_1[df_1['site_id'].isin(['arc1046'])]['value'].describe()

count    23825.000000
mean        13.920697
std         40.019613
min          3.300000
25%          5.700000
50%          7.100000
75%         10.200000
max        962.400000
Name: value, dtype: float64

In [19]:
df_1[df_1['site_id'].isin(['arc1047'])]['value'].describe()

count    25194.000000
mean        12.685314
std         37.903566
min          3.500000
25%          5.700000
50%          6.600000
75%          9.200000
max        917.300000
Name: value, dtype: float64

In [20]:
df_1[df_1['site_id'].isin(['arc1048'])]['value'].describe()

count    22776.000000
mean        13.711227
std         40.303955
min          3.300000
25%          5.900000
50%          7.100000
75%          9.800000
max        920.600000
Name: value, dtype: float64

In [21]:
df_1[df_1['site_id'].isin(['arc1050'])]['value'].describe()

count    25190.000000
mean        11.659575
std         36.565044
min          3.200000
25%          5.000000
50%          5.800000
75%          8.100000
max        878.300000
Name: value, dtype: float64

In [22]:
path1 ='/content/drive/My Drive/DataSets/project _python/Microclimate_Sensor_Locations.csv'
df_2 = pd.read_csv(path1)

In [23]:
df_2

   site_id  ...                       location
0  arc1045  ...  POINT (144.966492 -37.800793)
1  arc1047  ...    POINT (144.960923 -37.8023)
2  arc1048  ...  POINT (144.964635 -37.800575)
3  arc1050  ...  POINT (144.965052 -37.800629)
4  arc1046  ...  POINT (144.964122 -37.800524)

[5 rows x 6 columns]

In [24]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   site_id      5 non-null      object
 1   description  5 non-null      object
 2   last_data    5 non-null      object
 3   latitude     5 non-null      float64
 4   longitude    5 non-null      float64
 5   location     5 non-null      object
dtypes: float64(2), object(4)
memory usage: 368.0+ bytes

In [25]:
df_2.isnull().sum()

site_id        0
description    0
last_data      0
latitude       0
longitude      0
location       0
dtype: int64

In [26]:
df_final = pd.merge(left=df_1, right=df_2, left_on='site_id', right_on='site_id')

In [28]:
df_final.to_csv('pm2.5.csv')

In [29]:
df_final.head()

    id  site_id sensor_id  ...   latitude   longitude                       location
0   96  arc1046        0a  ... -37.800524  144.964122  POINT (144.964122 -37.800524)
1  143  arc1046        0a  ... -37.800524  144.964122  POINT (144.964122 -37.800524)
2  188  arc1046        0a  ... -37.800524  144.964122  POINT (144.964122 -37.800524)
3  293  arc1046        0a  ... -37.800524  144.964122  POINT (144.964122 -37.800524)
4  343  arc1046        0a  ... -37.800524  144.964122  POINT (144.964122 -37.800524)

[5 rows x 14 columns]