In [2]:
import pandas as pd
df1 = pd.read_csv("microclimate_cleaned.csv")

brooklyn_data = df1[df1.Location.eq("Brooklyn")]
brooklyn_data["New Value"] = brooklyn_data["Value"].interpolate()

brighton_data = df1[df1.Location.eq("Brighton")]
brighton_data["New Value"] = brighton_data["Value"].interpolate()

coolaroo_data = df1[df1.Location.eq("Coolaroo")]
coolaroo_data["New Value"] = coolaroo_data["Value"].interpolate()

footscray_data = df1[df1.Location.eq("Footscray")]
footscray_data["New Value"] = footscray_data["Value"].interpolate()

dallas_data = df1[df1.Location.eq("Dallas")]
dallas_data["New Value"] = dallas_data["Value"].interpolate()

boxhill_data = df1[df1.Location.eq("Box Hill")]
boxhill_data["New Value"] = boxhill_data["Value"].interpolate()

macleod_data = df1[df1.Location.eq("Macleod")]
macleod_data["New Value"] = macleod_data["Value"].interpolate()

alphington_data = df1[df1.Location.eq("Alphington")]
alphington_data["New Value"] = alphington_data["Value"].interpolate()

cbd_data = df1[df1.Location.eq("Melbourne CBD")]
cbd_data["New Value"] = cbd_data["Value"].interpolate()

campbellfield_data = df1[df1.Location.eq("Campbellfield")]
campbellfield_data["New Value"] = campbellfield_data["Value"].interpolate()

altonanorth2_data = df1[df1.Location.eq("Altona North 2")]
altonanorth2_data["New Value"] = altonanorth2_data["Value"].interpolate()

altonanorth1_data = df1[df1.Location.eq("Altona North 1")]
altonanorth1_data["New Value"] = altonanorth1_data["Value"].interpolate()

thomastown_data = df1[df1.Location.eq("Thomastown East")]
thomastown_data["New Value"] = thomastown_data["Value"].interpolate()

mri_data = df1[df1.Location.eq("MRI Campbellfield fire")]
mri_data["New Value"] = mri_data["Value"].interpolate()

df2 = pd.concat([brooklyn_data,brighton_data,coolaroo_data,footscray_data,dallas_data,boxhill_data,macleod_data,alphington_data,cbd_data,campbellfield_data,altonanorth2_data,altonanorth1_data,thomastown_data,mri_data])
df2

/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/pavanyellapu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Date   Time                Location  Value  New Value
0      06/01/20   0:00                Brooklyn    NaN        NaN
1      06/01/20   1:00                Brooklyn    NaN        NaN
2      06/01/20   2:00                Brooklyn    NaN        NaN
3      06/01/20   3:00                Brooklyn    NaN        NaN
4      06/01/20   4:00                Brooklyn    NaN        NaN
...         ...    ...                     ...    ...        ...
50059  12/08/20  19:00  MRI Campbellfield fire    NaN        1.2
50060  12/08/20  20:00  MRI Campbellfield fire    NaN        1.2
50061  12/08/20  21:00  MRI Campbellfield fire    NaN        1.2
50062  12/08/20  22:00  MRI Campbellfield fire    NaN        1.2
50063  12/08/20  23:00  MRI Campbellfield fire    NaN        1.2

[50064 rows x 5 columns]

In [9]:
df3 = df2.dropna(subset=['New Value'])
df3

           Date   Time                Location  Value  New Value
20     06/01/20  20:00                Brooklyn   32.8       32.8
21     06/01/20  21:00                Brooklyn   23.5       23.5
22     06/01/20  22:00                Brooklyn   14.3       14.3
23     06/01/20  23:00                Brooklyn    9.3        9.3
24     07/01/20   0:00                Brooklyn    7.7        7.7
...         ...    ...                     ...    ...        ...
50059  12/08/20  19:00  MRI Campbellfield fire    NaN        1.2
50060  12/08/20  20:00  MRI Campbellfield fire    NaN        1.2
50061  12/08/20  21:00  MRI Campbellfield fire    NaN        1.2
50062  12/08/20  22:00  MRI Campbellfield fire    NaN        1.2
50063  12/08/20  23:00  MRI Campbellfield fire    NaN        1.2

[49857 rows x 5 columns]

In [10]:
df3.to_csv('new.csv',index=False)