In [131]:
import pandas as pd
df = pd.read_csv('dataset_with_public_holidays.csv')
df

,Date,day,monthly_index,Covid Restrictions,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Total_Pedestrian_Count_per_day
0,01-01-2015,4,1,No restriction,Public Holiday,0.0,13.3,26.9,23.6,471563
1,02-01-2015,5,1,No restriction,Not a public holiday,0.0,15.4,38.8,26.8,389048
2,03-01-2015,6,1,No restriction,Not a public holiday,0.0,20.0,38.2,26.5,291761
3,04-01-2015,7,1,No restriction,Not a public holiday,4.6,16.3,21.4,25.2,382364
4,05-01-2015,1,1,No restriction,Not a public holiday,0.0,15.0,22.0,30.7,487220
...,...,...,...,...,...,...,...,...,...,...
2127,27-10-2020,2,10,Restrictions,Not a public holiday,0.0,11.1,19.6,20.1,177267
2128,28-10-2020,3,10,Restrictions,Not a public holiday,0.0,9.5,20.9,26.7,311278
2129,29-10-2020,4,10,Restrictions,Not a public holiday,0.0,11.2,24.3,17.1,263334
2130,30-10-2020,5,10,Restrictions,Not a public holiday,0.0,12.9,18.6,21.0,313225
2131,31-10-2020,6,10,Restrictions,Not a public holiday,0.0,14.2,16.8,10.0,370181

In [132]:
df['Date'] = df['Date'].astype('datetime64[ns]')
df['Date'] = df['Date'].dt.strftime('%d/%m/%Y') 
df['Date'] = df['Date'].astype('datetime64[ns]')
df.dtypes

Date                                    datetime64[ns]
day                                              int64
monthly_index                                    int64
Covid Restrictions                              object
Public_Holiday                                  object
Rainfall amount (millimetres)                  float64
Minimum temperature (Degree C)                 float64
Maximum temperature (Degree C)                 float64
Daily global solar exposure (MJ/m*m)           float64
Total_Pedestrian_Count_per_day                   int64
dtype: object

In [133]:
df['year'] = df['Date'].dt.year
df['day_of_year'] = df['Date'].dt.dayofyear
df['day_of_week'] = df['day']
df.drop(columns=['day'], inplace = True)
df = df[['day_of_week', 'monthly_index', 'year', 'day_of_year', 'Covid Restrictions','Public_Holiday', 'Rainfall amount (millimetres)','Minimum temperature (Degree C)','Maximum temperature (Degree C)','Daily global solar exposure (MJ/m*m)', 'Total_Pedestrian_Count_per_day']]

In [134]:
df

,day_of_week,monthly_index,year,day_of_year,Covid Restrictions,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Total_Pedestrian_Count_per_day
0,4,1,2015,1,No restriction,Public Holiday,0.0,13.3,26.9,23.6,471563
1,5,1,2015,2,No restriction,Not a public holiday,0.0,15.4,38.8,26.8,389048
2,6,1,2015,3,No restriction,Not a public holiday,0.0,20.0,38.2,26.5,291761
3,7,1,2015,4,No restriction,Not a public holiday,4.6,16.3,21.4,25.2,382364
4,1,1,2015,5,No restriction,Not a public holiday,0.0,15.0,22.0,30.7,487220
...,...,...,...,...,...,...,...,...,...,...,...
2127,2,10,2020,301,Restrictions,Not a public holiday,0.0,11.1,19.6,20.1,177267
2128,3,10,2020,302,Restrictions,Not a public holiday,0.0,9.5,20.9,26.7,311278
2129,4,10,2020,303,Restrictions,Not a public holiday,0.0,11.2,24.3,17.1,263334
2130,5,10,2020,304,Restrictions,Not a public holiday,0.0,12.9,18.6,21.0,313225
2131,6,10,2020,305,Restrictions,Not a public holiday,0.0,14.2,16.8,10.0,370181

In [135]:
X = df.iloc[:,0:-1]
Y = df['Total_Pedestrian_Count_per_day']
X = X.fillna(X.mean())
X

,day_of_week,monthly_index,year,day_of_year,Covid Restrictions,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,4,1,2015,1,No restriction,Public Holiday,0.0,13.3,26.9,23.6
1,5,1,2015,2,No restriction,Not a public holiday,0.0,15.4,38.8,26.8
2,6,1,2015,3,No restriction,Not a public holiday,0.0,20.0,38.2,26.5
3,7,1,2015,4,No restriction,Not a public holiday,4.6,16.3,21.4,25.2
4,1,1,2015,5,No restriction,Not a public holiday,0.0,15.0,22.0,30.7
...,...,...,...,...,...,...,...,...,...,...
2127,2,10,2020,301,Restrictions,Not a public holiday,0.0,11.1,19.6,20.1
2128,3,10,2020,302,Restrictions,Not a public holiday,0.0,9.5,20.9,26.7
2129,4,10,2020,303,Restrictions,Not a public holiday,0.0,11.2,24.3,17.1
2130,5,10,2020,304,Restrictions,Not a public holiday,0.0,12.9,18.6,21.0
2131,6,10,2020,305,Restrictions,Not a public holiday,0.0,14.2,16.8,10.0

In [136]:
rng = pd.date_range('2020-11-01', periods=61, freq='D')
X_test = pd.DataFrame({ 'Date': rng}) 
X_test['Date'] = X_test['Date'].astype('datetime64[ns]')
X_test

         Date
0  2020-11-01
1  2020-11-02
2  2020-11-03
3  2020-11-04
4  2020-11-05
..        ...
56 2020-12-27
57 2020-12-28
58 2020-12-29
59 2020-12-30
60 2020-12-31

[61 rows x 1 columns]

In [137]:
# Loading the weather test dataset 
test_dataset = pd.read_csv('Test_dataset_updated.csv') 
test_dataset

,Date,Rainfall,Solar Exposure,Minimum temperature,Maximum Temperature
0,01-11-2020,0.0,23.2,12.6,17.0
1,02-11-2020,0.0,26.8,9.6,29.5
2,03-11-2020,0.0,26.9,12.1,30.4
3,04-11-2020,0.0,5.5,21.9,22.8
4,05-11-2020,2.8,23.1,11.1,15.8
...,...,...,...,...,...
56,27-12-2020,0.0,3.3,16.2,31.9
57,28-12-2020,3.2,26.5,11.5,17.8
58,29-12-2020,0.0,30.7,9.0,21.3
59,30-12-2020,0.0,30.3,13.7,21.4
60,31-12-2020,0.0,7.3,15.5,21.2

In [138]:
public = pd.read_csv('Public_Holiday_test_set.csv')
holidays = public[['Holiday']]
holidays['Holiday'] = holidays['Holiday'].astype('datetime64[ns]')
holidays['Public_Holiday'] = 'Public Holiday'

X_test = X_test.set_index('Date').join(holidays.set_index("Holiday"), how='left')
X_test['Public_Holiday'].fillna('Not a public holiday', inplace=True)
X_test

                  Public_Holiday
2020-11-01  Not a public holiday
2020-11-02  Not a public holiday
2020-11-03        Public Holiday
2020-11-04  Not a public holiday
2020-11-05  Not a public holiday
...                          ...
2020-12-27  Not a public holiday
2020-12-28        Public Holiday
2020-12-29  Not a public holiday
2020-12-30  Not a public holiday
2020-12-31  Not a public holiday

[61 rows x 1 columns]

In [139]:
X_test['Covid Restrictions'] = 'No restriction'

X_test['day_of_week'] = X_test.index.dayofweek + 1
X_test['monthly_index'] = X_test.index.month
X_test['year'] = X_test.index.year
X_test['day_of_year'] = X_test.index.dayofyear

X_test['Rainfall amount (millimetres)'] = test_dataset['Rainfall '].values
X_test['Minimum temperature (Degree C)'] = test_dataset['Minimum temperature'].values
X_test['Maximum temperature (Degree C)'] = test_dataset['Maximum Temperature'].values
X_test['Daily global solar exposure (MJ/m*m)'] = test_dataset['Solar Exposure'].values

X_test

,Public_Holiday,Covid Restrictions,day_of_week,monthly_index,year,day_of_year,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
2020-11-01,Not a public holiday,No restriction,7,11,2020,306,0.0,12.6,17.0,23.2
2020-11-02,Not a public holiday,No restriction,1,11,2020,307,0.0,9.6,29.5,26.8
2020-11-03,Public Holiday,No restriction,2,11,2020,308,0.0,12.1,30.4,26.9
2020-11-04,Not a public holiday,No restriction,3,11,2020,309,0.0,21.9,22.8,5.5
2020-11-05,Not a public holiday,No restriction,4,11,2020,310,2.8,11.1,15.8,23.1
...,...,...,...,...,...,...,...,...,...,...
2020-12-27,Not a public holiday,No restriction,7,12,2020,362,0.0,16.2,31.9,3.3
2020-12-28,Public Holiday,No restriction,1,12,2020,363,3.2,11.5,17.8,26.5
2020-12-29,Not a public holiday,No restriction,2,12,2020,364,0.0,9.0,21.3,30.7
2020-12-30,Not a public holiday,No restriction,3,12,2020,365,0.0,13.7,21.4,30.3
2020-12-31,Not a public holiday,No restriction,4,12,2020,366,0.0,15.5,21.2,7.3

In [140]:
X = X.fillna(X.mean())

combined = pd.concat([X, X_test])
combined['Public_Holiday'] = pd.Categorical(combined['Public_Holiday'])
combined['holiday_code'] = combined['Public_Holiday'].cat.codes
combined['Covid Restrictions'] = pd.Categorical(combined['Covid Restrictions'])
combined['covid_code'] = combined['Covid Restrictions'].cat.codes
combined.drop(columns=['Public_Holiday', 'Covid Restrictions'], inplace = True)

combined = combined[['day_of_week', 'monthly_index', 'year', 'day_of_year', 'covid_code','holiday_code', 'Rainfall amount (millimetres)','Minimum temperature (Degree C)','Maximum temperature (Degree C)','Daily global solar exposure (MJ/m*m)']]

X = combined[:len(X)]
X_test = combined[len(X):]

X_test

,day_of_week,monthly_index,year,day_of_year,covid_code,holiday_code,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
2020-11-01,7,11,2020,306,0,0,0.0,12.6,17.0,23.2
2020-11-02,1,11,2020,307,0,0,0.0,9.6,29.5,26.8
2020-11-03,2,11,2020,308,0,1,0.0,12.1,30.4,26.9
2020-11-04,3,11,2020,309,0,0,0.0,21.9,22.8,5.5
2020-11-05,4,11,2020,310,0,0,2.8,11.1,15.8,23.1
...,...,...,...,...,...,...,...,...,...,...
2020-12-27,7,12,2020,362,0,0,0.0,16.2,31.9,3.3
2020-12-28,1,12,2020,363,0,1,3.2,11.5,17.8,26.5
2020-12-29,2,12,2020,364,0,0,0.0,9.0,21.3,30.7
2020-12-30,3,12,2020,365,0,0,0.0,13.7,21.4,30.3
2020-12-31,4,12,2020,366,0,0,0.0,15.5,21.2,7.3

In [141]:
X

,day_of_week,monthly_index,year,day_of_year,covid_code,holiday_code,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,4,1,2015,1,0,1,0.0,13.3,26.9,23.6
1,5,1,2015,2,0,0,0.0,15.4,38.8,26.8
2,6,1,2015,3,0,0,0.0,20.0,38.2,26.5
3,7,1,2015,4,0,0,4.6,16.3,21.4,25.2
4,1,1,2015,5,0,0,0.0,15.0,22.0,30.7
...,...,...,...,...,...,...,...,...,...,...
2127,2,10,2020,301,1,0,0.0,11.1,19.6,20.1
2128,3,10,2020,302,1,0,0.0,9.5,20.9,26.7
2129,4,10,2020,303,1,0,0.0,11.2,24.3,17.1
2130,5,10,2020,304,1,0,0.0,12.9,18.6,21.0
2131,6,10,2020,305,1,0,0.0,14.2,16.8,10.0

In [142]:
from sklearn.preprocessing import StandardScaler
newscaler = StandardScaler()
X_scaled = newscaler.fit_transform(X) 
X_test_scaled = newscaler.fit_transform(X_test) 
X_scaled

array([[-9.38637205e-04, -1.58631120e+00, -1.44730998e+00, ...,
         4.02530227e-01,  1.03952738e+00,  1.11446043e+00],
       [ 4.99354993e-01, -1.58631120e+00, -1.44730998e+00, ...,
         8.91768855e-01,  2.94037146e+00,  1.51837475e+00],
       [ 9.99648624e-01, -1.58631120e+00, -1.44730998e+00, ...,
         1.96343442e+00,  2.84453058e+00,  1.48050778e+00],
       ...,
       [-9.38637205e-04,  1.06833203e+00,  1.53055614e+00, ...,
        -8.67084006e-02,  6.24216911e-01,  2.94009485e-01],
       [ 4.99354993e-01,  1.06833203e+00,  1.53055614e+00, ...,
         3.09341917e-01, -2.86271427e-01,  7.86280055e-01],
       [ 9.99648624e-01,  1.06833203e+00,  1.53055614e+00, ...,
         6.12203925e-01, -5.73794061e-01, -6.02175399e-01]])

In [143]:
new_results_df_per_day = pd.read_csv('new_results_df_per_day.csv') 
new_results_df_per_day

      Unnamed: 0        date  Total_Pedestrian_Count_per_day
0              0  2015-01-01                          471563
1              1  2015-01-02                          389048
2              2  2015-01-03                          291761
3              3  2015-01-04                          382364
4              4  2015-01-05                          487220
...          ...         ...                             ...
2187        2187  2020-12-27                          385422
2188        2188  2020-12-28                          473046
2189        2189  2020-12-29                          497027
2190        2190  2020-12-30                          467634
2191        2191  2020-12-31                          472586

[2192 rows x 3 columns]

In [144]:
realY = new_results_df_per_day['Total_Pedestrian_Count_per_day'].iloc[-61:]

## KNN

In [145]:

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
scores = []
neighbor = []
leaf_size = []
metric = []
weight = []
algorithm = []

n_neighbors = [2,3,4,5,6,7,8,9]
leaf_sizes = [10,20,30,50,100,500]
metrics = ['euclidean','chebyshev','manhattan']
weights = ['uniform', 'distance']
algorithms = ['auto', 'ball_tree', 'kd_tree', 'brute'] 

for i in n_neighbors:
  for j in leaf_sizes:
    for k in metrics:
      for l in weights:
        for m in algorithms:
          knn = KNeighborsRegressor(n_neighbors = i, leaf_size = j, metric = k, weights = l, algorithm = m)
          knn.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, knn.predict(X_test_scaled)))
          neighbor.append(i)
          leaf_size.append(j)
          metric.append(k)
          weight.append(l)
          algorithm.append(m)

In [146]:
min(scores)
import numpy as np
index = np.argmin(scores)
parameters = [neighbor[index], leaf_size[index], metric[index], weight[index], algorithm[index]]
parameters

[2, 10, 'chebyshev', 'uniform', 'brute']

In [147]:
knn_min = KNeighborsRegressor(n_neighbors = 2, leaf_size = 10, metric = 'chebyshev', weights = 'uniform', algorithm = 'brute')
knn_min.fit(X_scaled, Y)
Y_pred_knn = knn_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_knn.reshape(len(Y_pred_knn),1)
),1))

[[339667.  469263. ]
 [335642.  679487. ]
 [286980.  588689. ]
 [190675.  629658. ]
 [246692.  580281. ]
 [288551.  604922.5]
 [365548.  427204.5]
 [321671.  768928.5]
 [262820.  625162.5]
 [264765.  698827.5]
 [224537.  613664. ]
 [287179.  667420. ]
 [330106.  569942.5]
 [436497.  588562. ]
 [300190.  652058. ]
 [257361.  636530.5]
 [287853.  699133.5]
 [313407.  581070.5]
 [300283.  730955. ]
 [397150.  584072. ]
 [489118.  692983. ]
 [309849.  706719. ]
 [261242.  552519. ]
 [316024.  611806. ]
 [340384.  827966.5]
 [353597.  771645.5]
 [456912.  675179.5]
 [481376.  540243. ]
 [358501.  537202.5]
 [351099.  632026.5]
 [316908.  660263. ]
 [366340.  722975.5]
 [392107.  753615. ]
 [493588.  882988. ]
 [489269.  564462.5]
 [404066.  517219.5]
 [311007.  661963. ]
 [376385.  526916.5]
 [448039.  702291.5]
 [438663.  752761.5]
 [543000.  702816. ]
 [595152.  706578.5]
 [439515.  634174. ]
 [366040.  682503.5]
 [378222.  722856.5]
 [463787.  687003. ]
 [460825.  750421. ]
 [572248.  607009.5]
 [599961.  557984. ]
 [539991.  586697.5]
 [464319.  646979. ]
 [403194.  577922.5]
 [578815.  717639. ]
 [505150.  764577.5]
 [332150.  642688. ]
 [578967.  642688. ]
 [385422.  615600. ]
 [473046.  413641. ]
 [497027.  691642.5]
 [467634.  789720.5]
 [472586.  657211.5]]

SVM

In [148]:
from sklearn.svm import SVR
scores = []
kernel = []
gamma = []
C = []
degree = []

kernels = ['linear', 'rbf']
gammas = [0.1, 1, 10, 100]
Cs = [0.1, 1, 10, 100]
degrees = [0, 1, 2, 3, 4, 5, 6]


for i in kernels:
  for j in gammas:
    for k in Cs:
        for l in degrees: 
          svm = SVR(kernel=i, gamma=j, C=k, degree=l)
          svm.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, svm.predict(X_test_scaled)))
          kernel.append(i)
          gamma.append(j)
          C.append(k)
          degree.append(l)

In [149]:
index = np.argmin(scores)
parameters = [kernel[index], gamma[index], C[index], degree[index]]
parameters

['linear', 0.1, 100, 0]

In [150]:
svm_min = SVR(kernel='linear', gamma=0.1, C=100, degree=0)
svm_min.fit(X_scaled, Y)
Y_pred_svm = svm_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_svm.reshape(len(Y_pred_svm),1)
),1))

[[339667.         566100.40830694]
 [335642.         633712.94172779]
 [286980.         600858.57435085]
 [190675.         597116.22257799]
 [246692.         582549.88483834]
 [288551.         561183.04281537]
 [365548.         569546.63370892]
 [321671.         573414.82225401]
 [262820.         640486.13471149]
 [264765.         647425.53030809]
 [224537.         611713.27833882]
 [287179.         611296.12304045]
 [330106.         588524.90614448]
 [436497.         587435.23327529]
 [300190.         583910.74241437]
 [257361.         647215.69398683]
 [287853.         621766.94932068]
 [313407.         629816.90639758]
 [300283.         638940.88243879]
 [397150.         606075.68332703]
 [489118.         588732.44632648]
 [309849.         577471.30632303]
 [261242.         588254.51976976]
 [316024.         608471.22132558]
 [340384.         636479.32219806]
 [353597.         609511.91568975]
 [456912.         625817.93922126]
 [481376.         573838.55617099]
 [358501.         571994.50152803]
 [351099.         645322.60370219]
 [316908.         621955.36016856]
 [366340.         623034.81314318]
 [392107.         625739.37453127]
 [493588.         619057.66081719]
 [489269.         590790.82023689]
 [404066.         577937.87358788]
 [311007.         621752.53669208]
 [376385.         598936.36631065]
 [448039.         632260.26364324]
 [438663.         616069.64488357]
 [543000.         615019.40742794]
 [595152.         623986.22451851]
 [439515.         622600.68311537]
 [366040.         682364.36145066]
 [378222.         671903.34591873]
 [463787.         634054.32148638]
 [460825.         632851.80155917]
 [572248.         592421.80307647]
 [599961.         605685.11000677]
 [539991.         597810.47411786]
 [464319.         623036.58156241]
 [403194.         601477.75266955]
 [578815.         621719.33036631]
 [505150.         614100.14128402]
 [332150.         578394.91344631]
 [578967.         591930.80845577]
 [385422.         592149.88165755]
 [473046.         604304.61257845]
 [497027.         639308.61111417]
 [467634.         639858.50078115]
 [472586.         601236.81626468]]

In [151]:
from sklearn.tree import DecisionTreeRegressor
scores
# Decision Tree
scores = []
splitter = []
criterion =  []
max_depth = []
max_feature = []
min_samples_split = []

splitters =['best','random']
criterions = ['mse', 'friedman_mse', 'mae']
max_depths = [1,2,3,4,5,10,20,30,40]
max_features =['auto','sqrt','log2'] 
min_samples_splits = [2,3,4,5,10,20,30,40]

for i in splitters:
  for j in criterions:
    for k in max_depths:
      for l in max_features:
        for m in min_samples_splits:
            tree = DecisionTreeRegressor(splitter = i, criterion = j, max_depth = k, max_features = l, min_samples_split = m)
            tree.fit(X_scaled, Y)
            scores.append(mean_squared_error(realY, tree.predict(X_test_scaled)))

            splitter.append(i)
            criterion.append(j)
            max_depth.append(k)
            max_feature.append(l)
            min_samples_split.append(m)

In [152]:
index = np.argmin(scores)
parameters = [splitter[index], criterion[index], max_depth[index], max_feature[index], min_samples_split[index]]
parameters

['random', 'mae', 10, 'log2', 2]

In [164]:
tree_min = DecisionTreeRegressor(splitter = 'random', criterion = 'mae', max_depth = 10, max_features = 'log2', min_samples_split = 2)
tree_min.fit(X_scaled, Y)
Y_pred_tree = tree_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_tree.reshape(len(Y_pred_tree),1)
),1))

[[339667.  514709. ]
 [335642.  614299. ]
 [286980.  614299. ]
 [190675.  457939. ]
 [246692.  614299. ]
 [288551.  614299. ]
 [365548.  547033.5]
 [321671.  514709. ]
 [262820.  776160. ]
 [264765.  776160. ]
 [224537.  457939. ]
 [287179.  776160. ]
 [330106.  874751. ]
 [436497.  547033.5]
 [300190.  514709. ]
 [257361.  776160. ]
 [287853.  776160. ]
 [313407.  776160. ]
 [300283.  776160. ]
 [397150.  874751. ]
 [489118.  589744. ]
 [309849.  514709. ]
 [261242.  690346.5]
 [316024.  776160. ]
 [340384.  776160. ]
 [353597.  776160. ]
 [456912.  874751. ]
 [481376.  589744. ]
 [358501.  457401. ]
 [351099.  776160. ]
 [316908.  690346.5]
 [366340.  776160. ]
 [392107.  776160. ]
 [493588.  874751. ]
 [489269.  580429. ]
 [404066.  506716.5]
 [311007.  776160. ]
 [376385.  690346.5]
 [448039.  776160. ]
 [438663.  776160. ]
 [543000.  874751. ]
 [595152.  580429. ]
 [439515.  506716.5]
 [366040.  776160. ]
 [378222.  776160. ]
 [463787.  776160. ]
 [460825.  776160. ]
 [572248.  874751. ]
 [599961.  580429. ]
 [539991.  506716.5]
 [464319.  556234. ]
 [403194.  542059. ]
 [578815.  720055. ]
 [505150.  720055. ]
 [332150.  596664. ]
 [578967.  707021.5]
 [385422.  607425. ]
 [473046.  596664. ]
 [497027.  596664. ]
 [467634.  596664. ]
 [472586.  808204. ]]

In [154]:
from sklearn.ensemble import RandomForestRegressor
# Random forest
scores = []
n_estimator = []
criterion =  []
max_depth = []
max_feature = []
min_samples_split = []


criterions = ['mse', 'friedman_mse']
max_depths = [10,20,30,40]
max_features =['auto','sqrt','log2'] 
min_samples_splits = [10,20,30,40]
n_estimators =[10,50,100]


for i in n_estimators:
  for j in criterions:
    for k in max_depths:
      for l in max_features:
        for m in min_samples_splits:
            rf = RandomForestRegressor(n_estimators = i, criterion = j, max_depth = k, max_features = l, min_samples_split = m)
            rf.fit(X_scaled, Y)
            scores.append(mean_squared_error(realY, rf.predict(X_test_scaled)))

            n_estimator.append(i)
            criterion.append(j)
            max_depth.append(k)
            max_feature.append(l)
            min_samples_split.append(m)

In [155]:
index = np.argmin(scores)
parameters = [n_estimator[index], criterion[index], max_depth[index], max_feature[index], min_samples_split[index]]
parameters

[10, 'friedman_mse', 20, 'auto', 30]

In [163]:
rf_min = RandomForestRegressor(n_estimators = 10, criterion = 'friedman_mse', max_depth = 20, max_features = 'auto', min_samples_split = 30)
rf_min.fit(X_scaled, Y)
Y_pred_rf = rf_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_rf.reshape(len(Y_pred_rf),1)
),1))

[[339667.         454263.65005793]
 [335642.         511068.28484606]
 [286980.         526702.10083052]
 [190675.         560513.81832011]
 [246692.         575543.18338942]
 [288551.         620547.23542622]
 [365548.         568008.86854507]
 [321671.         560304.13387267]
 [262820.         594607.17629777]
 [264765.         606143.94600056]
 [224537.         577279.8593735 ]
 [287179.         603925.12937081]
 [330106.         674579.5876025 ]
 [436497.         568899.01634787]
 [300190.         459714.29275862]
 [257361.         612777.94480421]
 [287853.         638628.43289161]
 [313407.         634350.42940633]
 [300283.         628563.17556018]
 [397150.         695657.76790204]
 [489118.         574173.00552924]
 [309849.         376168.20246753]
 [261242.         529427.61073115]
 [316024.         562311.46647007]
 [340384.         634350.42940633]
 [353597.         611200.77978563]
 [456912.         717792.81095623]
 [481376.         533066.91649745]
 [358501.         470929.02713489]
 [351099.         607164.06099345]
 [316908.         544144.74743381]
 [366340.         604313.03269006]
 [392107.         638009.60056018]
 [493588.         699128.113714  ]
 [489269.         529587.73299405]
 [404066.         474881.0240148 ]
 [311007.         571666.10285928]
 [376385.         550304.36129039]
 [448039.         615422.02500377]
 [438663.         603827.43563124]
 [543000.         699128.113714  ]
 [595152.         578914.37344377]
 [439515.         535459.7381174 ]
 [366040.         618532.73457142]
 [378222.         649956.54752688]
 [463787.         669239.02847409]
 [460825.         681577.35613532]
 [572248.         697524.31787342]
 [599961.         605529.53115464]
 [539991.         546497.90053934]
 [464319.         561844.16251835]
 [403194.         556818.24029612]
 [578815.         665137.66470473]
 [505150.         676890.53794818]
 [332150.         672882.38445714]
 [578967.         662026.19708213]
 [385422.         371121.44246753]
 [473046.         661992.59776923]
 [497027.         712457.829547  ]
 [467634.         719227.15309101]
 [472586.         663004.67395289]]

In [157]:
from sklearn.neural_network import MLPRegressor

scores = []
hidden_layer_size = []
solver = []
activation = []
alpha = []
learning_rate = []

hidden_layer_sizes = []
for i in range(1,6):
  hidden_layer_sizes.append(((i,i,i)))
activations = ['tanh', 'relu', 'logistic']
solvers = ['lbfgs', 'sgd', 'adam']
alphas = [0.0001, 0.05, 0.01, .001]
learning_rates = ['constant','adaptive', 'invscaling']

for i in hidden_layer_sizes:
  for j in activations:
    print(i, j)
    for k in solvers:
      for l in alphas:
        for m in learning_rates:
          nn = MLPRegressor(hidden_layer_sizes = i, activation = j, solver = k, alpha = l, learning_rate = m)
          nn.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, nn.predict(X_test_scaled)))

          hidden_layer_size.append(i)
          activation.append(j)
          solver.append(k)
          alpha.append(l)
          learning_rate.append(m)

(1, 1, 1) tanh
(1, 1, 1) relu
(1, 1, 1) logistic
(2, 2, 2) tanh
(2, 2, 2) relu
(2, 2, 2) logistic
(3, 3, 3) tanh
(3, 3, 3) relu
(3, 3, 3) logistic
(4, 4, 4) tanh
(4, 4, 4) relu
(4, 4, 4) logistic
(5, 5, 5) tanh
(5, 5, 5) relu
(5, 5, 5) logistic

In [158]:
index = np.argmin(scores)
parameters = [hidden_layer_size[index], activation[index], solver[index], alpha[index], learning_rate[index]]
parameters

[(5, 5, 5), 'logistic', 'sgd', 0.001, 'invscaling']

In [162]:
nn_min = MLPRegressor(hidden_layer_sizes = (5,5,5), activation = 'logistic', solver = 'sgd', alpha = 0.001, learning_rate = 'invscaling')
nn_min.fit(X_scaled, Y)
Y_pred_nn = nn_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_nn.reshape(len(Y_pred_nn),1)
),1))

[[339667.         255137.24933585]
 [335642.         255137.24933585]
 [286980.         255137.24933585]
 [190675.         255137.24933585]
 [246692.         255137.24933585]
 [288551.         255137.24933585]
 [365548.         255137.24933585]
 [321671.         255137.24933585]
 [262820.         255137.24933585]
 [264765.         255137.24933585]
 [224537.         255137.24933585]
 [287179.         255137.24933585]
 [330106.         255137.24933585]
 [436497.         255137.24933585]
 [300190.         255137.24933585]
 [257361.         255137.24933585]
 [287853.         255137.24933585]
 [313407.         255137.24933585]
 [300283.         255137.24933585]
 [397150.         255137.24933585]
 [489118.         255137.24933585]
 [309849.         255137.24933585]
 [261242.         255137.24933585]
 [316024.         255137.24933585]
 [340384.         255137.24933585]
 [353597.         255137.24933585]
 [456912.         255137.24933585]
 [481376.         255137.24933585]
 [358501.         255137.24933585]
 [351099.         255137.24933585]
 [316908.         255137.24933585]
 [366340.         255137.24933585]
 [392107.         255137.24933585]
 [493588.         255137.24933585]
 [489269.         255137.24933585]
 [404066.         255137.24933585]
 [311007.         255137.24933585]
 [376385.         255137.24933585]
 [448039.         255137.24933585]
 [438663.         255137.24933585]
 [543000.         255137.24933585]
 [595152.         255137.24933585]
 [439515.         255137.24933585]
 [366040.         255137.24933585]
 [378222.         255137.24933585]
 [463787.         255137.24933585]
 [460825.         255137.24933585]
 [572248.         255137.24933585]
 [599961.         255137.24933585]
 [539991.         255137.24933585]
 [464319.         255137.24933585]
 [403194.         255137.24933585]
 [578815.         255137.24933585]
 [505150.         255137.24933585]
 [332150.         255137.24933585]
 [578967.         255137.24933585]
 [385422.         255137.24933585]
 [473046.         255137.24933585]
 [497027.         255137.24933585]
 [467634.         255137.24933585]
 [472586.         255137.24933585]]

In [165]:
from prettytable import PrettyTable
from sklearn.metrics import r2_score
rt = PrettyTable(["Algorithm", "r2"])
rt.align["Algorithm"] = "l" # Left align city names
rt.padding_width = 1 # One space between column edges and contents (default)
rt.add_row(["KNN",
            '{:.2f}'.format(r2_score(realY, Y_pred_knn))])
rt.add_row(["SVR",
            '{:.2f}'.format(r2_score(realY, Y_pred_svm))])
rt.add_row(["Decision Tree",
            '{:.2f}'.format(r2_score(realY, Y_pred_tree))])
rt.add_row(["Random Forest",
            '{:.2f}'.format(r2_score(realY, Y_pred_rf))])
rt.add_row(["MLP",
            '{:.2f}'.format(r2_score(realY, Y_pred_nn))])
print(rt)

+---------------+-------+
| Algorithm     |   r2  |
+---------------+-------+
| KNN           | -7.06 |
| SVR           | -4.77 |
| Decision Tree | -9.39 |
| Random Forest | -4.16 |
| MLP           | -1.85 |
+---------------+-------+

In [166]:
#save the best model
import pickle
pickle.dump(rf_min, open('Model/pedestriant_ml_prediction_model_rf', 'wb'))
pickle.dump(svm_min, open('Model/pedestriant_ml_prediction_model_svr', 'wb'))
pickle.dump(newscaler, open('Model/newscaler', 'wb'))