In [2]:
#File manipulation
import os
from datetime import datetime

#Data manipulation
import requests
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns
from shapely.geometry import Polygon

#Visualisation
import matplotlib.pyplot as plt
import branca.colormap as cm
import folium
from folium.plugins import MarkerCluster

# 2.1 api microclimate sensor readings

https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/microclimate-sensor-readings/records?limit=10&offset=0&timezone=UTC&include_links=

In [5]:
BASE_URL = 'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/'

#Dataset name
SENSOR_DATASET = 'microclimate-sensor-readings'
NUMBER_OF_RECORDS = 10

# Add a filter for the number of results returned
FILTERS = f'records?limit={NUMBER_OF_RECORDS}&offset=0&timezone=UTC'

In [6]:
SENSOR_URL = f'{BASE_URL}{SENSOR_DATASET}/{FILTERS}'
SENSOR_URL

'https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/microclimate-sensor-readings/records?limit=10&offset=0&timezone=UTC'

In [9]:
# Use requests to get the data
result = requests.get(SENSOR_URL)

In [10]:
result

In [11]:
result.text

'{"total_count": 1340, "results": [{"local_time": "2023-07-26T14:15:02+00:00", "id": 7595165, "site_id": 1014, "sensor_id": "5b", "value": 80.14, "type": "TPH.RH", "units": "%", "gatewayhub_id": "arc1045", "site_status": "C"}, {"local_time": "2023-07-26T14:15:05+00:00", "id": 7595073, "site_id": 1011, "sensor_id": "5b", "value": 75.54, "type": "TPH.RH", "units": "%", "gatewayhub_id": "arc1055", "site_status": "C"}, {"local_time": "2023-07-26T14:15:05+00:00", "id": 7595078, "site_id": 1011, "sensor_id": "5c", "value": 1028.8, "type": "TPH.PRESSURE", "units": "hPa", "gatewayhub_id": "arc1055", "site_status": "C"}, {"local_time": "2023-07-26T14:15:05+00:00", "id": 7595112, "site_id": 1012, "sensor_id": "5a", "value": 8.72, "type": "TPH.TEMP", "units": "C", "gatewayhub_id": "arc1048", "site_status": "C"}, {"local_time": "2023-07-26T14:15:07+00:00", "id": 7595204, "site_id": 1016, "sensor_id": "5a", "value": 9.35, "type": "TPH.TEMP", "units": "C", "gatewayhub_id": "arc1049", "site_status": "C"}, {"local_time": "2023-07-26T14:15:07+00:00", "id": 7595214, "site_id": 1016, "sensor_id": "5c", "value": 1029.2, "type": "TPH.PRESSURE", "units": "hPa", "gatewayhub_id": "arc1049", "site_status": "C"}, {"local_time": "2023-07-26T14:15:10+00:00", "id": 7595022, "site_id": 1009, "sensor_id": "0a", "value": 8.8, "type": "PM2.5", "units": "ug/m^3", "gatewayhub_id": "arc1050", "site_status": "C"}, {"local_time": "2023-07-26T14:15:11+00:00", "id": 7595139, "site_id": 1014, "sensor_id": "0b", "value": 26.6, "type": "PM10", "units": "ug/m^3", "gatewayhub_id": "arc1045", "site_status": "C"}, {"local_time": "2023-07-26T14:15:16+00:00", "id": 7595178, "site_id": 1016, "sensor_id": "0a", "value": 13.0, "type": "PM2.5", "units": "ug/m^3", "gatewayhub_id": "arc1049", "site_status": "C"}, {"local_time": "2023-07-26T14:15:16+00:00", "id": 7595187, "site_id": 1016, "sensor_id": "0b", "value": 40.9, "type": "PM10", "units": "ug/m^3", "gatewayhub_id": "arc1049", "site_status": "C"}]}'

In [12]:
result.json()

{'total_count': 1340,
 'results': [{'local_time': '2023-07-26T14:15:02+00:00',
   'id': 7595165,
   'site_id': 1014,
   'sensor_id': '5b',
   'value': 80.14,
   'type': 'TPH.RH',
   'units': '%',
   'gatewayhub_id': 'arc1045',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:05+00:00',
   'id': 7595073,
   'site_id': 1011,
   'sensor_id': '5b',
   'value': 75.54,
   'type': 'TPH.RH',
   'units': '%',
   'gatewayhub_id': 'arc1055',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:05+00:00',
   'id': 7595078,
   'site_id': 1011,
   'sensor_id': '5c',
   'value': 1028.8,
   'type': 'TPH.PRESSURE',
   'units': 'hPa',
   'gatewayhub_id': 'arc1055',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:05+00:00',
   'id': 7595112,
   'site_id': 1012,
   'sensor_id': '5a',
   'value': 8.72,
   'type': 'TPH.TEMP',
   'units': 'C',
   'gatewayhub_id': 'arc1048',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:07+00:00',
   'id': 7595204,
   'site_id': 1016,
   'sensor_id': '5a',
   'value': 9.35,
   'type': 'TPH.TEMP',
   'units': 'C',
   'gatewayhub_id': 'arc1049',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:07+00:00',
   'id': 7595214,
   'site_id': 1016,
   'sensor_id': '5c',
   'value': 1029.2,
   'type': 'TPH.PRESSURE',
   'units': 'hPa',
   'gatewayhub_id': 'arc1049',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:10+00:00',
   'id': 7595022,
   'site_id': 1009,
   'sensor_id': '0a',
   'value': 8.8,
   'type': 'PM2.5',
   'units': 'ug/m^3',
   'gatewayhub_id': 'arc1050',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:11+00:00',
   'id': 7595139,
   'site_id': 1014,
   'sensor_id': '0b',
   'value': 26.6,
   'type': 'PM10',
   'units': 'ug/m^3',
   'gatewayhub_id': 'arc1045',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:16+00:00',
   'id': 7595178,
   'site_id': 1016,
   'sensor_id': '0a',
   'value': 13.0,
   'type': 'PM2.5',
   'units': 'ug/m^3',
   'gatewayhub_id': 'arc1049',
   'site_status': 'C'},
  {'local_time': '2023-07-26T14:15:16+00:00',
   'id': 7595187,
   'site_id': 1016,
   'sensor_id': '0b',
   'value': 40.9,
   'type': 'PM10',
   'units': 'ug/m^3',
   'gatewayhub_id': 'arc1049',
   'site_status': 'C'}]}

In [13]:
result_json = result.json()

In [14]:
result_json = result.json()

In [15]:
result_json.keys()

dict_keys(['total_count', 'results'])

In [16]:
result_json['total_count']

1340

In [18]:
result_json['results']

[{'local_time': '2023-07-26T14:15:02+00:00',
  'id': 7595165,
  'site_id': 1014,
  'sensor_id': '5b',
  'value': 80.14,
  'type': 'TPH.RH',
  'units': '%',
  'gatewayhub_id': 'arc1045',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:05+00:00',
  'id': 7595073,
  'site_id': 1011,
  'sensor_id': '5b',
  'value': 75.54,
  'type': 'TPH.RH',
  'units': '%',
  'gatewayhub_id': 'arc1055',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:05+00:00',
  'id': 7595078,
  'site_id': 1011,
  'sensor_id': '5c',
  'value': 1028.8,
  'type': 'TPH.PRESSURE',
  'units': 'hPa',
  'gatewayhub_id': 'arc1055',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:05+00:00',
  'id': 7595112,
  'site_id': 1012,
  'sensor_id': '5a',
  'value': 8.72,
  'type': 'TPH.TEMP',
  'units': 'C',
  'gatewayhub_id': 'arc1048',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:07+00:00',
  'id': 7595204,
  'site_id': 1016,
  'sensor_id': '5a',
  'value': 9.35,
  'type': 'TPH.TEMP',
  'units': 'C',
  'gatewayhub_id': 'arc1049',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:07+00:00',
  'id': 7595214,
  'site_id': 1016,
  'sensor_id': '5c',
  'value': 1029.2,
  'type': 'TPH.PRESSURE',
  'units': 'hPa',
  'gatewayhub_id': 'arc1049',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:10+00:00',
  'id': 7595022,
  'site_id': 1009,
  'sensor_id': '0a',
  'value': 8.8,
  'type': 'PM2.5',
  'units': 'ug/m^3',
  'gatewayhub_id': 'arc1050',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:11+00:00',
  'id': 7595139,
  'site_id': 1014,
  'sensor_id': '0b',
  'value': 26.6,
  'type': 'PM10',
  'units': 'ug/m^3',
  'gatewayhub_id': 'arc1045',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:16+00:00',
  'id': 7595178,
  'site_id': 1016,
  'sensor_id': '0a',
  'value': 13.0,
  'type': 'PM2.5',
  'units': 'ug/m^3',
  'gatewayhub_id': 'arc1049',
  'site_status': 'C'},
 {'local_time': '2023-07-26T14:15:16+00:00',
  'id': 7595187,
  'site_id': 1016,
  'sensor_id': '0b',
  'value': 40.9,
  'type': 'PM10',
  'units': 'ug/m^3',
  'gatewayhub_id': 'arc1049',
  'site_status': 'C'}]

In [23]:
results = result_json['results']

In [24]:
len(results)

10

In [26]:
for i in results[:5]:
    print(i)

{'local_time': '2023-07-26T14:15:02+00:00', 'id': 7595165, 'site_id': 1014, 'sensor_id': '5b', 'value': 80.14, 'type': 'TPH.RH', 'units': '%', 'gatewayhub_id': 'arc1045', 'site_status': 'C'}
{'local_time': '2023-07-26T14:15:05+00:00', 'id': 7595073, 'site_id': 1011, 'sensor_id': '5b', 'value': 75.54, 'type': 'TPH.RH', 'units': '%', 'gatewayhub_id': 'arc1055', 'site_status': 'C'}
{'local_time': '2023-07-26T14:15:05+00:00', 'id': 7595078, 'site_id': 1011, 'sensor_id': '5c', 'value': 1028.8, 'type': 'TPH.PRESSURE', 'units': 'hPa', 'gatewayhub_id': 'arc1055', 'site_status': 'C'}
{'local_time': '2023-07-26T14:15:05+00:00', 'id': 7595112, 'site_id': 1012, 'sensor_id': '5a', 'value': 8.72, 'type': 'TPH.TEMP', 'units': 'C', 'gatewayhub_id': 'arc1048', 'site_status': 'C'}
{'local_time': '2023-07-26T14:15:07+00:00', 'id': 7595204, 'site_id': 1016, 'sensor_id': '5a', 'value': 9.35, 'type': 'TPH.TEMP', 'units': 'C', 'gatewayhub_id': 'arc1049', 'site_status': 'C'}

In [32]:
pm10_df = pd.json_normalize(results)

In [33]:
pm10_df

,local_time,id,site_id,sensor_id,value,type,units,gatewayhub_id,site_status
0,2023-07-26T14:15:02+00:00,7595165,1014,5b,80.14,TPH.RH,%,arc1045,C
1,2023-07-26T14:15:05+00:00,7595073,1011,5b,75.54,TPH.RH,%,arc1055,C
2,2023-07-26T14:15:05+00:00,7595078,1011,5c,1028.80,TPH.PRESSURE,hPa,arc1055,C
3,2023-07-26T14:15:05+00:00,7595112,1012,5a,8.72,TPH.TEMP,C,arc1048,C
4,2023-07-26T14:15:07+00:00,7595204,1016,5a,9.35,TPH.TEMP,C,arc1049,C
5,2023-07-26T14:15:07+00:00,7595214,1016,5c,1029.20,TPH.PRESSURE,hPa,arc1049,C
6,2023-07-26T14:15:10+00:00,7595022,1009,0a,8.80,PM2.5,ug/m^3,arc1050,C
7,2023-07-26T14:15:11+00:00,7595139,1014,0b,26.60,PM10,ug/m^3,arc1045,C
8,2023-07-26T14:15:16+00:00,7595178,1016,0a,13.00,PM2.5,ug/m^3,arc1049,C
9,2023-07-26T14:15:16+00:00,7595187,1016,0b,40.90,PM10,ug/m^3,arc1049,C

In [34]:
pm10_df.shape

(10, 9)

In [47]:
pm10_df[['id', 'site_id']] = pm10_df[['id', 'site_id']].astype(int)
pm10_df[['value']] = pm10_df[['value']].astype(float)
pm10_df['local_time'] = pd.to_datetime(pm10_df['local_time'] )
pm10_df = pm10_df.convert_dtypes()

pm10_df.dtypes

local_time       datetime64[ns, UTC]
id                             Int32
site_id                        Int32
sensor_id                     string
value                        Float64
type                          string
units                         string
gatewayhub_id                 string
site_status                   string
dtype: object

In [49]:
groupbyfields = ['site_id']
aggregatebyfields = ["count", "mean"]

# Create new DataFrame with value counts and mean values for each site.
pm10SiteCount = pd.DataFrame(pm10_df.groupby(groupbyfields, as_index=False)['value'].agg(aggregatebyfields)
                             .add_prefix('value_'))
pm10SiteCount = pm10SiteCount.reset_index()
pm10SiteCount

   site_id  value_count  value_mean
0     1009            1         8.8
1     1011            2      552.17
2     1012            1        8.72
3     1014            2       53.37
4     1016            4    273.1125

In [51]:
pm10_df

,local_time,id,site_id,sensor_id,value,type,units,gatewayhub_id,site_status
0,2023-07-26 14:15:02+00:00,7595165,1014,5b,80.14,TPH.RH,%,arc1045,C
1,2023-07-26 14:15:05+00:00,7595073,1011,5b,75.54,TPH.RH,%,arc1055,C
2,2023-07-26 14:15:05+00:00,7595078,1011,5c,1028.8,TPH.PRESSURE,hPa,arc1055,C
3,2023-07-26 14:15:05+00:00,7595112,1012,5a,8.72,TPH.TEMP,C,arc1048,C
4,2023-07-26 14:15:07+00:00,7595204,1016,5a,9.35,TPH.TEMP,C,arc1049,C
5,2023-07-26 14:15:07+00:00,7595214,1016,5c,1029.2,TPH.PRESSURE,hPa,arc1049,C
6,2023-07-26 14:15:10+00:00,7595022,1009,0a,8.8,PM2.5,ug/m^3,arc1050,C
7,2023-07-26 14:15:11+00:00,7595139,1014,0b,26.6,PM10,ug/m^3,arc1045,C
8,2023-07-26 14:15:16+00:00,7595178,1016,0a,13.0,PM2.5,ug/m^3,arc1049,C
9,2023-07-26 14:15:16+00:00,7595187,1016,0b,40.9,PM10,ug/m^3,arc1049,C

In [54]:
pm10_df['site_id'].unique()

<IntegerArray>
[1014, 1011, 1012, 1016, 1009]
Length: 5, dtype: Int32

# reading same data from csv file

In [58]:
df = pd.read_csv('data.csv')

In [59]:
df

,Local_Time,ID,Site_ID,Sensor_ID,Value,Type,Units,Gatewayhub_ID,Site_Status
0,2023-07-27T00:15:02+10:00,7595165,1014,5b,80.14,TPH.RH,%,arc1045,C
1,2023-07-27T00:15:05+10:00,7595073,1011,5b,75.54,TPH.RH,%,arc1055,C
2,2023-07-27T00:15:05+10:00,7595078,1011,5c,1028.80,TPH.PRESSURE,hPa,arc1055,C
3,2023-07-27T00:15:05+10:00,7595112,1012,5a,8.72,TPH.TEMP,C,arc1048,C
4,2023-07-27T00:15:07+10:00,7595204,1016,5a,9.35,TPH.TEMP,C,arc1049,C
...,...,...,...,...,...,...,...,...,...
1335,2023-07-27T09:00:02+10:00,7596665,1011,5a,9.33,TPH.TEMP,C,arc1055,C
1336,2023-07-27T09:00:02+10:00,7596670,1011,5b,75.80,TPH.RH,%,arc1055,C
1337,2023-07-27T09:00:02+10:00,7596767,1014,5c,1028.20,TPH.PRESSURE,hPa,arc1045,C
1338,2023-07-27T09:00:11+10:00,7596625,1009,0b,23.60,PM10,ug/m^3,arc1050,C
1339,2023-07-27T09:00:11+10:00,7596648,1011,0b,26.50,PM10,ug\/m^3,arc1055,C

In [60]:
df['Type'].unique()

array(['TPH.RH', 'TPH.PRESSURE', 'TPH.TEMP', 'PM2.5', 'PM10', 'WS',
       'PM2.5-EPA-1h', 'PM10-EPA-1h', 'PM10-EPA-1h-NOPK',
       'TPH.TEMP-EPA-1h', 'TPH.RH-EPA-1h', 'PM2.5-EPA-1h-PKIND',
       'PM10-EPA-1h-NOPK-EPA-24h', 'PM10-EPA-24h', 'PM10-EPA-1h-PKIND',
       'PM2.5-EPA-1h-NOPK-EPA-24h', 'PM2.5-EPA-24h', 'PM2.5-EPA-1h-NOPK'],
      dtype=object)

In [ ]:
# find all rows with "PM10-EPA-1h-NOPK-EPA-24h" as the type