In [1]:
#Importing packages
import numpy as np
import pandas as pd
import warnings
import io
warnings.filterwarnings("ignore")
from google.colab import files

In [47]:
#Uploading files in colab
uploaded = files.upload()

Saving PRICE_AND_DEMAND_202102_VIC1.csv to PRICE_AND_DEMAND_202102_VIC1.csv

In [ ]:
#Fetching data set for rainfall attribute from Bureau of Meteorology
datasetrainfall = pd.read_csv(io.BytesIO(uploaded['IDCJAC0009_086338_2020_Data.csv']))

In [ ]:
#Fetching data set for solar exposure attribute from Bureau of Meteorology
datasetsolarexposure = pd.read_csv(io.BytesIO(uploaded['IDCJAC0016_086338_2020_Data.csv']))

In [ ]:
#Fetching data set for maximum temperature attribute from Bureau of Meteorology
datasetmaxtemperature = pd.read_csv(io.BytesIO(uploaded['IDCJAC0010_086338_2020_Data.csv']))

In [ ]:
#Manually formed the csv file and integrated data as availability
dataschooldays = pd.read_csv(io.BytesIO(uploaded['Schooldata.csv']))

In [ ]:
#Data from kaggle data source
electricity_demand = pd.read_csv(io.BytesIO(uploaded['electricity_demand.csv']))

In [ ]:
#Manually formed the csv file containing date from 7 October 2020 to 28 February 2021
dataset = pd.read_csv(io.BytesIO(uploaded['Missing_Value.csv']))

In [ ]:
#Holiday list is formed using data source https://www.business.vic.gov.au/victorian-public-holidays-and-daylight-saving/victorian-public-holidays-2021
holiday_list = ['10/23/2020','11/3/2020','12/25/2020','12/28/2020','1/1/2021','1/26/2021']

In [ ]:
#Assigned label 'Y' to all the holidays
dataset['holiday'].loc[dataset['date'].isin(holiday_list)] = 'Y'

In [ ]:
#Assigned label 'N' to remaining null values
dataset['holiday'] = dataset['holiday'].fillna('N')

In [ ]:
#Displaying data
dataset.loc[dataset['date'].isin(holiday_list)]

In [ ]:
#Display data
datasetrainfall.tail()

    Product code  ...  Quality
140   IDCJAC0009  ...        N
141   IDCJAC0009  ...        N
142   IDCJAC0009  ...        N
143   IDCJAC0009  ...        N
144   IDCJAC0009  ...        N

[5 rows x 8 columns]

In [ ]:
#Creating dataframe for solarexposure
datasetsolarexposure.head()

datasolar = pd.DataFrame(columns=['date','solar_exposure'])

datasolar['date'] = datasetsolarexposure['Month'].map(str)+'/'+datasetsolarexposure['Day'].map(str)+'/'+datasetsolarexposure['Year'].map(str)
datasolar['solar_exposure'] = datasetsolarexposure['Daily global solar exposure (MJ/m*m)']

In [ ]:
datasolar.head()

         date  solar_exposure
0   10/7/2020             8.6
1   10/8/2020             9.7
2   10/9/2020            12.1
3  10/10/2020            17.7
4  10/11/2020            20.7

In [ ]:
#Updating the data set on the basis of dates for solar exposure attribute
dataset.update(datasolar)

In [ ]:
#Creating dataframe for rainfall
datarainfall = pd.DataFrame(columns=['date','rainfall'])

datarainfall['date'] = datasetrainfall['Month'].map(str)+'/'+datasetrainfall['Day'].map(str)+'/'+datasetrainfall['Year'].map(str)
datarainfall['rainfall'] = datasetrainfall['Rainfall amount (millimetres)']

In [ ]:
#Updating the data set on the basis of dates for rainfall attribute
dataset.update(datarainfall)

In [ ]:
dataset.head()

          date  demand  RRP  ...  rainfall  school_day  holiday
140  2/24/2021     NaN  NaN  ...       0.0           Y        N
141  2/25/2021     NaN  NaN  ...       0.0           Y        N
142  2/26/2021     NaN  NaN  ...       0.4           Y        N
143  2/27/2021     NaN  NaN  ...       0.0           N        N
144  2/28/2021     NaN  NaN  ...       0.0           N        N

[5 rows x 14 columns]

In [ ]:
datasetmaxtemperature.head()

  Product code  ...  Quality
0   IDCJAC0010  ...        Y
1   IDCJAC0010  ...        Y
2   IDCJAC0010  ...        Y
3   IDCJAC0010  ...        Y
4   IDCJAC0010  ...        Y

[5 rows x 8 columns]

In [ ]:
#Creating dataframe for maximum temperature
datamaxtemperature = pd.DataFrame(columns=['date','max_temperature'])

datamaxtemperature['date'] = datasetmaxtemperature['Month'].map(str)+'/'+datasetmaxtemperature['Day'].map(str)+'/'+datasetmaxtemperature['Year'].map(str)
datamaxtemperature['max_temperature'] = datasetmaxtemperature['Maximum temperature (Degree C)']

In [ ]:
#Updating the data set on the basis of dates for maximum temperature attribute
dataset.update(datamaxtemperature)

In [ ]:
#Updating the data set on the basis of dates for school day attribute
dataset.update(dataschooldays)

In [ ]:
electricity_demand.head()

         date      demand        RRP  ...  rainfall  school_day  holiday
0  2015-01-01   99635.030  25.633696  ...       0.0           N        Y
1  2015-01-02  129606.010  33.138988  ...       0.0           N        N
2  2015-01-03  142300.540  34.564855  ...       0.0           N        N
3  2015-01-04  104330.715  25.005560  ...       4.2           N        N
4  2015-01-05  118132.200  26.724176  ...       0.0           N        N

[5 rows x 14 columns]

In [ ]:
#Concatenating two dataframes
listofdf = [electricity_demand,dataset]
electricity_demand_updated = pd.concat(listofdf)

In [ ]:
electricity_demand_updated.tail()

          date  demand  RRP  ...  rainfall  school_day  holiday
140  2/24/2021     NaN  NaN  ...       0.0           Y        N
141  2/25/2021     NaN  NaN  ...       0.0           Y        N
142  2/26/2021     NaN  NaN  ...       0.4           Y        N
143  2/27/2021     NaN  NaN  ...       0.0           N        N
144  2/28/2021     NaN  NaN  ...       0.0           N        N

[5 rows x 14 columns]

In [ ]:
#Converting dataframe to csv file and downloading the file
electricity_demand_updated.to_csv('electricity_demand.csv') 
files.download('electricity_demand.csv')

In [25]:
#Fetching data set for October month RRP values from Australian Energy Market Operator
data_OctoberRRP = pd.read_csv(io.BytesIO(uploaded['PRICE_AND_DEMAND_202010_VIC1.csv']))

In [23]:
#Display the top 5 rows of the data set
data_OctoberRRP.head()

  REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
0   VIC1  2020/10/01 00:30:00      4670.40  39.09      TRADE
1   VIC1  2020/10/01 01:00:00      4513.84  38.39      TRADE
2   VIC1  2020/10/01 01:30:00      4329.71  36.46      TRADE
3   VIC1  2020/10/01 02:00:00      4146.21  35.79      TRADE
4   VIC1  2020/10/01 02:30:00      4003.90  33.65      TRADE

In [ ]:
#Split the column 'SETTLEMENTDATE' to fetch 'DATE'
data_OctoberRRP[['DATE','TIME']] = data_OctoberRRP.SETTLEMENTDATE.str.split(" ",expand=True)

In [ ]:
#Fetch the count of rows
data_OctoberRRP['DATE'].count()

1487

In [ ]:
#Select the values belonging to the october month
data_OctoberRRP = data_OctoberRRP.iloc[:1487]
data_OctoberRRP.tail()

     REGION       SETTLEMENTDATE  TOTALDEMAND  ...  PERIODTYPE        DATE      TIME
1482   VIC1  2020/10/31 21:30:00      4469.06  ...       TRADE  2020/10/31  21:30:00
1483   VIC1  2020/10/31 22:00:00      4371.16  ...       TRADE  2020/10/31  22:00:00
1484   VIC1  2020/10/31 22:30:00      4231.38  ...       TRADE  2020/10/31  22:30:00
1485   VIC1  2020/10/31 23:00:00      4200.92  ...       TRADE  2020/10/31  23:00:00
1486   VIC1  2020/10/31 23:30:00      4401.31  ...       TRADE  2020/10/31  23:30:00

[5 rows x 7 columns]

In [ ]:
#Calculate the average of attributes based on date
data_OctoberRRP = data_OctoberRRP.groupby('DATE').mean()

In [ ]:
#Drop the average of Total demand
data_OctoberRRP = data_OctoberRRP.drop(columns=['TOTALDEMAND'])

In [ ]:
#Drop the rows from data October 1 to 6 as this data is already available
data_OctoberRRP = data_OctoberRRP.iloc[6:]
data_OctoberRRP.head()

                   RRP
DATE
2020/10/07  123.477708
2020/10/08   23.328750
2020/10/09   55.744167
2020/10/10   31.007917
2020/10/11   53.929792

In [ ]:
#Form a final data set
finaldataset = data_OctoberRRP.copy()

In [39]:
#Fetching data set for November month RRP values from Australian Energy Market Operator
data_NovemberRRP = pd.read_csv(io.BytesIO(uploaded['PRICE_AND_DEMAND_202011_VIC1.csv']))

In [ ]:
#Fetch the count of rows
data_NovemberRRP['SETTLEMENTDATE'].count()

1440

In [ ]:
#Select the values belonging to the November month
data_NovemberRRP = data_NovemberRRP.iloc[:1439]
data_NovemberRRP.tail()

     REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
1434   VIC1  2020/11/30 21:30:00      5044.41  44.38      TRADE
1435   VIC1  2020/11/30 22:00:00      4816.41  54.50      TRADE
1436   VIC1  2020/11/30 22:30:00      4640.49  59.37      TRADE
1437   VIC1  2020/11/30 23:00:00      4555.52  54.46      TRADE
1438   VIC1  2020/11/30 23:30:00      4746.52  52.14      TRADE

In [ ]:
#Define the function to calculate the mean of RRP attribute
def update_dataset(data):
  data[['DATE','TIME']] = data.SETTLEMENTDATE.str.split(" ",expand=True)
  data = data.groupby('DATE').mean()
  data = data.drop(columns=['TOTALDEMAND'])
  return data

In [ ]:
#Pass the November data set and append the updated data to the final dataset
data_NovemberRRP = update_dataset(data_NovemberRRP)
finaldataset = finaldataset.append(data_NovemberRRP)
finaldataset.tail()

                  RRP
DATE
2020/11/26  58.193125
2020/11/27  66.546875
2020/11/28  53.318542
2020/11/29  11.382083
2020/11/30  45.390208

In [42]:
#Fetching data set for December month RRP values from Australian Energy Market Operator
data_DecemberRRP = pd.read_csv(io.BytesIO(uploaded['PRICE_AND_DEMAND_202012_VIC1.csv']))
data_DecemberRRP['SETTLEMENTDATE'].count()

1488

In [ ]:
#Fetch the December data values
data_DecemberRRP = data_DecemberRRP.iloc[:1487]
data_DecemberRRP.tail()

     REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
1482   VIC1  2020/12/31 21:30:00      4103.51  35.05      TRADE
1483   VIC1  2020/12/31 22:00:00      4034.28  35.49      TRADE
1484   VIC1  2020/12/31 22:30:00      4067.00  48.25      TRADE
1485   VIC1  2020/12/31 23:00:00      4115.25  38.66      TRADE
1486   VIC1  2020/12/31 23:30:00      4363.19  50.15      TRADE

In [ ]:
#Pass the December data set and append the updated data to the final dataset
data_DecemberRRP = update_dataset(data_DecemberRRP)
finaldataset = finaldataset.append(data_DecemberRRP)
finaldataset.tail()

                  RRP
DATE
2020/12/27   6.380417
2020/12/28   8.254583
2020/12/29  23.902917
2020/12/30  29.288958
2020/12/31   9.647500

In [45]:
#Fetching data set for January month RRP values from Australian Energy Market Operator
data_JanuaryRRP = pd.read_csv(io.BytesIO(uploaded['PRICE_AND_DEMAND_202101_VIC1.csv']))
data_JanuaryRRP['SETTLEMENTDATE'].count()

1488

In [ ]:
#Fetch the January data values
data_JanuaryRRP = data_JanuaryRRP.iloc[:1487]
data_JanuaryRRP.tail()

     REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
1482   VIC1  2021/01/31 21:30:00      4364.61  30.97      TRADE
1483   VIC1  2021/01/31 22:00:00      4272.24  29.86      TRADE
1484   VIC1  2021/01/31 22:30:00      4168.66  29.83      TRADE
1485   VIC1  2021/01/31 23:00:00      4170.81  31.37      TRADE
1486   VIC1  2021/01/31 23:30:00      4389.61  30.22      TRADE

In [ ]:
#Pass the January data set and append the updated data to the final dataset
data_JanuaryRRP = update_dataset(data_JanuaryRRP)
finaldataset = finaldataset.append(data_JanuaryRRP)
finaldataset.tail()

                  RRP
DATE
2021/01/27  -1.420000
2021/01/28  26.682292
2021/01/29  32.459167
2021/01/30   7.054792
2021/01/31  14.092083

In [48]:
#Fetching data set for February month RRP values from Australian Energy Market Operator
data_FebruaryRRP = pd.read_csv(io.BytesIO(uploaded['PRICE_AND_DEMAND_202102_VIC1.csv']))
data_FebruaryRRP['SETTLEMENTDATE'].count()

1344

In [ ]:
#Fetch the February data values
data_FebruaryRRP = data_FebruaryRRP.iloc[:1343]
data_FebruaryRRP.tail()

     REGION       SETTLEMENTDATE  TOTALDEMAND    RRP PERIODTYPE
1338   VIC1  2021/02/28 21:30:00      4516.92  23.20      TRADE
1339   VIC1  2021/02/28 22:00:00      4332.51  20.95      TRADE
1340   VIC1  2021/02/28 22:30:00      4272.33  22.77      TRADE
1341   VIC1  2021/02/28 23:00:00      4213.54  22.06      TRADE
1342   VIC1  2021/02/28 23:30:00      4450.41  28.54      TRADE

In [ ]:
#Pass the February data set and append the updated data to the final dataset
data_FebruaryRRP = update_dataset(data_FebruaryRRP)
finaldataset = finaldataset.append(data_FebruaryRRP)
finaldataset.tail()

                  RRP
DATE
2021/02/24  25.840417
2021/02/25  21.205833
2021/02/26  25.796250
2021/02/27  29.897083
2021/02/28  22.412917

In [ ]:
#Converting dataframe to csv file and downloading the file
finaldataset.to_csv('RRP_attribute_data.csv') 
files.download('RRP_attribute_data.csv')

In [ ]:
#Drop the remaining RRP attributes as the column values are redundant (Discussed in squad meeting)
electricity_demand = electricity_demand.drop(['demand_pos_RRP', 'RRP_positive','demand_neg_RRP','RRP_negative','frac_at_neg_RRP'], axis = 1)
electricity_demand.head()

       date      demand        RRP  ...  rainfall  school_day  holiday
0  1/1/2015   99635.030  25.633696  ...       0.0           N        Y
1  1/2/2015  129606.010  33.138988  ...       0.0           N        N
2  1/3/2015  142300.540  34.564855  ...       0.0           N        N
3  1/4/2015  104330.715  25.005560  ...       4.2           N        N
4  1/5/2015  118132.200  26.724176  ...       0.0           N        N

[5 rows x 9 columns]

In [ ]:
#Converting dataframe to csv file and downloading the file
electricity_demand.to_csv('electricity_demand.csv') 
files.download('electricity_demand.csv')

In [36]:
#Function to fetch the electricity demand
def updateElectricityDemand(data):
  #Split the column to form date and time column
  data[['DATE','TIME']] = data.SETTLEMENTDATE.str.split(" ",expand=True)
  #Fetch the values of current month
  rowcount = data['DATE'].count()
  data = data.iloc[:(rowcount-1)]
  #Sum the total electricity demand depending on date
  data = data.groupby('DATE')['TOTALDEMAND'].sum()
  data = data.to_frame()
  return data

In [37]:
#Fetch summation of electricity demand for October month
data_OctoberRRP = updateElectricityDemand(data_OctoberRRP)
data_OctoberRRP = data_OctoberRRP.iloc[6:]
finaldataset = data_OctoberRRP.copy()
finaldataset.tail()

            TOTALDEMAND
DATE
2020/10/27    214204.62
2020/10/28    212613.34
2020/10/29    217505.62
2020/10/30    204876.43
2020/10/31    195302.99

In [40]:
#Fetch summation of electricity demand for November month
data_NovemberRRP = updateElectricityDemand(data_NovemberRRP)
finaldataset = finaldataset.append(data_NovemberRRP)
finaldataset.tail()

            TOTALDEMAND
DATE
2020/11/26    223120.72
2020/11/27    251297.54
2020/11/28    224941.52
2020/11/29    187915.29
2020/11/30    219106.91

In [43]:
#Fetch summation of electricity demand for December month
data_DecemberRRP = updateElectricityDemand(data_DecemberRRP)
finaldataset = finaldataset.append(data_DecemberRRP)
finaldataset.tail()

            TOTALDEMAND
DATE
2020/12/27    192275.12
2020/12/28    171584.18
2020/12/29    181074.75
2020/12/30    187464.67
2020/12/31    189802.40

In [46]:
#Fetch summation of electricity demand for January month
data_JanuaryRRP = updateElectricityDemand(data_JanuaryRRP)
finaldataset = finaldataset.append(data_JanuaryRRP)
finaldataset.tail()

            TOTALDEMAND
DATE
2021/01/27    204864.77
2021/01/28    231448.70
2021/01/29    238632.71
2021/01/30    197416.29
2021/01/31    184446.81

In [49]:
#Fetch summation of electricity demand for February month
data_FebruaryRRP = updateElectricityDemand(data_FebruaryRRP)
finaldataset = finaldataset.append(data_FebruaryRRP)
finaldataset.tail()

            TOTALDEMAND
DATE
2021/02/24    217154.22
2021/02/25    214912.69
2021/02/26    215614.00
2021/02/27    206835.32
2021/02/28    195102.18

In [50]:
#Converting dataframe to csv file and downloading the file
finaldataset.to_csv('electricitydemand_data.csv') 
files.download('electricitydemand_data.csv')