In [1]:
# importing the data libraries 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# reading in the dataset 
df = pd.read_csv(r'C:\Users\Nauman\Downloads\road-corridors.csv')
df

,Geo Point,Geo Shape,seg_id,str_type,dtupdate,status_id,seg_descr,poly_area,gisid,street_id,seg_part
0,"-37.80720537262632, 144.9507747769122","{""coordinates"": [[[[144.950533760383, -37.8071...",21428,Arterial,20210923,1,Intersection of King Street and Stanley Street,901,1136,0,1
1,"-37.81848742506031, 144.961640259708","{""coordinates"": [[[[144.961816007658, -37.8189...",20395,Council Minor,20210923,3,Tavistock Place between Flinders Street and Fl...,481,3329,1116,1
2,"-37.80657450478691, 144.96670351393675","{""coordinates"": [[[[144.966610935183, -37.8069...",20734,Council Minor,20210923,3,Trades Hall Place from Victoria Street,424,1538,1128,1
3,"-37.795869576097964, 144.96572748078592","{""coordinates"": [[[[144.965728922625, -37.7957...",30258,Private,20210923,4,PL5061,78,192,1555,1
4,"-37.80783881923757, 144.94972958068007","{""coordinates"": [[[[144.950314513372, -37.8073...",21429,Council Major,20210923,2,Stanley Street between King Street and Spencer...,6118,1137,1089,1
...,...,...,...,...,...,...,...,...,...,...,...
4172,"-37.799150995830146, 144.97415244328747","{""coordinates"": [[[[144.974108567851, -37.7992...",20618,Council Minor,20210923,3,Kulin Place from Faraday Street,105,1762,120045,1
4173,"-37.81719685990041, 144.96450745457585","{""coordinates"": [[[[144.964699223819, -37.8171...",20128,Council Major,20210923,2,Intersection of Elizabeth Street and Flinders ...,371,3493,0,1
4174,"-37.79735835698418, 144.97489941950656","{""coordinates"": [[[[144.974888933243, -37.7968...",20880,Arterial,20210923,1,Nicholson Street between Elgin Street and Palm...,1566,1657,931,1
4175,"-37.79713851530425, 144.91996889864677","{""coordinates"": [[[[144.91967801463, -37.79692...",22576,Council Major,20210923,2,Fairbairn Drive between Tankard Street and Wak...,972,2152,2038,1
4176,"-37.79872238544615, 144.97069290180028","{""coordinates"": [[[[144.970469105483, -37.7986...",20672,Council Minor,20210923,3,Bernardi Lane from Rathdowne Street,118,1701,118670,1

In [8]:
# checking for data by using some common functions 
df.head()

,Geo Point,Geo Shape,seg_id,str_type,dtupdate,status_id,seg_descr,poly_area,gisid,street_id,seg_part
0,"-37.80720537262632, 144.9507747769122","{""coordinates"": [[[[144.950533760383, -37.8071...",21428,Arterial,20210923,1,Intersection of King Street and Stanley Street,901,1136,0,1
1,"-37.81848742506031, 144.961640259708","{""coordinates"": [[[[144.961816007658, -37.8189...",20395,Council Minor,20210923,3,Tavistock Place between Flinders Street and Fl...,481,3329,1116,1
2,"-37.80657450478691, 144.96670351393675","{""coordinates"": [[[[144.966610935183, -37.8069...",20734,Council Minor,20210923,3,Trades Hall Place from Victoria Street,424,1538,1128,1
3,"-37.795869576097964, 144.96572748078592","{""coordinates"": [[[[144.965728922625, -37.7957...",30258,Private,20210923,4,PL5061,78,192,1555,1
4,"-37.80783881923757, 144.94972958068007","{""coordinates"": [[[[144.950314513372, -37.8073...",21429,Council Major,20210923,2,Stanley Street between King Street and Spencer...,6118,1137,1089,1

In [9]:
df.tail()

,Geo Point,Geo Shape,seg_id,str_type,dtupdate,status_id,seg_descr,poly_area,gisid,street_id,seg_part
4172,"-37.799150995830146, 144.97415244328747","{""coordinates"": [[[[144.974108567851, -37.7992...",20618,Council Minor,20210923,3,Kulin Place from Faraday Street,105,1762,120045,1
4173,"-37.81719685990041, 144.96450745457585","{""coordinates"": [[[[144.964699223819, -37.8171...",20128,Council Major,20210923,2,Intersection of Elizabeth Street and Flinders ...,371,3493,0,1
4174,"-37.79735835698418, 144.97489941950656","{""coordinates"": [[[[144.974888933243, -37.7968...",20880,Arterial,20210923,1,Nicholson Street between Elgin Street and Palm...,1566,1657,931,1
4175,"-37.79713851530425, 144.91996889864677","{""coordinates"": [[[[144.91967801463, -37.79692...",22576,Council Major,20210923,2,Fairbairn Drive between Tankard Street and Wak...,972,2152,2038,1
4176,"-37.79872238544615, 144.97069290180028","{""coordinates"": [[[[144.970469105483, -37.7986...",20672,Council Minor,20210923,3,Bernardi Lane from Rathdowne Street,118,1701,118670,1

In [10]:
# describing the data
df.describe()

,seg_id,dtupdate,status_id,poly_area,gisid,street_id,seg_part
count,4177.000000,4177.0,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,23161.617189,20210923.0,2.812066,2702.474743,2089.000000,20789.647355,1.080441
std,3411.026894,0.0,1.884441,18190.842941,1205.940366,44035.202059,0.562853
min,10714.000000,20210923.0,1.000000,0.000000,1.000000,0.000000,1.000000
25%,21048.000000,20210923.0,2.000000,208.000000,1045.000000,572.000000,1.000000
50%,22090.000000,20210923.0,2.000000,719.000000,2089.000000,1049.000000,1.000000
75%,23049.000000,20210923.0,3.000000,2264.000000,3133.000000,2962.000000,1.000000
max,30895.000000,20210923.0,18.000000,989808.000000,4177.000000,120186.000000,14.000000

In [11]:
# checking data info 
df.info() # we see that we have 7 ints and 4 objects, for data to use with machines we need all to be numbers and not objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Geo Point  4177 non-null   object
 1   Geo Shape  4177 non-null   object
 2   seg_id     4177 non-null   int64
 3   str_type   4177 non-null   object
 4   dtupdate   4177 non-null   int64
 5   status_id  4177 non-null   int64
 6   seg_descr  4160 non-null   object
 7   poly_area  4177 non-null   int64
 8   gisid      4177 non-null   int64
 9   street_id  4177 non-null   int64
 10  seg_part   4177 non-null   int64
dtypes: int64(7), object(4)
memory usage: 359.1+ KB

In [12]:
# checking if the columns in the dataset have any nan values
df.isna().values.any()
# we get true meaning nan values exist

True

In [13]:
# lets check how many nan values for each column in the dataset 
df.isna().sum() # onlt one column seg_descr have 17 nan values out of a total of 4177 rows, lets fix it first

Geo Point     0
Geo Shape     0
seg_id        0
str_type      0
dtupdate      0
status_id     0
seg_descr    17
poly_area     0
gisid         0
street_id     0
seg_part      0
dtype: int64

In [14]:
# visualizing the columns with nan values 
df['seg_descr'] # we see that the df has 17 nan values and all are objects, so we have 3 options 

# 1 - either fill with mode
# 2- drop the 17 columns 
# 3 - encode the column by either using one hot or label encoder and then fill with mean or median 

# since we have a total of 4177 rows, I believe the best option would be to delete all 17 rows with nan values to avoid 
# any biases in data and it wont affect the dataset at all, Plus we get kind of perfect dataset in that way, so I will be removing
# the nan value columns which are 17 in total so we will have now a total rows of 4160 instead of 4177

0          Intersection of King Street and Stanley Street
1       Tavistock Place between Flinders Street and Fl...
2                  Trades Hall Place from Victoria Street
3                                                  PL5061
4       Stanley Street between King Street and Spencer...
                              ...
4172                      Kulin Place from Faraday Street
4173    Intersection of Elizabeth Street and Flinders ...
4174    Nicholson Street between Elgin Street and Palm...
4175    Fairbairn Drive between Tankard Street and Wak...
4176                  Bernardi Lane from Rathdowne Street
Name: seg_descr, Length: 4177, dtype: object

In [15]:
# dropping nan values 
df = df.dropna(subset=['seg_descr'])

In [16]:
# now checking if df has any nan values 
df.isna().values.any() # we get false meaning 0 nan values now, lets check further

False

In [17]:
df.isna().sum() # all zero as we can see

Geo Point    0
Geo Shape    0
seg_id       0
str_type     0
dtupdate     0
status_id    0
seg_descr    0
poly_area    0
gisid        0
street_id    0
seg_part     0
dtype: int64

In [18]:
# Now that we have dealt with nan values lets check the df again to see if we have 4160 rows now
df

,Geo Point,Geo Shape,seg_id,str_type,dtupdate,status_id,seg_descr,poly_area,gisid,street_id,seg_part
0,"-37.80720537262632, 144.9507747769122","{""coordinates"": [[[[144.950533760383, -37.8071...",21428,Arterial,20210923,1,Intersection of King Street and Stanley Street,901,1136,0,1
1,"-37.81848742506031, 144.961640259708","{""coordinates"": [[[[144.961816007658, -37.8189...",20395,Council Minor,20210923,3,Tavistock Place between Flinders Street and Fl...,481,3329,1116,1
2,"-37.80657450478691, 144.96670351393675","{""coordinates"": [[[[144.966610935183, -37.8069...",20734,Council Minor,20210923,3,Trades Hall Place from Victoria Street,424,1538,1128,1
3,"-37.795869576097964, 144.96572748078592","{""coordinates"": [[[[144.965728922625, -37.7957...",30258,Private,20210923,4,PL5061,78,192,1555,1
4,"-37.80783881923757, 144.94972958068007","{""coordinates"": [[[[144.950314513372, -37.8073...",21429,Council Major,20210923,2,Stanley Street between King Street and Spencer...,6118,1137,1089,1
...,...,...,...,...,...,...,...,...,...,...,...
4172,"-37.799150995830146, 144.97415244328747","{""coordinates"": [[[[144.974108567851, -37.7992...",20618,Council Minor,20210923,3,Kulin Place from Faraday Street,105,1762,120045,1
4173,"-37.81719685990041, 144.96450745457585","{""coordinates"": [[[[144.964699223819, -37.8171...",20128,Council Major,20210923,2,Intersection of Elizabeth Street and Flinders ...,371,3493,0,1
4174,"-37.79735835698418, 144.97489941950656","{""coordinates"": [[[[144.974888933243, -37.7968...",20880,Arterial,20210923,1,Nicholson Street between Elgin Street and Palm...,1566,1657,931,1
4175,"-37.79713851530425, 144.91996889864677","{""coordinates"": [[[[144.91967801463, -37.79692...",22576,Council Major,20210923,2,Fairbairn Drive between Tankard Street and Wak...,972,2152,2038,1
4176,"-37.79872238544615, 144.97069290180028","{""coordinates"": [[[[144.970469105483, -37.7986...",20672,Council Minor,20210923,3,Bernardi Lane from Rathdowne Street,118,1701,118670,1

In [19]:
# we have 4160 rows which is perfect

In [20]:
# Now converting the geo point column into two separate columns as longitude and latitude 

import warnings

# Ignoring all warnings
warnings.filterwarnings('ignore')
# Splitting the 'Geo Point' column into 'latitude' and 'longitude'
df[['latitude', 'longitude']] = df['Geo Point'].str.split(', ', expand=True)

# Converting the 'latitude' and 'longitude' columns to float
df['latitude'] = df['latitude'].astype(float)
df['longitude'] = df['longitude'].astype(float)

# Dropping the original 'Geo Point' column
df.drop(columns=['Geo Point'], inplace=True)

# Displaying the updated DataFrame
df

,Geo Shape,seg_id,str_type,dtupdate,status_id,seg_descr,poly_area,gisid,street_id,seg_part,latitude,longitude
0,"{""coordinates"": [[[[144.950533760383, -37.8071...",21428,Arterial,20210923,1,Intersection of King Street and Stanley Street,901,1136,0,1,-37.807205,144.950775
1,"{""coordinates"": [[[[144.961816007658, -37.8189...",20395,Council Minor,20210923,3,Tavistock Place between Flinders Street and Fl...,481,3329,1116,1,-37.818487,144.961640
2,"{""coordinates"": [[[[144.966610935183, -37.8069...",20734,Council Minor,20210923,3,Trades Hall Place from Victoria Street,424,1538,1128,1,-37.806575,144.966704
3,"{""coordinates"": [[[[144.965728922625, -37.7957...",30258,Private,20210923,4,PL5061,78,192,1555,1,-37.795870,144.965727
4,"{""coordinates"": [[[[144.950314513372, -37.8073...",21429,Council Major,20210923,2,Stanley Street between King Street and Spencer...,6118,1137,1089,1,-37.807839,144.949730
...,...,...,...,...,...,...,...,...,...,...,...,...
4172,"{""coordinates"": [[[[144.974108567851, -37.7992...",20618,Council Minor,20210923,3,Kulin Place from Faraday Street,105,1762,120045,1,-37.799151,144.974152
4173,"{""coordinates"": [[[[144.964699223819, -37.8171...",20128,Council Major,20210923,2,Intersection of Elizabeth Street and Flinders ...,371,3493,0,1,-37.817197,144.964507
4174,"{""coordinates"": [[[[144.974888933243, -37.7968...",20880,Arterial,20210923,1,Nicholson Street between Elgin Street and Palm...,1566,1657,931,1,-37.797358,144.974899
4175,"{""coordinates"": [[[[144.91967801463, -37.79692...",22576,Council Major,20210923,2,Fairbairn Drive between Tankard Street and Wak...,972,2152,2038,1,-37.797139,144.919969
4176,"{""coordinates"": [[[[144.970469105483, -37.7986...",20672,Council Minor,20210923,3,Bernardi Lane from Rathdowne Street,118,1701,118670,1,-37.798722,144.970693

In [21]:
# lets now see the df info 
df.info()
# we see that now all columns are numerical which shows that we have successfully converted the data to numerical values

<class 'pandas.core.frame.DataFrame'>
Index: 4160 entries, 0 to 4176
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Geo Shape  4160 non-null   object
 1   seg_id     4160 non-null   int64
 2   str_type   4160 non-null   object
 3   dtupdate   4160 non-null   int64
 4   status_id  4160 non-null   int64
 5   seg_descr  4160 non-null   object
 6   poly_area  4160 non-null   int64
 7   gisid      4160 non-null   int64
 8   street_id  4160 non-null   int64
 9   seg_part   4160 non-null   int64
 10  latitude   4160 non-null   float64
 11  longitude  4160 non-null   float64
dtypes: float64(2), int64(7), object(3)
memory usage: 422.5+ KB

In [22]:
# lets see the df to visualize 
df

,Geo Shape,seg_id,str_type,dtupdate,status_id,seg_descr,poly_area,gisid,street_id,seg_part,latitude,longitude
0,"{""coordinates"": [[[[144.950533760383, -37.8071...",21428,Arterial,20210923,1,Intersection of King Street and Stanley Street,901,1136,0,1,-37.807205,144.950775
1,"{""coordinates"": [[[[144.961816007658, -37.8189...",20395,Council Minor,20210923,3,Tavistock Place between Flinders Street and Fl...,481,3329,1116,1,-37.818487,144.961640
2,"{""coordinates"": [[[[144.966610935183, -37.8069...",20734,Council Minor,20210923,3,Trades Hall Place from Victoria Street,424,1538,1128,1,-37.806575,144.966704
3,"{""coordinates"": [[[[144.965728922625, -37.7957...",30258,Private,20210923,4,PL5061,78,192,1555,1,-37.795870,144.965727
4,"{""coordinates"": [[[[144.950314513372, -37.8073...",21429,Council Major,20210923,2,Stanley Street between King Street and Spencer...,6118,1137,1089,1,-37.807839,144.949730
...,...,...,...,...,...,...,...,...,...,...,...,...
4172,"{""coordinates"": [[[[144.974108567851, -37.7992...",20618,Council Minor,20210923,3,Kulin Place from Faraday Street,105,1762,120045,1,-37.799151,144.974152
4173,"{""coordinates"": [[[[144.964699223819, -37.8171...",20128,Council Major,20210923,2,Intersection of Elizabeth Street and Flinders ...,371,3493,0,1,-37.817197,144.964507
4174,"{""coordinates"": [[[[144.974888933243, -37.7968...",20880,Arterial,20210923,1,Nicholson Street between Elgin Street and Palm...,1566,1657,931,1,-37.797358,144.974899
4175,"{""coordinates"": [[[[144.91967801463, -37.79692...",22576,Council Major,20210923,2,Fairbairn Drive between Tankard Street and Wak...,972,2152,2038,1,-37.797139,144.919969
4176,"{""coordinates"": [[[[144.970469105483, -37.7986...",20672,Council Minor,20210923,3,Bernardi Lane from Rathdowne Street,118,1701,118670,1,-37.798722,144.970693

In [23]:
# At the point the data is successfully cleaned and wrangled, now checking if any rows has any duplicated to make sure 
# our data has no redundancy 
# Checking for duplicate rows
duplicates = df.duplicated().sum()
print(f'Number of duplicate rows: {duplicates}')
# we dont have any meaning data is very clean

Number of duplicate rows: 0

In [24]:
# Checking for any remaining NaN values
nan_check = df.isna().sum()
print('Remaining NaN values in each column:\n', nan_check)

Remaining NaN values in each column:
 Geo Shape    0
seg_id       0
str_type     0
dtupdate     0
status_id    0
seg_descr    0
poly_area    0
gisid        0
street_id    0
seg_part     0
latitude     0
longitude    0
dtype: int64

In [25]:
# Ensuring data consistency 
print('Data types of each column:\n', df.dtypes)

Data types of each column:
 Geo Shape     object
seg_id         int64
str_type      object
dtupdate       int64
status_id      int64
seg_descr     object
poly_area      int64
gisid          int64
street_id      int64
seg_part       int64
latitude     float64
longitude    float64
dtype: object

In [ ]:
# the data is now wrangled and cleaned