In [1]:
# Importing the required Libraries
import pandas as pd
import numpy as np
from sodapy import Socrata

In [2]:
# Importing the dataset using Socrata
client = Socrata("data.melbourne.vic.gov.au", None)
sensor_data = client.get("b2ak-trbp", limit=50000000)
sensor_data_df = pd.DataFrame.from_records(sensor_data)
sensor_data_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,id,date_time,year,month,mdate,day,time,sensor_id,sensor_name,hourly_counts
0,2887628,2019-11-01T17:00:00.000,2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,2019-11-01T17:00:00.000,2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,2019-11-01T17:00:00.000,2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,2019-11-01T17:00:00.000,2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,2019-11-01T17:00:00.000,2019,November,1,Friday,17,36,Queen St (West),774

In [3]:
# Fixing the data types
sensor_data_df["date_time"] =  pd.to_datetime(sensor_data_df["date_time"])
sensor_data_df["sensor_id"] = sensor_data_df["sensor_id"].astype(int)
sensor_data_df["hourly_counts"] = sensor_data_df["hourly_counts"].astype(int)
sensor_data_df.dtypes

id                       object
date_time        datetime64[ns]
year                     object
month                    object
mdate                    object
day                      object
time                     object
sensor_id                 int32
sensor_name              object
hourly_counts             int32
dtype: object

In [4]:
# Extracting selected columns
sensor_data_df = sensor_data_df[["date_time", "sensor_id", "hourly_counts"]]
sensor_data_df.head()

            date_time  sensor_id  hourly_counts
0 2019-11-01 17:00:00         34            300
1 2019-11-01 17:00:00         39            604
2 2019-11-01 17:00:00         37            216
3 2019-11-01 17:00:00         40            627
4 2019-11-01 17:00:00         36            774

In [5]:
# Checking for Missing values
sensor_data_df.isnull().sum()

date_time        0
sensor_id        0
hourly_counts    0
dtype: int64

In [6]:
# Describing underlying data
sensor_data_df.describe()

          sensor_id  hourly_counts
count  3.435106e+06   3.435106e+06
mean   2.297842e+01   5.607806e+02
std    1.622979e+01   8.099943e+02
min    1.000000e+00   0.000000e+00
25%    9.000000e+00   5.000000e+01
50%    1.900000e+01   2.100000e+02
75%    3.400000e+01   7.210000e+02
max    7.100000e+01   1.597900e+04

In [10]:
# Saving cleaned data as a CSV
sensor_data_df.to_csv("TidyPed.csv", index=False)