# Urban Forestry and Bird Populations

--- introduction goes here ---

In [1]:
# Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from numpy import nan

### Clean Bird Dataset

In [2]:
# Read the bird csv file
bird_data = pd.read_csv("bird-survey-results-for-areas-in-the-city-of-melbourne-february-and-march-2018.csv")
bird_data.head(3)

,Sighting Date,Common Name,Scientific Name,Sighting Count,Victorian Biodiversity Atlas Code,lat,lon,loc1_desc,lat2,lon2,loc2_desc,site_name,Location 2,Location 1
0,2018-03-12,Australian Magpie,Gymnorhina tibicen,2,10705,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,NaN,NaN,NaN,Dynon Road Tidal Canal Wildlife Sanctuary,NaN,"-37.8038, 144.9118"
1,2018-02-28,Australian White Ibis,Threskiornis molucca,141,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,NaN,NaN,NaN,Dynon Road Tidal Canal Wildlife Sanctuary,NaN,"-37.8038, 144.9118"
2,2018-03-12,Australian White Ibis,Threskiornis molucca,83,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,NaN,NaN,NaN,Dynon Road Tidal Canal Wildlife Sanctuary,NaN,"-37.8038, 144.9118"

In [3]:
# View info on bird dataset
bird_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sighting Date                      498 non-null    object
 1   Common Name                        498 non-null    object
 2   Scientific Name                    498 non-null    object
 3   Sighting Count                     498 non-null    int64
 4   Victorian Biodiversity Atlas Code  498 non-null    int64
 5   lat                                498 non-null    float64
 6   lon                                498 non-null    float64
 7   loc1_desc                          498 non-null    object
 8   lat2                               248 non-null    float64
 9   lon2                               248 non-null    float64
 10  loc2_desc                          248 non-null    object
 11  site_name                          498 non-null    object
 12  Location 2                         248 non-null    object
 13  Location 1                         498 non-null    object
dtypes: float64(4), int64(2), object(8)
memory usage: 54.6+ KB

In [4]:
# Delete columns with more than 50% of empty values
del bird_data['lat2']
del bird_data['lon2']
del bird_data['loc2_desc']
del bird_data['Location 2']
del bird_data['Location 1']

In [5]:
# Convert the data type of the Date column into DateTime
bird_data['Sighting Date'] = pd.to_datetime(bird_data['Sighting Date'])

In [6]:
# View cleaned data
bird_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sighting Date                      498 non-null    datetime64[ns]
 1   Common Name                        498 non-null    object
 2   Scientific Name                    498 non-null    object
 3   Sighting Count                     498 non-null    int64
 4   Victorian Biodiversity Atlas Code  498 non-null    int64
 5   lat                                498 non-null    float64
 6   lon                                498 non-null    float64
 7   loc1_desc                          498 non-null    object
 8   site_name                          498 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 35.1+ KB

In [7]:
# View cleaned data
bird_data.head(3)

,Sighting Date,Common Name,Scientific Name,Sighting Count,Victorian Biodiversity Atlas Code,lat,lon,loc1_desc,site_name
0,2018-03-12,Australian Magpie,Gymnorhina tibicen,2,10705,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,Dynon Road Tidal Canal Wildlife Sanctuary
1,2018-02-28,Australian White Ibis,Threskiornis molucca,141,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,Dynon Road Tidal Canal Wildlife Sanctuary
2,2018-03-12,Australian White Ibis,Threskiornis molucca,83,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,Dynon Road Tidal Canal Wildlife Sanctuary

### Clean Tree Dataset

In [8]:
#read the tree csv file
tree_data = pd.read_csv("trees-with-species-and-dimensions-urban-forest.csv")
tree_data.head(3)

,CoM ID,Common Name,Scientific Name,Genus,Family,Diameter Breast Height,Year Planted,Date Planted,Age Description,Useful Life Expectency,Useful Life Expectency Value,Precinct,Located in,UploadDate,CoordinateLocation,Latitude,Longitude,Easting,Northing,geolocation
0,1029241,London Plane,Platanus x acerifolia,Platanus,Platanaceae,59.0,1997,1997-12-04,Mature,6-10 years (>50% canopy),10.0,NaN,Street,2021-01-10,"-37.834844802361296, 144.97624052189326",-37.834845,144.976241,321912.33,5810579.39,"-37.834844802361296, 144.97624052189326"
1,1357481,Cyprus Plane,Platanus orientalis,Platanus,Platanaceae,8.0,2008,2008-03-12,Juvenile,61+ years,80.0,NaN,Park,2021-01-10,"-37.82112379777012, 144.97204161951672",-37.821124,144.972042,321509.73,5812093.94,"-37.82112379777012, 144.97204161951672"
2,1022615,Spotted Gum,Corymbia maculata,Corymbia,Myrtaceae,73.0,1997,1997-11-10,Mature,31-60 years,60.0,NaN,Street,2021-01-10,"-37.800407968829234, 144.9624661325885",-37.800408,144.962466,320616.72,5814374.35,"-37.800407968829234, 144.9624661325885"

In [9]:
# View tree info
tree_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76928 entries, 0 to 76927
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   CoM ID                        76928 non-null  int64
 1   Common Name                   76903 non-null  object
 2   Scientific Name               76927 non-null  object
 3   Genus                         76927 non-null  object
 4   Family                        76927 non-null  object
 5   Diameter Breast Height        24986 non-null  float64
 6   Year Planted                  76928 non-null  int64
 7   Date Planted                  76928 non-null  object
 8   Age Description               24969 non-null  object
 9   Useful Life Expectency        24969 non-null  object
 10  Useful Life Expectency Value  24969 non-null  float64
 11  Precinct                      0 non-null      float64
 12  Located in                    76926 non-null  object
 13  UploadDate                    76928 non-null  object
 14  CoordinateLocation            76928 non-null  object
 15  Latitude                      76928 non-null  float64
 16  Longitude                     76928 non-null  float64
 17  Easting                       76928 non-null  float64
 18  Northing                      76928 non-null  float64
 19  geolocation                   76928 non-null  object
dtypes: float64(7), int64(2), object(11)
memory usage: 11.7+ MB

In [10]:
# Delete columns with more than 50% of empty values
del tree_data['Diameter Breast Height']
del tree_data['Age Description']
del tree_data['Useful Life Expectency']
del tree_data['Useful Life Expectency Value']
del tree_data['Precinct']

In [11]:
# Convert the data type of Date columns into DateTime
tree_data['Date Planted'] = pd.to_datetime(tree_data['Date Planted'])
tree_data['UploadDate'] = pd.to_datetime(tree_data['UploadDate'])

In [12]:
# View cleaned data
tree_data.head(3)

,CoM ID,Common Name,Scientific Name,Genus,Family,Year Planted,Date Planted,Located in,UploadDate,CoordinateLocation,Latitude,Longitude,Easting,Northing,geolocation
0,1029241,London Plane,Platanus x acerifolia,Platanus,Platanaceae,1997,1997-12-04,Street,2021-01-10,"-37.834844802361296, 144.97624052189326",-37.834845,144.976241,321912.33,5810579.39,"-37.834844802361296, 144.97624052189326"
1,1357481,Cyprus Plane,Platanus orientalis,Platanus,Platanaceae,2008,2008-03-12,Park,2021-01-10,"-37.82112379777012, 144.97204161951672",-37.821124,144.972042,321509.73,5812093.94,"-37.82112379777012, 144.97204161951672"
2,1022615,Spotted Gum,Corymbia maculata,Corymbia,Myrtaceae,1997,1997-11-10,Street,2021-01-10,"-37.800407968829234, 144.9624661325885",-37.800408,144.962466,320616.72,5814374.35,"-37.800407968829234, 144.9624661325885"