# Urban Forestry and Bird Populations

--- introduction goes here ---

In [1]:
# Import packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from numpy import nan

### Clean Bird Dataset

In [17]:
# Read the bird csv file
bird_data = pd.read_csv("bird-survey-results-for-areas-in-the-city-of-melbourne-february-and-march-2018.csv")
bird_data.head(3)

,Sighting Date,Common Name,Scientific Name,Sighting Count,Victorian Biodiversity Atlas Code,lat,lon,loc1_desc,lat2,lon2,loc2_desc,site_name,Location 2,Location 1
0,2018-03-12,Australian Magpie,Gymnorhina tibicen,2,10705,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,NaN,NaN,NaN,Dynon Road Tidal Canal Wildlife Sanctuary,NaN,"-37.8038, 144.9118"
1,2018-02-28,Australian White Ibis,Threskiornis molucca,141,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,NaN,NaN,NaN,Dynon Road Tidal Canal Wildlife Sanctuary,NaN,"-37.8038, 144.9118"
2,2018-03-12,Australian White Ibis,Threskiornis molucca,83,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,NaN,NaN,NaN,Dynon Road Tidal Canal Wildlife Sanctuary,NaN,"-37.8038, 144.9118"

In [18]:
# View info on bird dataset
bird_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sighting Date                      498 non-null    object
 1   Common Name                        498 non-null    object
 2   Scientific Name                    498 non-null    object
 3   Sighting Count                     498 non-null    int64
 4   Victorian Biodiversity Atlas Code  498 non-null    int64
 5   lat                                498 non-null    float64
 6   lon                                498 non-null    float64
 7   loc1_desc                          498 non-null    object
 8   lat2                               248 non-null    float64
 9   lon2                               248 non-null    float64
 10  loc2_desc                          248 non-null    object
 11  site_name                          498 non-null    object
 12  Location 2                         248 non-null    object
 13  Location 1                         498 non-null    object
dtypes: float64(4), int64(2), object(8)
memory usage: 54.6+ KB

In [19]:
# Delete columns with more than 50% of empty values
del bird_data['lat2']
del bird_data['lon2']
del bird_data['loc2_desc']
del bird_data['Location 2']
del bird_data['Location 1']

In [20]:
# Convert the Date column into DateTime
bird_data['Sighting Date'] = pd.to_datetime(bird_data['Sighting Date'])

In [21]:
# View cleaned data
bird_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sighting Date                      498 non-null    datetime64[ns]
 1   Common Name                        498 non-null    object
 2   Scientific Name                    498 non-null    object
 3   Sighting Count                     498 non-null    int64
 4   Victorian Biodiversity Atlas Code  498 non-null    int64
 5   lat                                498 non-null    float64
 6   lon                                498 non-null    float64
 7   loc1_desc                          498 non-null    object
 8   site_name                          498 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 35.1+ KB

In [22]:
# View cleaned data
bird_data.head(3)

,Sighting Date,Common Name,Scientific Name,Sighting Count,Victorian Biodiversity Atlas Code,lat,lon,loc1_desc,site_name
0,2018-03-12,Australian Magpie,Gymnorhina tibicen,2,10705,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,Dynon Road Tidal Canal Wildlife Sanctuary
1,2018-02-28,Australian White Ibis,Threskiornis molucca,141,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,Dynon Road Tidal Canal Wildlife Sanctuary
2,2018-03-12,Australian White Ibis,Threskiornis molucca,83,10179,-37.8038,144.9118,Dynon Road Tidal Canal Wildlife Sanctuary Down...,Dynon Road Tidal Canal Wildlife Sanctuary