In [36]:
import pandas as pd
df = pd.read_csv('dataset_with_public_holidays.csv')
df

,Unnamed: 0,Date,day_of_year,day_of_week,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Total_Pedestrian_Count_per_day
0,0,2015-01-01,1,4,1,Public Holiday,0.0,13.3,26.9,23.6,471563
1,1,2015-01-02,2,5,1,Not a public holiday,0.0,15.4,38.8,26.8,389048
2,2,2015-01-03,3,6,1,Not a public holiday,0.0,20.0,38.2,26.5,291761
3,3,2015-01-04,4,7,1,Not a public holiday,4.6,16.3,21.4,25.2,382364
4,4,2015-01-05,5,1,1,Not a public holiday,0.0,15.0,22.0,30.7,487220
...,...,...,...,...,...,...,...,...,...,...,...
2127,2127,2020-10-27,301,2,10,Not a public holiday,0.0,11.1,19.6,20.1,177267
2128,2128,2020-10-28,302,3,10,Not a public holiday,0.0,9.5,20.9,26.7,311278
2129,2129,2020-10-29,303,4,10,Not a public holiday,0.0,11.2,24.3,17.1,263334
2130,2130,2020-10-30,304,5,10,Not a public holiday,0.0,12.9,18.6,21.0,313225
2131,2131,2020-10-31,305,6,10,Not a public holiday,0.0,14.2,16.8,10.0,370181

In [37]:
X = df.iloc[:,2:-1]
Y = df['Total_Pedestrian_Count_per_day']
X

,day_of_year,day_of_week,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,1,4,1,Public Holiday,0.0,13.3,26.9,23.6
1,2,5,1,Not a public holiday,0.0,15.4,38.8,26.8
2,3,6,1,Not a public holiday,0.0,20.0,38.2,26.5
3,4,7,1,Not a public holiday,4.6,16.3,21.4,25.2
4,5,1,1,Not a public holiday,0.0,15.0,22.0,30.7
...,...,...,...,...,...,...,...,...
2127,301,2,10,Not a public holiday,0.0,11.1,19.6,20.1
2128,302,3,10,Not a public holiday,0.0,9.5,20.9,26.7
2129,303,4,10,Not a public holiday,0.0,11.2,24.3,17.1
2130,304,5,10,Not a public holiday,0.0,12.9,18.6,21.0
2131,305,6,10,Not a public holiday,0.0,14.2,16.8,10.0

In [38]:
rng = pd.date_range('2020-11-01', periods=61, freq='D')
X_test = pd.DataFrame({ 'Date': rng}) 
X_test['Date'] = X_test['Date'].astype('datetime64[ns]')
X_test

         Date
0  2020-11-01
1  2020-11-02
2  2020-11-03
3  2020-11-04
4  2020-11-05
..        ...
56 2020-12-27
57 2020-12-28
58 2020-12-29
59 2020-12-30
60 2020-12-31

[61 rows x 1 columns]

In [39]:
# Loading the weather test dataset 
test_dataset = pd.read_csv('Test_dataset_updated.csv') 
test_dataset

,Date,Rainfall,Solar Exposure,Minimum temperature,Maximum Temperature
0,01-11-2020,0.0,23.2,12.6,17.0
1,02-11-2020,0.0,26.8,9.6,29.5
2,03-11-2020,0.0,26.9,12.1,30.4
3,04-11-2020,0.0,5.5,21.9,22.8
4,05-11-2020,2.8,23.1,11.1,15.8
...,...,...,...,...,...
56,27-12-2020,0.0,3.3,16.2,31.9
57,28-12-2020,3.2,26.5,11.5,17.8
58,29-12-2020,0.0,30.7,9.0,21.3
59,30-12-2020,0.0,30.3,13.7,21.4
60,31-12-2020,0.0,7.3,15.5,21.2

In [40]:
X_test['day_of_year'] = X_test.Date.dt.dayofyear
X_test['day_of_week'] = X_test.Date.dt.dayofweek
X_test['monthly_index'] = X_test.Date.dt.month

# need Siva fix it
X_test['Public_Holiday'] = 'Not a public holiday'

X_test['Rainfall amount (millimetres)'] = test_dataset['Rainfall '].values
X_test['Minimum temperature (Degree C)'] = test_dataset['Minimum temperature'].values
X_test['Maximum temperature (Degree C)'] = test_dataset['Maximum Temperature'].values
X_test['Daily global solar exposure (MJ/m*m)'] = test_dataset['Solar Exposure'].values


X_test = X_test.iloc[:,1:]
X_test

,day_of_year,day_of_week,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,306,6,11,Not a public holiday,0.0,12.6,17.0,23.2
1,307,0,11,Not a public holiday,0.0,9.6,29.5,26.8
2,308,1,11,Not a public holiday,0.0,12.1,30.4,26.9
3,309,2,11,Not a public holiday,0.0,21.9,22.8,5.5
4,310,3,11,Not a public holiday,2.8,11.1,15.8,23.1
...,...,...,...,...,...,...,...,...
56,362,6,12,Not a public holiday,0.0,16.2,31.9,3.3
57,363,0,12,Not a public holiday,3.2,11.5,17.8,26.5
58,364,1,12,Not a public holiday,0.0,9.0,21.3,30.7
59,365,2,12,Not a public holiday,0.0,13.7,21.4,30.3
60,366,3,12,Not a public holiday,0.0,15.5,21.2,7.3

In [41]:
X = X.fillna(X.mean())

combined = pd.concat([X, X_test])
combined_df = pd.get_dummies(combined, columns=['Public_Holiday'], drop_first=True)

X = combined_df[:len(X)]
X_test = combined_df[len(X):]
X_test

,day_of_year,day_of_week,monthly_index,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Public_Holiday_Public Holiday
0,306,6,11,0.0,12.6,17.0,23.2,0
1,307,0,11,0.0,9.6,29.5,26.8,0
2,308,1,11,0.0,12.1,30.4,26.9,0
3,309,2,11,0.0,21.9,22.8,5.5,0
4,310,3,11,2.8,11.1,15.8,23.1,0
...,...,...,...,...,...,...,...,...
56,362,6,12,0.0,16.2,31.9,3.3,0
57,363,0,12,3.2,11.5,17.8,26.5,0
58,364,1,12,0.0,9.0,21.3,30.7,0
59,365,2,12,0.0,13.7,21.4,30.3,0
60,366,3,12,0.0,15.5,21.2,7.3,0

In [43]:
from sklearn.preprocessing import StandardScaler
newscaler = StandardScaler()
X_scaled = newscaler.fit_transform(X) 

X_test_scaled = newscaler.fit_transform(X_test) 
X_scaled

array([[-1.71507061e+00, -9.38637205e-04, -1.58631120e+00, ...,
         1.03952738e+00,  1.11446043e+00,  5.09777812e+00],
       [-1.70542213e+00,  4.99354993e-01, -1.58631120e+00, ...,
         2.94037146e+00,  1.51837475e+00, -1.96163893e-01],
       [-1.69577366e+00,  9.99648624e-01, -1.58631120e+00, ...,
         2.84453058e+00,  1.48050778e+00, -1.96163893e-01],
       ...,
       [ 1.19876862e+00, -9.38637205e-04,  1.06833203e+00, ...,
         6.24216911e-01,  2.94009485e-01, -1.96163893e-01],
       [ 1.20841709e+00,  4.99354993e-01,  1.06833203e+00, ...,
        -2.86271427e-01,  7.86280055e-01, -1.96163893e-01],
       [ 1.21806557e+00,  9.99648624e-01,  1.06833203e+00, ...,
        -5.73794061e-01, -6.02175399e-01, -1.96163893e-01]])

In [45]:
from sklearn.neighbors import KNeighborsRegressor
knn = KNeighborsRegressor(n_neighbors = 10, leaf_size = 10, metric = 'euclidean', weights = 'uniform', algorithm = 'auto')
knn.fit(X_scaled, Y)
Y_pred = knn.predict(X_test_scaled)

Y_pred

array([508192. , 682155.1, 701779.3, 636670.2, 641627.6, 515340.3,
       545850.7, 533618.8, 657414.8, 699271.9, 623008.5, 685880.7,
       585631. , 588824.3, 675574. , 662274.9, 666170.6, 712354.6,
       779804.3, 724840.8, 640173.6, 658487.2, 496066.4, 565894.1,
       738566.8, 709177. , 720027.4, 580275.9, 404367. , 682045.6,
       500618.7, 567586.1, 728613.2, 816192.5, 367181.6, 427582.7,
       618638.9, 580562.5, 671112.8, 689386. , 710344.2, 671419.2,
       515889.3, 649873.9, 680932.5, 677655.8, 652032.3, 548240.8,
       460875.4, 567793.3, 531733.6, 557049.3, 643585. , 660464. ,
       683149.5, 696410. , 483803.2, 536791.8, 569611.3, 588985.2,
       588429.1])

In [47]:
new_results_df_per_day = pd.read_csv('new_results_df_per_day.csv') 
new_results_df_per_day

      Unnamed: 0        date  Total_Pedestrian_Count_per_day
0              0  2015-01-01                          471563
1              1  2015-01-02                          389048
2              2  2015-01-03                          291761
3              3  2015-01-04                          382364
4              4  2015-01-05                          487220
...          ...         ...                             ...
2187        2187  2020-12-27                          385422
2188        2188  2020-12-28                          473046
2189        2189  2020-12-29                          497027
2190        2190  2020-12-30                          467634
2191        2191  2020-12-31                          472586

[2192 rows x 3 columns]

In [48]:
realY = new_results_df_per_day['Total_Pedestrian_Count_per_day'].iloc[-61:]

In [51]:
from prettytable import PrettyTable
from sklearn.metrics import r2_score
rt = PrettyTable(["Algorithm", "r2"])
rt.align["Algorithm"] = "l" # Left align city names
rt.padding_width = 1 # One space between column edges and contents (default)
rt.add_row(["KNN",
            '{:.2f}'.format(r2_score(realY, Y_pred))])
realY
print(rt)

+-----------+-------+
| Algorithm |   r2  |
+-----------+-------+
| KNN       | -6.04 |
+-----------+-------+