In [51]:
import pandas as pd
df = pd.read_csv('dataset_with_public_holidays.csv')
df

,Date,day,monthly_index,Covid Restrictions,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Total_Pedestrian_Count_per_day
0,01-01-2015,4,1,No restriction,Public Holiday,0.0,13.3,26.9,23.6,471563
1,02-01-2015,5,1,No restriction,Not a public holiday,0.0,15.4,38.8,26.8,389048
2,03-01-2015,6,1,No restriction,Not a public holiday,0.0,20.0,38.2,26.5,291761
3,04-01-2015,7,1,No restriction,Not a public holiday,4.6,16.3,21.4,25.2,382364
4,05-01-2015,1,1,No restriction,Not a public holiday,0.0,15.0,22.0,30.7,487220
...,...,...,...,...,...,...,...,...,...,...
2127,27-10-2020,2,10,Restrictions,Not a public holiday,0.0,11.1,19.6,20.1,177267
2128,28-10-2020,3,10,Restrictions,Not a public holiday,0.0,9.5,20.9,26.7,311278
2129,29-10-2020,4,10,Restrictions,Not a public holiday,0.0,11.2,24.3,17.1,263334
2130,30-10-2020,5,10,Restrictions,Not a public holiday,0.0,12.9,18.6,21.0,313225
2131,31-10-2020,6,10,Restrictions,Not a public holiday,0.0,14.2,16.8,10.0,370181

In [52]:
X = df.iloc[:,1:-1]
Y = df['Total_Pedestrian_Count_per_day']
X = X.fillna(X.mean())
X

,day,monthly_index,Covid Restrictions,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,4,1,No restriction,Public Holiday,0.0,13.3,26.9,23.6
1,5,1,No restriction,Not a public holiday,0.0,15.4,38.8,26.8
2,6,1,No restriction,Not a public holiday,0.0,20.0,38.2,26.5
3,7,1,No restriction,Not a public holiday,4.6,16.3,21.4,25.2
4,1,1,No restriction,Not a public holiday,0.0,15.0,22.0,30.7
...,...,...,...,...,...,...,...,...
2127,2,10,Restrictions,Not a public holiday,0.0,11.1,19.6,20.1
2128,3,10,Restrictions,Not a public holiday,0.0,9.5,20.9,26.7
2129,4,10,Restrictions,Not a public holiday,0.0,11.2,24.3,17.1
2130,5,10,Restrictions,Not a public holiday,0.0,12.9,18.6,21.0
2131,6,10,Restrictions,Not a public holiday,0.0,14.2,16.8,10.0

In [53]:
rng = pd.date_range('2020-11-01', periods=61, freq='D')
X_test = pd.DataFrame({ 'Date': rng}) 
X_test['Date'] = X_test['Date'].astype('datetime64[ns]')
X_test

         Date
0  2020-11-01
1  2020-11-02
2  2020-11-03
3  2020-11-04
4  2020-11-05
..        ...
56 2020-12-27
57 2020-12-28
58 2020-12-29
59 2020-12-30
60 2020-12-31

[61 rows x 1 columns]

In [54]:
# Loading the weather test dataset 
test_dataset = pd.read_csv('Test_dataset_updated.csv') 
test_dataset

,Date,Rainfall,Solar Exposure,Minimum temperature,Maximum Temperature
0,01-11-2020,0.0,23.2,12.6,17.0
1,02-11-2020,0.0,26.8,9.6,29.5
2,03-11-2020,0.0,26.9,12.1,30.4
3,04-11-2020,0.0,5.5,21.9,22.8
4,05-11-2020,2.8,23.1,11.1,15.8
...,...,...,...,...,...
56,27-12-2020,0.0,3.3,16.2,31.9
57,28-12-2020,3.2,26.5,11.5,17.8
58,29-12-2020,0.0,30.7,9.0,21.3
59,30-12-2020,0.0,30.3,13.7,21.4
60,31-12-2020,0.0,7.3,15.5,21.2

In [55]:
public = pd.read_csv('Public_Holiday_test_set.csv')
holidays = public[['Holiday']]
holidays['Holiday'] = holidays['Holiday'].astype('datetime64[ns]')
holidays['Public_Holiday'] = 'Public Holiday'

X_test = X_test.set_index('Date').join(holidays.set_index("Holiday"), how='left')
X_test['Public_Holiday'].fillna('Not a public holiday', inplace=True)
X_test

                  Public_Holiday
2020-11-01  Not a public holiday
2020-11-02  Not a public holiday
2020-11-03        Public Holiday
2020-11-04  Not a public holiday
2020-11-05  Not a public holiday
...                          ...
2020-12-27  Not a public holiday
2020-12-28        Public Holiday
2020-12-29  Not a public holiday
2020-12-30  Not a public holiday
2020-12-31  Not a public holiday

[61 rows x 1 columns]

In [56]:
X_test['Covid Restrictions'] = 'No restriction'

X_test['day'] = X_test.index.dayofweek + 1
X_test['monthly_index'] = X_test.index.month

X_test['Rainfall amount (millimetres)'] = test_dataset['Rainfall '].values
X_test['Minimum temperature (Degree C)'] = test_dataset['Minimum temperature'].values
X_test['Maximum temperature (Degree C)'] = test_dataset['Maximum Temperature'].values
X_test['Daily global solar exposure (MJ/m*m)'] = test_dataset['Solar Exposure'].values

X_test

,Public_Holiday,Covid Restrictions,day,monthly_index,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
2020-11-01,Not a public holiday,No restriction,7,11,0.0,12.6,17.0,23.2
2020-11-02,Not a public holiday,No restriction,1,11,0.0,9.6,29.5,26.8
2020-11-03,Public Holiday,No restriction,2,11,0.0,12.1,30.4,26.9
2020-11-04,Not a public holiday,No restriction,3,11,0.0,21.9,22.8,5.5
2020-11-05,Not a public holiday,No restriction,4,11,2.8,11.1,15.8,23.1
...,...,...,...,...,...,...,...,...
2020-12-27,Not a public holiday,No restriction,7,12,0.0,16.2,31.9,3.3
2020-12-28,Public Holiday,No restriction,1,12,3.2,11.5,17.8,26.5
2020-12-29,Not a public holiday,No restriction,2,12,0.0,9.0,21.3,30.7
2020-12-30,Not a public holiday,No restriction,3,12,0.0,13.7,21.4,30.3
2020-12-31,Not a public holiday,No restriction,4,12,0.0,15.5,21.2,7.3

In [57]:
X = X.fillna(X.mean())

combined = pd.concat([X, X_test])
combined['Public_Holiday'] = pd.Categorical(combined['Public_Holiday'])
combined['holiday_code'] = combined['Public_Holiday'].cat.codes
combined['Covid Restrictions'] = pd.Categorical(combined['Covid Restrictions'])
combined['covid_code'] = combined['Covid Restrictions'].cat.codes
combined.drop(columns=['Public_Holiday', 'Covid Restrictions'], inplace = True)

combined = combined[['day', 'monthly_index', 'covid_code','holiday_code', 'Rainfall amount (millimetres)','Minimum temperature (Degree C)','Maximum temperature (Degree C)','Daily global solar exposure (MJ/m*m)']]

X = combined[:len(X)]
X_test = combined[len(X):]

X_test

,day,monthly_index,covid_code,holiday_code,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
2020-11-01,7,11,0,0,0.0,12.6,17.0,23.2
2020-11-02,1,11,0,0,0.0,9.6,29.5,26.8
2020-11-03,2,11,0,1,0.0,12.1,30.4,26.9
2020-11-04,3,11,0,0,0.0,21.9,22.8,5.5
2020-11-05,4,11,0,0,2.8,11.1,15.8,23.1
...,...,...,...,...,...,...,...,...
2020-12-27,7,12,0,0,0.0,16.2,31.9,3.3
2020-12-28,1,12,0,1,3.2,11.5,17.8,26.5
2020-12-29,2,12,0,0,0.0,9.0,21.3,30.7
2020-12-30,3,12,0,0,0.0,13.7,21.4,30.3
2020-12-31,4,12,0,0,0.0,15.5,21.2,7.3

In [58]:
X

,day,monthly_index,covid_code,holiday_code,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,4,1,0,1,0.0,13.3,26.9,23.6
1,5,1,0,0,0.0,15.4,38.8,26.8
2,6,1,0,0,0.0,20.0,38.2,26.5
3,7,1,0,0,4.6,16.3,21.4,25.2
4,1,1,0,0,0.0,15.0,22.0,30.7
...,...,...,...,...,...,...,...,...
2127,2,10,1,0,0.0,11.1,19.6,20.1
2128,3,10,1,0,0.0,9.5,20.9,26.7
2129,4,10,1,0,0.0,11.2,24.3,17.1
2130,5,10,1,0,0.0,12.9,18.6,21.0
2131,6,10,1,0,0.0,14.2,16.8,10.0

In [59]:
from sklearn.preprocessing import StandardScaler
newscaler = StandardScaler()
X_scaled = newscaler.fit_transform(X) 
X_test_scaled = newscaler.fit_transform(X_test) 
X_scaled

array([[-9.38637205e-04, -1.58631120e+00, -3.48590006e-01, ...,
         4.02530227e-01,  1.03952738e+00,  1.11446043e+00],
       [ 4.99354993e-01, -1.58631120e+00, -3.48590006e-01, ...,
         8.91768855e-01,  2.94037146e+00,  1.51837475e+00],
       [ 9.99648624e-01, -1.58631120e+00, -3.48590006e-01, ...,
         1.96343442e+00,  2.84453058e+00,  1.48050778e+00],
       ...,
       [-9.38637205e-04,  1.06833203e+00,  2.86869957e+00, ...,
        -8.67084006e-02,  6.24216911e-01,  2.94009485e-01],
       [ 4.99354993e-01,  1.06833203e+00,  2.86869957e+00, ...,
         3.09341917e-01, -2.86271427e-01,  7.86280055e-01],
       [ 9.99648624e-01,  1.06833203e+00,  2.86869957e+00, ...,
         6.12203925e-01, -5.73794061e-01, -6.02175399e-01]])

In [60]:
new_results_df_per_day = pd.read_csv('new_results_df_per_day.csv') 
new_results_df_per_day

      Unnamed: 0        date  Total_Pedestrian_Count_per_day
0              0  2015-01-01                          471563
1              1  2015-01-02                          389048
2              2  2015-01-03                          291761
3              3  2015-01-04                          382364
4              4  2015-01-05                          487220
...          ...         ...                             ...
2187        2187  2020-12-27                          385422
2188        2188  2020-12-28                          473046
2189        2189  2020-12-29                          497027
2190        2190  2020-12-30                          467634
2191        2191  2020-12-31                          472586

[2192 rows x 3 columns]

In [61]:
realY = new_results_df_per_day['Total_Pedestrian_Count_per_day'].iloc[-61:]

## KNN

In [62]:

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
scores = []
neighbor = []
leaf_size = []
metric = []
weight = []
algorithm = []

n_neighbors = [2,3,4,5,6,7,8,9]
leaf_sizes = [10,20,30,50,100,500]
metrics = ['euclidean','chebyshev','manhattan']
weights = ['uniform', 'distance']
algorithms = ['auto', 'ball_tree', 'kd_tree', 'brute'] 

for i in n_neighbors:
  for j in leaf_sizes:
    for k in metrics:
      for l in weights:
        for m in algorithms:
          knn = KNeighborsRegressor(n_neighbors = i, leaf_size = j, metric = k, weights = l, algorithm = m)
          knn.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, knn.predict(X_test_scaled)))
          neighbor.append(i)
          leaf_size.append(j)
          metric.append(k)
          weight.append(l)
          algorithm.append(m)

In [63]:
min(scores)
import numpy as np
index = np.argmin(scores)
parameters = [neighbor[index], leaf_size[index], metric[index], weight[index], algorithm[index]]
parameters

[2, 10, 'chebyshev', 'distance', 'brute']

In [75]:
knn_min = KNeighborsRegressor(n_neighbors = 2, leaf_size = 10, metric = 'chebyshev', weights = 'distance', algorithm = 'auto')
knn_min.fit(X_scaled, Y)
Y_pred_knn = knn_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_knn.reshape(len(Y_pred_knn),1)
),1))

[[339667.         585048.76439328]
 [335642.         785497.48852857]
 [286980.         619904.5       ]
 [190675.         626401.80081166]
 [246692.         689952.57368494]
 [288551.         549098.        ]
 [365548.         570610.5       ]
 [321671.         623047.        ]
 [262820.         743349.7218897 ]
 [264765.         693362.42560193]
 [224537.         603190.57179838]
 [287179.         608260.08736262]
 [330106.         580954.        ]
 [436497.         586576.12474596]
 [300190.         653442.48978438]
 [257361.         701050.01858844]
 [287853.         592563.91205555]
 [313407.         693355.11288205]
 [300283.         723014.50435345]
 [397150.         610826.23996196]
 [489118.         756319.5       ]
 [309849.         608444.75840432]
 [261242.         631619.5       ]
 [316024.         673798.03855418]
 [340384.         790697.65652417]
 [353597.         645134.30526031]
 [456912.         674299.74434245]
 [481376.         671680.09964227]
 [358501.         598102.78864315]
 [351099.         766863.31327276]
 [316908.         587824.97048549]
 [366340.         658046.        ]
 [392107.         708889.        ]
 [493588.         919247.        ]
 [489269.         567996.88625639]
 [404066.         507019.        ]
 [311007.         656772.06119483]
 [376385.         539670.        ]
 [448039.         641917.69360815]
 [438663.         689920.07699092]
 [543000.         711621.79286631]
 [595152.         706578.5       ]
 [439515.         499060.48823111]
 [366040.         650062.00338946]
 [378222.         715286.52077541]
 [463787.         738631.75167618]
 [460825.         678217.21332536]
 [572248.         577089.88879408]
 [599961.         582189.9610668 ]
 [539991.         585668.29756169]
 [464319.         555329.84016905]
 [403194.         577926.37556765]
 [578815.         637483.1507855 ]
 [505150.         778777.        ]
 [332150.         596883.5       ]
 [578967.         603715.        ]
 [385422.         639463.86417358]
 [473046.         397187.5       ]
 [497027.         720977.85697271]
 [467634.         667999.97668185]
 [472586.         607207.19783091]]

SVM

In [65]:
from sklearn.svm import SVR
scores = []
kernel = []
gamma = []
C = []
degree = []

kernels = ['linear', 'rbf']
gammas = [0.1, 1, 10, 100]
Cs = [0.1, 1, 10, 100]
degrees = [0, 1, 2, 3, 4, 5, 6]


for i in kernels:
  for j in gammas:
    for k in Cs:
        for l in degrees: 
          svm = SVR(kernel=i, gamma=j, C=k, degree=l)
          svm.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, svm.predict(X_test_scaled)))
          kernel.append(i)
          gamma.append(j)
          C.append(k)
          degree.append(l)

In [66]:
index = np.argmin(scores)
parameters = [kernel[index], gamma[index], C[index], degree[index]]
parameters

['linear', 0.1, 100, 0]

In [76]:
svm_min = SVR(kernel='linear', gamma=0.1, C=100, degree=0)
svm_min.fit(X_scaled, Y)
Y_pred_svm = svm_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_svm.reshape(len(Y_pred_svm),1)
),1))

[[339667.         564810.37631708]
 [335642.         627667.49140186]
 [286980.         591036.63307565]
 [190675.         598920.40731792]
 [246692.         578949.62180416]
 [288551.         558333.57020627]
 [365548.         566148.23620987]
 [321671.         567965.1162058 ]
 [262820.         633076.91006601]
 [264765.         641457.1779894 ]
 [224537.         611503.06284854]
 [287179.         608342.21848187]
 [330106.         584921.76102352]
 [436497.         582407.96819486]
 [300190.         578914.5627407 ]
 [257361.         640747.0630794 ]
 [287853.         613598.63863121]
 [313407.         620427.57751316]
 [300283.         631193.37953744]
 [397150.         599379.6020283 ]
 [489118.         582292.95082176]
 [309849.         573078.39695795]
 [261242.         582730.63986544]
 [316024.         600369.03078837]
 [340384.         626205.8137043 ]
 [353597.         601558.91082929]
 [456912.         614256.15799297]
 [481376.         568331.44794027]
 [358501.         564780.68720109]
 [351099.         632981.59714954]
 [316908.         617632.39680532]
 [366340.         614956.70070863]
 [392107.         616580.36350775]
 [493588.         610263.80937883]
 [489269.         585669.89406572]
 [404066.         572209.88874492]
 [311007.         612859.69895551]
 [376385.         590982.63576267]
 [448039.         621910.02237767]
 [438663.         606987.51173058]
 [543000.         603976.64893595]
 [595152.         613247.41517501]
 [439515.         613636.29562648]
 [366040.         671034.36446063]
 [378222.         662287.74856545]
 [463787.         624283.24019651]
 [460825.         622539.55437053]
 [572248.         582714.4605296 ]
 [599961.         594598.46587929]
 [539991.         585576.93648143]
 [464319.         611304.86806785]
 [403194.         591644.02331246]
 [578815.         609625.13217006]
 [505150.         602268.91621852]
 [332150.         561969.40171201]
 [578967.         572547.00688999]
 [385422.         583050.06124448]
 [473046.         584891.47884924]
 [497027.         622819.77773045]
 [467634.         625116.32488584]
 [472586.         590314.09848962]]

In [68]:
from sklearn.tree import DecisionTreeRegressor
scores
# Decision Tree
scores = []
splitter = []
criterion =  []
max_depth = []
max_feature = []
min_samples_split = []

splitters =['best','random']
criterions = ['mse', 'friedman_mse', 'mae']
max_depths = [1,2,3,4,5,10,20,30,40]
max_features =['auto','sqrt','log2'] 
min_samples_splits = [2,3,4,5,10,20,30,40]

for i in splitters:
  for j in criterions:
    for k in max_depths:
      for l in max_features:
        for m in min_samples_splits:
            tree = DecisionTreeRegressor(splitter = i, criterion = j, max_depth = k, max_features = l, min_samples_split = m)
            tree.fit(X_scaled, Y)
            scores.append(mean_squared_error(realY, tree.predict(X_test_scaled)))

            splitter.append(i)
            criterion.append(j)
            max_depth.append(k)
            max_feature.append(l)
            min_samples_split.append(m)

In [69]:
index = np.argmin(scores)
parameters = [splitter[index], criterion[index], max_depth[index], max_feature[index], min_samples_split[index]]
parameters

['random', 'mse', 2, 'sqrt', 3]

In [77]:
tree_min = DecisionTreeRegressor(splitter = 'random', criterion = 'mse', max_depth = 2, max_features = 'sqrt', min_samples_split = 3)
tree_min.fit(X_scaled, Y)
Y_pred_tree = tree_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_tree.reshape(len(Y_pred_tree),1)
),1))

[[339667.         586776.46441281]
 [335642.         586776.46441281]
 [286980.         586776.46441281]
 [190675.         637482.58464567]
 [246692.         586776.46441281]
 [288551.         549540.86921529]
 [365548.         586776.46441281]
 [321671.         586776.46441281]
 [262820.         586776.46441281]
 [264765.         637482.58464567]
 [224537.         637482.58464567]
 [287179.         637482.58464567]
 [330106.         637482.58464567]
 [436497.         637482.58464567]
 [300190.         549540.86921529]
 [257361.         637482.58464567]
 [287853.         586776.46441281]
 [313407.         586776.46441281]
 [300283.         637482.58464567]
 [397150.         637482.58464567]
 [489118.         586776.46441281]
 [309849.         637482.58464567]
 [261242.         637482.58464567]
 [316024.         637482.58464567]
 [340384.         586776.46441281]
 [353597.         637482.58464567]
 [456912.         586776.46441281]
 [481376.         637482.58464567]
 [358501.         637482.58464567]
 [351099.         586776.46441281]
 [316908.         637482.58464567]
 [366340.         586776.46441281]
 [392107.         586776.46441281]
 [493588.         586776.46441281]
 [489269.         637482.58464567]
 [404066.         549540.86921529]
 [311007.         586776.46441281]
 [376385.         549540.86921529]
 [448039.         586776.46441281]
 [438663.         586776.46441281]
 [543000.         586776.46441281]
 [595152.         586776.46441281]
 [439515.         637482.58464567]
 [366040.         637482.58464567]
 [378222.         637482.58464567]
 [463787.         637482.58464567]
 [460825.         637482.58464567]
 [572248.         586776.46441281]
 [599961.         586776.46441281]
 [539991.         586776.46441281]
 [464319.         549540.86921529]
 [403194.         637482.58464567]
 [578815.         637482.58464567]
 [505150.         637482.58464567]
 [332150.         637482.58464567]
 [578967.         586776.46441281]
 [385422.         637482.58464567]
 [473046.         586776.46441281]
 [497027.         586776.46441281]
 [467634.         637482.58464567]
 [472586.         637482.58464567]]

In [71]:
from sklearn.ensemble import RandomForestRegressor
# Random forest
scores = []
n_estimator = []
criterion =  []
max_depth = []
max_feature = []
min_samples_split = []


criterions = ['mse', 'friedman_mse']
max_depths = [10,20,30,40]
max_features =['auto','sqrt','log2'] 
min_samples_splits = [10,20,30,40]
n_estimators =[10,50,100]


for i in n_estimators:
  for j in criterions:
    for k in max_depths:
      for l in max_features:
        for m in min_samples_splits:
            rf = RandomForestRegressor(n_estimators = i, criterion = j, max_depth = k, max_features = l, min_samples_split = m)
            rf.fit(X_scaled, Y)
            scores.append(mean_squared_error(realY, rf.predict(X_test_scaled)))

            n_estimator.append(i)
            criterion.append(j)
            max_depth.append(k)
            max_feature.append(l)
            min_samples_split.append(m)

In [72]:
index = np.argmin(scores)
parameters = [n_estimator[index], criterion[index], max_depth[index], max_feature[index], min_samples_split[index]]
parameters

[10, 'friedman_mse', 40, 'sqrt', 20]

In [78]:
rf_min = RandomForestRegressor(n_estimators = 10, criterion = 'friedman_mse', max_depth = 40, max_features = 'sqrt', min_samples_split = 20)
rf_min.fit(X_scaled, Y)
Y_pred_rf = rf_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_rf.reshape(len(Y_pred_rf),1)
),1))

[[339667.         575839.63356676]
 [335642.         685138.90046476]
 [286980.         679176.08581515]
 [190675.         617380.66705496]
 [246692.         649296.34870999]
 [288551.         644503.00246996]
 [365548.         580001.86299614]
 [321671.         593414.57036508]
 [262820.         686647.90223243]
 [264765.         754595.88306644]
 [224537.         614558.41083776]
 [287179.         701320.95616256]
 [330106.         655576.2972755 ]
 [436497.         643762.76936351]
 [300190.         564431.76935859]
 [257361.         715612.31941708]
 [287853.         652053.57028388]
 [313407.         736213.02408092]
 [300283.         687720.76081792]
 [397150.         725539.44484049]
 [489118.         681064.00671741]
 [309849.         574166.65493979]
 [261242.         560791.13505064]
 [316024.         628785.23228035]
 [340384.         728964.40599204]
 [353597.         713887.83143352]
 [456912.         697658.09027778]
 [481376.         631610.0388572 ]
 [358501.         547130.54327649]
 [351099.         704019.35623912]
 [316908.         662010.21646599]
 [366340.         699058.98165598]
 [392107.         731096.48551512]
 [493588.         729802.74555987]
 [489269.         661717.09881023]
 [404066.         512007.63260522]
 [311007.         632334.72633782]
 [376385.         564782.9199286 ]
 [448039.         671235.32406661]
 [438663.         662296.33832505]
 [543000.         713239.2144928 ]
 [595152.         648670.36300547]
 [439515.         600113.65696626]
 [366040.         650314.45688462]
 [378222.         702179.45045105]
 [463787.         712537.00230966]
 [460825.         735852.81342337]
 [572248.         684176.80058242]
 [599961.         644806.59659121]
 [539991.         538012.37250686]
 [464319.         650705.21797281]
 [403194.         590857.6095176 ]
 [578815.         676515.61263433]
 [505150.         709223.03226024]
 [332150.         620915.37449327]
 [578967.         660012.79150997]
 [385422.         511146.02829021]
 [473046.         627502.23245576]
 [497027.         635755.12961798]
 [467634.         652917.9740676 ]
 [472586.         632525.51674968]]

In [90]:
from sklearn.neural_network import MLPRegressor

scores = []
hidden_layer_size = []
solver = []
activation = []
alpha = []
learning_rate = []

hidden_layer_sizes = []
for i in range(1,6):
  hidden_layer_sizes.append(((i,i,i)))
activations = ['tanh', 'relu', 'logistic']
solvers = ['lbfgs', 'sgd', 'adam']
alphas = [0.0001, 0.05, 0.01, .001]
learning_rates = ['constant','adaptive', 'invscaling']

for i in hidden_layer_sizes:
  for j in activations:
    print(i, j)
    for k in solvers:
      for l in alphas:
        for m in learning_rates:
          nn = MLPRegressor(hidden_layer_sizes = i, activation = j, solver = k, alpha = l, learning_rate = m)
          nn.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, nn.predict(X_test_scaled)))

          hidden_layer_size.append(i)
          activation.append(j)
          solver.append(k)
          alpha.append(l)
          learning_rate.append(m)

(1, 1, 1) tanh
(1, 1, 1) relu
(1, 1, 1) logistic
(2, 2, 2) tanh
(2, 2, 2) relu
(2, 2, 2) logistic
(3, 3, 3) tanh
(3, 3, 3) relu
(3, 3, 3) logistic
(4, 4, 4) tanh
(4, 4, 4) relu
(4, 4, 4) logistic
(5, 5, 5) tanh
(5, 5, 5) relu
(5, 5, 5) logistic

In [91]:
index = np.argmin(scores)
parameters = [hidden_layer_size[index], activation[index], solver[index], alpha[index], learning_rate[index]]
parameters

[(4, 4, 4), 'tanh', 'sgd', 0.001, 'invscaling']

In [92]:
nn_min = MLPRegressor(hidden_layer_sizes = (4,4,4), activation = 'tanh', solver = 'sgd', alpha = 0.001, learning_rate = 'invscaling')
nn_min.fit(X_scaled, Y)
Y_pred_nn = nn_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_nn.reshape(len(Y_pred_nn),1)
),1))

[[339667.         372976.12387561]
 [335642.         372976.12387561]
 [286980.         372976.12387561]
 [190675.         372976.12387561]
 [246692.         372976.12387561]
 [288551.         372976.12387561]
 [365548.         372976.12387561]
 [321671.         372976.12387561]
 [262820.         372976.12387561]
 [264765.         372976.12387561]
 [224537.         372976.12387561]
 [287179.         372976.12387561]
 [330106.         372976.12387561]
 [436497.         372976.12387561]
 [300190.         372976.12387561]
 [257361.         372976.12387561]
 [287853.         372976.12387561]
 [313407.         372976.12387561]
 [300283.         372976.12387561]
 [397150.         372976.12387561]
 [489118.         372976.12387561]
 [309849.         372976.12387561]
 [261242.         372976.12387561]
 [316024.         372976.12387561]
 [340384.         372976.12387561]
 [353597.         372976.12387561]
 [456912.         372976.12387561]
 [481376.         372976.12387561]
 [358501.         372976.12387561]
 [351099.         372976.12387561]
 [316908.         372976.12387561]
 [366340.         372976.12387561]
 [392107.         372976.12387561]
 [493588.         372976.12387561]
 [489269.         372976.12387561]
 [404066.         372976.12387561]
 [311007.         372976.12387561]
 [376385.         372976.12387561]
 [448039.         372976.12387561]
 [438663.         372976.12387561]
 [543000.         372976.12387561]
 [595152.         372976.12387561]
 [439515.         372976.12387561]
 [366040.         372976.12387561]
 [378222.         372976.12387561]
 [463787.         372976.12387561]
 [460825.         372976.12387561]
 [572248.         372976.12387561]
 [599961.         372976.12387561]
 [539991.         372976.12387561]
 [464319.         372976.12387561]
 [403194.         372976.12387561]
 [578815.         372976.12387561]
 [505150.         372976.12387561]
 [332150.         372976.12387561]
 [578967.         372976.12387561]
 [385422.         372976.12387561]
 [473046.         372976.12387561]
 [497027.         372976.12387561]
 [467634.         372976.12387561]
 [472586.         372976.12387561]]

In [93]:
from prettytable import PrettyTable
from sklearn.metrics import r2_score
rt = PrettyTable(["Algorithm", "r2"])
rt.align["Algorithm"] = "l" # Left align city names
rt.padding_width = 1 # One space between column edges and contents (default)
rt.add_row(["KNN",
            '{:.2f}'.format(r2_score(realY, Y_pred_knn))])
rt.add_row(["SVM",
            '{:.2f}'.format(r2_score(realY, Y_pred_svm))])
rt.add_row(["Decision Tree",
            '{:.2f}'.format(r2_score(realY, Y_pred_tree))])
rt.add_row(["Random Forest",
            '{:.2f}'.format(r2_score(realY, Y_pred_rf))])
rt.add_row(["SVR",
            '{:.2f}'.format(r2_score(realY, Y_pred_nn))])
print(rt)

+---------------+-------+
| Algorithm     |   r2  |
+---------------+-------+
| KNN           | -7.02 |
| SVM           | -4.46 |
| Decision Tree | -4.77 |
| Random Forest | -6.91 |
| SVR           | -0.04 |
+---------------+-------+

In [94]:
#save the best model
import pickle
pickle.dump(svm_min, open('Model/pedestriant_ml_prediction_model_svr', 'wb'))
pickle.dump(newscaler, open('Model/newscaler', 'wb'))