In [281]:
import pandas as pd
df = pd.read_csv('dataset_with_public_holidays.csv')
df

,Unnamed: 0,Date,day_of_year,day_of_week,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Total_Pedestrian_Count_per_day
0,0,2015-01-01,1,4,1,Public Holiday,0.0,13.3,26.9,23.6,471563
1,1,2015-01-02,2,5,1,Not a public holiday,0.0,15.4,38.8,26.8,389048
2,2,2015-01-03,3,6,1,Not a public holiday,0.0,20.0,38.2,26.5,291761
3,3,2015-01-04,4,7,1,Not a public holiday,4.6,16.3,21.4,25.2,382364
4,4,2015-01-05,5,1,1,Not a public holiday,0.0,15.0,22.0,30.7,487220
...,...,...,...,...,...,...,...,...,...,...,...
2127,2127,2020-10-27,301,2,10,Not a public holiday,0.0,11.1,19.6,20.1,177267
2128,2128,2020-10-28,302,3,10,Not a public holiday,0.0,9.5,20.9,26.7,311278
2129,2129,2020-10-29,303,4,10,Not a public holiday,0.0,11.2,24.3,17.1,263334
2130,2130,2020-10-30,304,5,10,Not a public holiday,0.0,12.9,18.6,21.0,313225
2131,2131,2020-10-31,305,6,10,Not a public holiday,0.0,14.2,16.8,10.0,370181

In [283]:
X = df.iloc[:,2:-1]
Y = df['Total_Pedestrian_Count_per_day']
X

,day_of_year,day_of_week,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,1,4,1,Public Holiday,0.0,13.3,26.9,23.6
1,2,5,1,Not a public holiday,0.0,15.4,38.8,26.8
2,3,6,1,Not a public holiday,0.0,20.0,38.2,26.5
3,4,7,1,Not a public holiday,4.6,16.3,21.4,25.2
4,5,1,1,Not a public holiday,0.0,15.0,22.0,30.7
...,...,...,...,...,...,...,...,...
2127,301,2,10,Not a public holiday,0.0,11.1,19.6,20.1
2128,302,3,10,Not a public holiday,0.0,9.5,20.9,26.7
2129,303,4,10,Not a public holiday,0.0,11.2,24.3,17.1
2130,304,5,10,Not a public holiday,0.0,12.9,18.6,21.0
2131,305,6,10,Not a public holiday,0.0,14.2,16.8,10.0

In [285]:
rng = pd.date_range('2020-11-01', periods=61, freq='D')
X_test = pd.DataFrame({ 'Date': rng}) 
X_test['Date'] = X_test['Date'].astype('datetime64[ns]')
X_test

         Date
0  2020-11-01
1  2020-11-02
2  2020-11-03
3  2020-11-04
4  2020-11-05
..        ...
56 2020-12-27
57 2020-12-28
58 2020-12-29
59 2020-12-30
60 2020-12-31

[61 rows x 1 columns]

In [287]:
# Loading the weather test dataset 
test_dataset = pd.read_csv('Test_dataset_updated.csv') 
test_dataset

,Date,Rainfall,Solar Exposure,Minimum temperature,Maximum Temperature
0,01-11-2020,0.0,23.2,12.6,17.0
1,02-11-2020,0.0,26.8,9.6,29.5
2,03-11-2020,0.0,26.9,12.1,30.4
3,04-11-2020,0.0,5.5,21.9,22.8
4,05-11-2020,2.8,23.1,11.1,15.8
...,...,...,...,...,...
56,27-12-2020,0.0,3.3,16.2,31.9
57,28-12-2020,3.2,26.5,11.5,17.8
58,29-12-2020,0.0,30.7,9.0,21.3
59,30-12-2020,0.0,30.3,13.7,21.4
60,31-12-2020,0.0,7.3,15.5,21.2

In [289]:
public = pd.read_csv('Public_Holiday_test_set.csv')
holidays = public[['Holiday']]
holidays['Holiday'] = holidays['Holiday'].astype('datetime64[ns]')
holidays['Public_Holiday'] = 'Public Holiday'

X_test = X_test.set_index('Date').join(holidays.set_index("Holiday"), how='left')
X_test['Public_Holiday'].fillna('Not a public holiday', inplace=True)
X_test

                  Public_Holiday
2020-11-01  Not a public holiday
2020-11-02  Not a public holiday
2020-11-03        Public Holiday
2020-11-04  Not a public holiday
2020-11-05  Not a public holiday
...                          ...
2020-12-27  Not a public holiday
2020-12-28        Public Holiday
2020-12-29  Not a public holiday
2020-12-30  Not a public holiday
2020-12-31  Not a public holiday

[61 rows x 1 columns]

In [290]:
X_test['day_of_year'] = X_test.index.dayofyear
X_test['day_of_week'] = X_test.index.dayofweek + 1
X_test['monthly_index'] = X_test.index.month

X_test['Rainfall amount (millimetres)'] = test_dataset['Rainfall '].values
X_test['Minimum temperature (Degree C)'] = test_dataset['Minimum temperature'].values
X_test['Maximum temperature (Degree C)'] = test_dataset['Maximum Temperature'].values
X_test['Daily global solar exposure (MJ/m*m)'] = test_dataset['Solar Exposure'].values


X_test = X_test.iloc[:,1:]
X_test

,day_of_year,day_of_week,monthly_index,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
2020-11-01,306,6,11,0.0,12.6,17.0,23.2
2020-11-02,307,0,11,0.0,9.6,29.5,26.8
2020-11-03,308,1,11,0.0,12.1,30.4,26.9
2020-11-04,309,2,11,0.0,21.9,22.8,5.5
2020-11-05,310,3,11,2.8,11.1,15.8,23.1
...,...,...,...,...,...,...,...
2020-12-27,362,6,12,0.0,16.2,31.9,3.3
2020-12-28,363,0,12,3.2,11.5,17.8,26.5
2020-12-29,364,1,12,0.0,9.0,21.3,30.7
2020-12-30,365,2,12,0.0,13.7,21.4,30.3
2020-12-31,366,3,12,0.0,15.5,21.2,7.3

In [291]:
X = X.fillna(X.mean())

combined = pd.concat([X, X_test])
combined_df = pd.get_dummies(combined, columns=['Public_Holiday'], drop_first=True)

X = combined_df[:len(X)]
X_test = combined_df[len(X):]
X_test

,day_of_year,day_of_week,monthly_index,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m),Public_Holiday_Public Holiday
2020-11-01,306,6,11,0.0,12.6,17.0,23.2,0
2020-11-02,307,0,11,0.0,9.6,29.5,26.8,0
2020-11-03,308,1,11,0.0,12.1,30.4,26.9,0
2020-11-04,309,2,11,0.0,21.9,22.8,5.5,0
2020-11-05,310,3,11,2.8,11.1,15.8,23.1,0
...,...,...,...,...,...,...,...,...
2020-12-27,362,6,12,0.0,16.2,31.9,3.3,0
2020-12-28,363,0,12,3.2,11.5,17.8,26.5,0
2020-12-29,364,1,12,0.0,9.0,21.3,30.7,0
2020-12-30,365,2,12,0.0,13.7,21.4,30.3,0
2020-12-31,366,3,12,0.0,15.5,21.2,7.3,0

In [292]:
from sklearn.preprocessing import StandardScaler
newscaler = StandardScaler()
X_scaled = newscaler.fit_transform(X) 

X_test_scaled = newscaler.fit_transform(X_test) 
X_scaled

array([[-1.71507061e+00, -9.38637205e-04, -1.58631120e+00, ...,
         1.03952738e+00,  1.11446043e+00,  5.09777812e+00],
       [-1.70542213e+00,  4.99354993e-01, -1.58631120e+00, ...,
         2.94037146e+00,  1.51837475e+00, -1.96163893e-01],
       [-1.69577366e+00,  9.99648624e-01, -1.58631120e+00, ...,
         2.84453058e+00,  1.48050778e+00, -1.96163893e-01],
       ...,
       [ 1.19876862e+00, -9.38637205e-04,  1.06833203e+00, ...,
         6.24216911e-01,  2.94009485e-01, -1.96163893e-01],
       [ 1.20841709e+00,  4.99354993e-01,  1.06833203e+00, ...,
        -2.86271427e-01,  7.86280055e-01, -1.96163893e-01],
       [ 1.21806557e+00,  9.99648624e-01,  1.06833203e+00, ...,
        -5.73794061e-01, -6.02175399e-01, -1.96163893e-01]])

In [293]:
new_results_df_per_day = pd.read_csv('new_results_df_per_day.csv') 
new_results_df_per_day

      Unnamed: 0        date  Total_Pedestrian_Count_per_day
0              0  2015-01-01                          471563
1              1  2015-01-02                          389048
2              2  2015-01-03                          291761
3              3  2015-01-04                          382364
4              4  2015-01-05                          487220
...          ...         ...                             ...
2187        2187  2020-12-27                          385422
2188        2188  2020-12-28                          473046
2189        2189  2020-12-29                          497027
2190        2190  2020-12-30                          467634
2191        2191  2020-12-31                          472586

[2192 rows x 3 columns]

In [294]:
realY = new_results_df_per_day['Total_Pedestrian_Count_per_day'].iloc[-61:]

## KNN

In [295]:

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error
scores = []
neighbor = []
leaf_size = []
metric = []
weight = []
algorithm = []

n_neighbors = [2,3,4,5,6,7,8,9]
leaf_sizes = [10,20,30,50,100,500]
metrics = ['euclidean','chebyshev','manhattan']
weights = ['uniform', 'distance']
algorithms = ['auto', 'ball_tree', 'kd_tree', 'brute'] 

for i in n_neighbors:
  for j in leaf_sizes:
    for k in metrics:
      for l in weights:
        for m in algorithms:
          knn = KNeighborsRegressor(n_neighbors = i, leaf_size = j, metric = k, weights = l, algorithm = m)
          knn.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, knn.predict(X_test_scaled)))
          neighbor.append(i)
          leaf_size.append(j)
          metric.append(k)
          weight.append(l)
          algorithm.append(m)

In [296]:
min(scores)
import numpy as np
index = np.argmin(scores)
parameters = [neighbor[index], leaf_size[index], metric[index], weight[index], algorithm[index]]
parameters

[5, 10, 'manhattan', 'distance', 'auto']

In [297]:
knn_min = KNeighborsRegressor(n_neighbors = 5, leaf_size = 10, metric = 'manhattan', weights = 'distance', algorithm = 'auto')
knn_min.fit(X_scaled, Y)
Y_pred_knn = knn_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_knn.reshape(len(Y_pred_knn),1)
),1))

[[339667.         430822.87045853]
 [335642.         701328.41631029]
 [286980.         659428.48468386]
 [190675.         565303.42014492]
 [246692.         563756.15692398]
 [288551.         676222.76338981]
 [365548.         640424.08528472]
 [321671.         443315.3752287 ]
 [262820.         647487.23832508]
 [264765.         673417.84711322]
 [224537.         582110.54402032]
 [287179.         694161.96062306]
 [330106.         452372.83189557]
 [436497.         494165.78561324]
 [300190.         665872.74653388]
 [257361.         677607.69939399]
 [287853.         562944.04391726]
 [313407.         743778.03996761]
 [300283.         717942.46843305]
 [397150.         733874.73521816]
 [489118.         686553.35626305]
 [309849.         605434.10160078]
 [261242.         355365.90031607]
 [316024.         584858.42515655]
 [340384.         734070.33592039]
 [353597.         631775.9090146 ]
 [456912.         767508.00745439]
 [481376.         665544.29329597]
 [358501.         425683.35853445]
 [351099.         663318.70124748]
 [316908.         405917.62033095]
 [366340.         472854.62310275]
 [392107.         785700.64872566]
 [493588.         869816.77735162]
 [489269.         324188.30788037]
 [404066.         458715.11556011]
 [311007.         586440.20173568]
 [376385.         560164.8260242 ]
 [448039.         599392.07759817]
 [438663.         701842.39351123]
 [543000.         681368.56399942]
 [595152.         611197.21619886]
 [439515.         524346.85015441]
 [366040.         679458.09893497]
 [378222.         676926.00121655]
 [463787.         738936.29844824]
 [460825.         641474.71111466]
 [572248.         680342.82984865]
 [599961.         526798.98612894]
 [539991.         592344.8008704 ]
 [464319.         451365.53481264]
 [403194.         496906.18144301]
 [578815.         690763.69491923]
 [505150.         768771.64131279]
 [332150.         570109.05513347]
 [578967.         657124.1669111 ]
 [385422.         423315.01626728]
 [473046.         591091.24408399]
 [497027.         581970.952778  ]
 [467634.         593324.05621135]
 [472586.         567812.21713461]]

SVM

In [299]:
from sklearn.svm import SVR
scores = []
kernel = []
gamma = []
C = []
degree = []

kernels = ['linear', 'rbf']
gammas = [0.1, 1, 10, 100]
Cs = [0.1, 1, 10, 100]
degrees = [0, 1, 2, 3, 4, 5, 6]


for i in kernels:
  for j in gammas:
    for k in Cs:
        for l in degrees: 
          svm = SVR(kernel=i, gamma=j, C=k, degree=l)
          svm.fit(X_scaled, Y)
          scores.append(mean_squared_error(realY, svm.predict(X_test_scaled)))
          kernel.append(i)
          gamma.append(j)
          C.append(k)
          degree.append(l)

linear 0.1 0.1 0
linear 0.1 0.1 1
linear 0.1 0.1 2
linear 0.1 0.1 3
linear 0.1 0.1 4
linear 0.1 0.1 5
linear 0.1 0.1 6
linear 0.1 1 0
linear 0.1 1 1
linear 0.1 1 2
linear 0.1 1 3
linear 0.1 1 4
linear 0.1 1 5
linear 0.1 1 6
linear 0.1 10 0
linear 0.1 10 1
linear 0.1 10 2
linear 0.1 10 3
linear 0.1 10 4
linear 0.1 10 5
linear 0.1 10 6
linear 0.1 100 0
linear 0.1 100 1
linear 0.1 100 2
linear 0.1 100 3
linear 0.1 100 4
linear 0.1 100 5
linear 0.1 100 6
linear 1 0.1 0
linear 1 0.1 1
linear 1 0.1 2
linear 1 0.1 3
linear 1 0.1 4
linear 1 0.1 5
linear 1 0.1 6
linear 1 1 0
linear 1 1 1
linear 1 1 2
linear 1 1 3
linear 1 1 4
linear 1 1 5
linear 1 1 6
linear 1 10 0
linear 1 10 1
linear 1 10 2
linear 1 10 3
linear 1 10 4
linear 1 10 5
linear 1 10 6
linear 1 100 0
linear 1 100 1
linear 1 100 2
linear 1 100 3
linear 1 100 4
linear 1 100 5
linear 1 100 6
linear 10 0.1 0
linear 10 0.1 1
linear 10 0.1 2
linear 10 0.1 3
linear 10 0.1 4
linear 10 0.1 5
linear 10 0.1 6
linear 10 1 0
linear 10 1 1
linear 10 1 2
linear 10 1 3
linear 10 1 4
linear 10 1 5
linear 10 1 6
linear 10 10 0
linear 10 10 1
linear 10 10 2
linear 10 10 3
linear 10 10 4
linear 10 10 5
linear 10 10 6
linear 10 100 0
linear 10 100 1
linear 10 100 2
linear 10 100 3
linear 10 100 4
linear 10 100 5
linear 10 100 6
linear 100 0.1 0
linear 100 0.1 1
linear 100 0.1 2
linear 100 0.1 3
linear 100 0.1 4
linear 100 0.1 5
linear 100 0.1 6
linear 100 1 0
linear 100 1 1
linear 100 1 2
linear 100 1 3
linear 100 1 4
linear 100 1 5
linear 100 1 6
linear 100 10 0
linear 100 10 1
linear 100 10 2
linear 100 10 3
linear 100 10 4
linear 100 10 5
linear 100 10 6
linear 100 100 0
linear 100 100 1
linear 100 100 2
linear 100 100 3
linear 100 100 4
linear 100 100 5
linear 100 100 6
rbf 0.1 0.1 0
rbf 0.1 0.1 1
rbf 0.1 0.1 2
rbf 0.1 0.1 3
rbf 0.1 0.1 4
rbf 0.1 0.1 5
rbf 0.1 0.1 6
rbf 0.1 1 0
rbf 0.1 1 1
rbf 0.1 1 2
rbf 0.1 1 3
rbf 0.1 1 4
rbf 0.1 1 5
rbf 0.1 1 6
rbf 0.1 10 0
rbf 0.1 10 1
rbf 0.1 10 2
rbf 0.1 10 3
rbf 0.1 10 4
rbf 0.1 10 5
rbf 0.1 10 6
rbf 0.1 100 0
rbf 0.1 100 1
rbf 0.1 100 2
rbf 0.1 100 3
rbf 0.1 100 4
rbf 0.1 100 5
rbf 0.1 100 6
rbf 1 0.1 0
rbf 1 0.1 1
rbf 1 0.1 2
rbf 1 0.1 3
rbf 1 0.1 4
rbf 1 0.1 5
rbf 1 0.1 6
rbf 1 1 0
rbf 1 1 1
rbf 1 1 2
rbf 1 1 3
rbf 1 1 4
rbf 1 1 5
rbf 1 1 6
rbf 1 10 0
rbf 1 10 1
rbf 1 10 2
rbf 1 10 3
rbf 1 10 4
rbf 1 10 5
rbf 1 10 6
rbf 1 100 0
rbf 1 100 1
rbf 1 100 2
rbf 1 100 3
rbf 1 100 4
rbf 1 100 5
rbf 1 100 6
rbf 10 0.1 0
rbf 10 0.1 1
rbf 10 0.1 2
rbf 10 0.1 3
rbf 10 0.1 4
rbf 10 0.1 5
rbf 10 0.1 6
rbf 10 1 0
rbf 10 1 1
rbf 10 1 2
rbf 10 1 3
rbf 10 1 4
rbf 10 1 5
rbf 10 1 6
rbf 10 10 0
rbf 10 10 1
rbf 10 10 2
rbf 10 10 3
rbf 10 10 4
rbf 10 10 5
rbf 10 10 6
rbf 10 100 0
rbf 10 100 1
rbf 10 100 2
rbf 10 100 3
rbf 10 100 4
rbf 10 100 5
rbf 10 100 6
rbf 100 0.1 0
rbf 100 0.1 1
rbf 100 0.1 2
rbf 100 0.1 3
rbf 100 0.1 4
rbf 100 0.1 5
rbf 100 0.1 6
rbf 100 1 0
rbf 100 1 1
rbf 100 1 2
rbf 100 1 3
rbf 100 1 4
rbf 100 1 5
rbf 100 1 6
rbf 100 10 0
rbf 100 10 1
rbf 100 10 2
rbf 100 10 3
rbf 100 10 4
rbf 100 10 5
rbf 100 10 6
rbf 100 100 0
rbf 100 100 1
rbf 100 100 2
rbf 100 100 3
rbf 100 100 4
rbf 100 100 5
rbf 100 100 6

In [300]:
index = np.argmin(scores)
parameters = [neighbor[index], leaf_size[index], metric[index], weight[index], algorithm[index]]
parameters

[2, 10, 'manhattan', 'distance', 'ball_tree']

In [303]:
svm_min = SVR(kernel=i, gamma=j, C=k, degree=l)
svm_min.fit(X_scaled, Y)
Y_pred_svm = svm_min.predict(X_test_scaled)
print(
    np.concatenate((
        realY.values.reshape(len(realY),1), 
        Y_pred_svm.reshape(len(Y_pred_svm),1)
),1))

[[339667.         626987.99020724]
 [335642.         626987.99020724]
 [286980.         626987.99020724]
 [190675.         626987.99020724]
 [246692.         626987.99020724]
 [288551.         626987.99020724]
 [365548.         626987.99020724]
 [321671.         626987.99020724]
 [262820.         626987.99022613]
 [264765.         626987.99020652]
 [224537.         626987.99020724]
 [287179.         626987.99020724]
 [330106.         626987.99020724]
 [436497.         626987.99020724]
 [300190.         626987.99020724]
 [257361.         626987.99020724]
 [287853.         626987.99020724]
 [313407.         626987.99020724]
 [300283.         626987.9902071 ]
 [397150.         626987.99020724]
 [489118.         626987.99020964]
 [309849.         626987.99020724]
 [261242.         626987.99020724]
 [316024.         626987.99020724]
 [340384.         626987.99020724]
 [353597.         626987.99020724]
 [456912.         626987.99020724]
 [481376.         626987.99020724]
 [358501.         626987.99020724]
 [351099.         626987.99020724]
 [316908.         626987.99020724]
 [366340.         626987.99020724]
 [392107.         626987.99020724]
 [493588.         626987.99020724]
 [489269.         626987.99020724]
 [404066.         626987.99020724]
 [311007.         626987.99020724]
 [376385.         626987.99020724]
 [448039.         626987.99020724]
 [438663.         626987.99020724]
 [543000.         626987.99020724]
 [595152.         626987.99020724]
 [439515.         626987.99020724]
 [366040.         626987.99020724]
 [378222.         626987.99020724]
 [463787.         626987.99020724]
 [460825.         626987.99020724]
 [572248.         626987.99020724]
 [599961.         626987.99020724]
 [539991.         626987.99020724]
 [464319.         626987.99020724]
 [403194.         626987.99020724]
 [578815.         626987.99020724]
 [505150.         626987.99020724]
 [332150.         626987.99020724]
 [578967.         626987.99020724]
 [385422.         626987.99020724]
 [473046.         626987.99020724]
 [497027.         626987.99020724]
 [467634.         626987.99020724]
 [472586.         626987.99020724]]

In [304]:
from prettytable import PrettyTable
from sklearn.metrics import r2_score
rt = PrettyTable(["Algorithm", "r2"])
rt.align["Algorithm"] = "l" # Left align city names
rt.padding_width = 1 # One space between column edges and contents (default)
rt.add_row(["KNN",
            '{:.2f}'.format(r2_score(realY, Y_pred_knn))])
rt.add_row(["SVM",
            '{:.2f}'.format(r2_score(realY, Y_pred_svm))])
realY
realY
print(rt)

+-----------+-------+
| Algorithm |   r2  |
+-----------+-------+
| KNN       | -5.50 |
| SVM       | -5.46 |
+-----------+-------+

In [308]:
#save the best model
import pickle
pickle.dump(svm_min, open('Model/pedestriant_ml_prediction_model', 'wb'))