In [3]:
import pandas as pd
import numpy as np

In [4]:
file = 'On-street_Car_Parking_Sensor_Data_-_2020__Jan_-_May_1'

In [5]:
df = pd.read_csv("C:/Users/ramesh-pc/Desktop/On-street_Car_Parking_Sensor_Data_-_2020__Jan_-_May_1.csv")

In [6]:
df

,DeviceId,ArrivalTime,DepartureTime,DurationMinutes,StreetMarker,SignPlateID,Sign,AreaName,StreetId,StreetName,BetweenStreet1ID,BetweenStreet1,BetweenStreet2ID,BetweenStreet2,SideOfStreet,SideName,BayId,InViolation,VehiclePresent
0,17605,01/31/2020 03:08:32 PM,01/31/2020 04:22:54 PM,74,13762E,550.0,Loading Zone 60mins,Docklands,592,DOEPEL WAY,590,DOCKLANDS DRIVE,1048.0,NEWQUAY PROMENADE,2,East,6650,0,0
1,17585,02/26/2020 05:43:24 AM,02/26/2020 06:52:06 AM,69,13740E,NaN,NaN,Docklands,1097,PEARL RIVER ROAD,590,DOCKLANDS DRIVE,1066.0,OBSERVATION DRIVE,2,East,6513,0,1
2,17562,01/13/2020 10:55:52 PM,01/13/2020 10:56:09 PM,1,13711W,NaN,NaN,Docklands,1405,WATTLE ROAD,880,LEVEN AVENUE,590.0,DOCKLANDS DRIVE,5,West,6483,0,1
3,17554,02/06/2020 12:00:00 AM,02/06/2020 07:30:00 AM,450,13697W,NaN,NaN,Docklands,1043,NAVIGATION DRIVE,528,COLLINS STREET,123.0,BOURKE STREET,5,West,6435,0,0
4,17580,01/08/2020 05:05:43 PM,01/08/2020 05:40:29 PM,35,13730E,196.0,2P MTR M-SAT 7:30-18:30,Docklands,1097,PEARL RIVER ROAD,590,DOCKLANDS DRIVE,1066.0,OBSERVATION DRIVE,2,East,6508,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14165820,29372,05/12/2020 11:06:02 PM,05/13/2020 12:00:00 AM,54,13347W,NaN,NaN,Docklands,79,BATMANS HILL DRIVE,123,BOURKE STREET,1400.0,WATERVIEW WALK,5,West,6272,0,0
14165821,29447,05/11/2020 03:10:00 PM,05/11/2020 05:11:46 PM,121,11753W,196.0,2P MTR M-SAT 7:30-18:30,Jolimont,706,GISBORNE STREET,16,ALBERT STREET,178.0,CATHEDRAL PLACE,5,West,5409,0,1
14165822,29447,05/16/2020 12:00:00 AM,05/16/2020 07:30:00 AM,450,11753W,NaN,NaN,Jolimont,706,GISBORNE STREET,16,ALBERT STREET,178.0,CATHEDRAL PLACE,5,West,5409,0,0
14165823,29451,05/15/2020 04:48:34 AM,05/15/2020 03:34:58 PM,646,11814E,NaN,NaN,Jolimont,869,LANSDOWNE STREET,1290,ST ANDREWS PLACE,1413.0,WELLINGTON PARADE,2,East,5431,0,1
14165824,29494,05/25/2020 08:36:38 AM,05/25/2020 10:00:00 AM,84,4505W,NaN,NaN,West Melbourne,839,KING STREET,818,JEFFCOTT STREET,856.0,LA TROBE STREET,5,West,5272,0,0

In [7]:
df.columns   ### name of the columns

Index(['DeviceId', 'ArrivalTime', 'DepartureTime', 'DurationMinutes',
       'StreetMarker', 'SignPlateID', 'Sign', 'AreaName', 'StreetId',
       'StreetName', 'BetweenStreet1ID', 'BetweenStreet1', 'BetweenStreet2ID',
       'BetweenStreet2', 'SideOfStreet', 'SideName', 'BayId', 'InViolation',
       'VehiclePresent'],
      dtype='object')

In [8]:
df.isnull().any()  ####  ull values in each column

DeviceId            False
ArrivalTime         False
DepartureTime       False
DurationMinutes     False
StreetMarker        False
SignPlateID          True
Sign                 True
AreaName             True
StreetId            False
StreetName          False
BetweenStreet1ID    False
BetweenStreet1      False
BetweenStreet2ID     True
BetweenStreet2       True
SideOfStreet        False
SideName            False
BayId               False
InViolation         False
VehiclePresent      False
dtype: bool

In [9]:
df.isnull().sum() ### sum of null values for each column

DeviceId                  0
ArrivalTime               0
DepartureTime             0
DurationMinutes           0
StreetMarker              0
SignPlateID         4994983
Sign                4994983
AreaName              37182
StreetId                  0
StreetName                0
BetweenStreet1ID          0
BetweenStreet1            0
BetweenStreet2ID      25330
BetweenStreet2        25330
SideOfStreet              0
SideName                  0
BayId                     0
InViolation               0
VehiclePresent            0
dtype: int64

In [10]:
df.isnull().sum().sum()   #### sum of all the null values

10077808

In [11]:
df.shape  ### data shape

(14165825, 19)

In [12]:
df.dtypes   ### data type for each column

DeviceId              int64
ArrivalTime          object
DepartureTime        object
DurationMinutes       int64
StreetMarker         object
SignPlateID         float64
Sign                 object
AreaName             object
StreetId              int64
StreetName           object
BetweenStreet1ID      int64
BetweenStreet1       object
BetweenStreet2ID    float64
BetweenStreet2       object
SideOfStreet          int64
SideName             object
BayId                 int64
InViolation           int64
VehiclePresent        int64
dtype: object

In [13]:
df['DepartureDateTime'] =  pd.to_datetime(df['DepartureTime'], infer_datetime_format=True)
###converting into date time format

In [19]:
df['ArrivalDateTime'] =  pd.to_datetime(df['ArrivalTime'], infer_datetime_format=True)
#####cponverting into arrival time format

In [20]:
df['ArrivalDateTime'] ### printing the arrival date time

0          2020-01-31 15:08:32
1          2020-02-26 05:43:24
2          2020-01-13 22:55:52
3          2020-02-06 00:00:00
4          2020-01-08 17:05:43
                   ...
14165820   2020-05-12 23:06:02
14165821   2020-05-11 15:10:00
14165822   2020-05-16 00:00:00
14165823   2020-05-15 04:48:34
14165824   2020-05-25 08:36:38
Name: ArrivalDateTime, Length: 14165825, dtype: datetime64[ns]

In [22]:
import datetime as dt
#######moving the data and month to seperate columns 
df['DepartureMonth'] = df['DepartureDateTime'].dt.month
df['ArrivalMonth'] = df['ArrivalDateTime'].dt.month
df['DepartureDay'] = df['DepartureDateTime'].dt.day
df['ArrivalDay'] = df['ArrivalDateTime'].dt.day

In [23]:
####converting the data type to string
df['DepartureMonth'] = df['DepartureMonth'].astype(str) 
df['ArrivalMonth'] = df['ArrivalMonth'].astype(str)

In [24]:
###replacing the numeric values of each month to name of the month(departure)
df["DepartureMonth"].replace({"1": "January", "2": "February","3": "March", "4": "April", "5": "May"}, 
                                  inplace = True)

In [25]:
###replacing the numeric values of each month to name of the month(Arrival)
df["ArrivalMonth"].replace({"1": "January", "2": "February","3": "March", "4": "April", "5": "May"}, 
                                  inplace = True)

In [27]:
### hourly based ####
df['hour'] = round(df['DurationMinutes'] / 60,2)

In [28]:
df['hour']

0            1.23
1            1.15
2            0.02
3            7.50
4            0.58
            ...
14165820     0.90
14165821     2.02
14165822     7.50
14165823    10.77
14165824     1.40
Name: hour, Length: 14165825, dtype: float64

In [30]:
###### moving time in separate columns
df['DepartureTime'] = df['DepartureDateTime'].dt.time
df['ArrivalTime'] = df['ArrivalDateTime'].dt.time

In [31]:
df['ArrivalTime'],df['DepartureTime'] ####printing the arrival time and departure time values for all the records

(0           15:08:32
 1           05:43:24
 2           22:55:52
 3           00:00:00
 4           17:05:43
               ...
 14165820    23:06:02
 14165821    15:10:00
 14165822    00:00:00
 14165823    04:48:34
 14165824    08:36:38
 Name: ArrivalTime, Length: 14165825, dtype: object, 0           16:22:54
 1           06:52:06
 2           22:56:09
 3           07:30:00
 4           17:40:29
               ...
 14165820    00:00:00
 14165821    17:11:46
 14165822    07:30:00
 14165823    15:34:58
 14165824    10:00:00
 Name: DepartureTime, Length: 14165825, dtype: object)

In [32]:
df['ArrivalMonth'].unique() ###showing the data of months we have ###

array(['January', 'February', 'March', 'April', 'May'], dtype=object)

In [33]:
df.drop(df[df['DepartureMonth'] == '9'].index,inplace = True) #####removing the unwanted data ####

In [34]:
df.to_csv('onstreet_car_parking_cleaned_data.csv', index=False) ######saving the cleaned data to new csv file

In [36]:
############### cleaning of parking data ###############
parking_sensor_data = 'onstreet_car_parking_cleaned_data is done'
print(parking_sensor_data)

onstreet_car_parking_cleaned_data is done