In [2]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
import numpy as np
import pandas as pd
from pandas import DataFrame as df, Series as se
from datetime import datetime, timedelta

In [13]:
rng = pd.date_range('2021-01-01', periods=90, freq='D')
X_test = pd.DataFrame({ 'Date': rng}) 

X_test['Date'] = X_test['Date'].astype('datetime64[ns]')

X_test['Year'] = X_test.Date.dt.year
X_test['day_of_year'] = X_test.Date.dt.dayofyear
X_test['monthly_index'] = X_test.Date.dt.month
X_test['day_of_week'] = X_test.Date.dt.dayofweek + 1

X_test = X_test.drop('Date', 1)
X_test

    Year  day_of_year  monthly_index  day_of_week
0   2021            1              1            5
1   2021            2              1            6
2   2021            3              1            7
3   2021            4              1            1
4   2021            5              1            2
..   ...          ...            ...          ...
85  2021           86              3            6
86  2021           87              3            7
87  2021           88              3            1
88  2021           89              3            2
89  2021           90              3            3

[90 rows x 4 columns]

In [18]:
import pickle

#load scaler
scaler = pickle.load(open('Model/scaler', 'rb'))
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[ 1.40276225, -1.49435881, -1.39807449,  0.4805058 ],
       [ 1.40276225, -1.48778077, -1.39807449,  0.97720843],
       [ 1.40276225, -1.48120274, -1.39807449,  1.47391105],
       [ 1.40276225, -1.4746247 , -1.39807449, -1.5063047 ],
       [ 1.40276225, -1.46804666, -1.39807449, -1.00960208],
       [ 1.40276225, -1.46146862, -1.39807449, -0.51289945],
       [ 1.40276225, -1.45489058, -1.39807449, -0.01619682],
       [ 1.40276225, -1.44831254, -1.39807449,  0.4805058 ],
       [ 1.40276225, -1.4417345 , -1.39807449,  0.97720843],
       [ 1.40276225, -1.43515646, -1.39807449,  1.47391105],
       [ 1.40276225, -1.42857843, -1.39807449, -1.5063047 ],
       [ 1.40276225, -1.42200039, -1.39807449, -1.00960208],
       [ 1.40276225, -1.41542235, -1.39807449, -0.51289945],
       [ 1.40276225, -1.40884431, -1.39807449, -0.01619682],
       [ 1.40276225, -1.40226627, -1.39807449,  0.4805058 ],
       [ 1.40276225, -1.39568823, -1.39807449,  0.97720843],
       [ 1.40276225, -1.38911019, -1.39807449,  1.47391105],
       [ 1.40276225, -1.38253215, -1.39807449, -1.5063047 ],
       [ 1.40276225, -1.37595411, -1.39807449, -1.00960208],
       [ 1.40276225, -1.36937608, -1.39807449, -0.51289945],
       [ 1.40276225, -1.36279804, -1.39807449, -0.01619682],
       [ 1.40276225, -1.35622   , -1.39807449,  0.4805058 ],
       [ 1.40276225, -1.34964196, -1.39807449,  0.97720843],
       [ 1.40276225, -1.34306392, -1.39807449,  1.47391105],
       [ 1.40276225, -1.33648588, -1.39807449, -1.5063047 ],
       [ 1.40276225, -1.32990784, -1.39807449, -1.00960208],
       [ 1.40276225, -1.3233298 , -1.39807449, -0.51289945],
       [ 1.40276225, -1.31675177, -1.39807449, -0.01619682],
       [ 1.40276225, -1.31017373, -1.39807449,  0.4805058 ],
       [ 1.40276225, -1.30359569, -1.39807449,  0.97720843],
       [ 1.40276225, -1.29701765, -1.39807449,  1.47391105],
       [ 1.40276225, -1.29043961, -1.19741481, -1.5063047 ],
       [ 1.40276225, -1.28386157, -1.19741481, -1.00960208],
       [ 1.40276225, -1.27728353, -1.19741481, -0.51289945],
       [ 1.40276225, -1.27070549, -1.19741481, -0.01619682],
       [ 1.40276225, -1.26412746, -1.19741481,  0.4805058 ],
       [ 1.40276225, -1.25754942, -1.19741481,  0.97720843],
       [ 1.40276225, -1.25097138, -1.19741481,  1.47391105],
       [ 1.40276225, -1.24439334, -1.19741481, -1.5063047 ],
       [ 1.40276225, -1.2378153 , -1.19741481, -1.00960208],
       [ 1.40276225, -1.23123726, -1.19741481, -0.51289945],
       [ 1.40276225, -1.22465922, -1.19741481, -0.01619682],
       [ 1.40276225, -1.21808118, -1.19741481,  0.4805058 ],
       [ 1.40276225, -1.21150314, -1.19741481,  0.97720843],
       [ 1.40276225, -1.20492511, -1.19741481,  1.47391105],
       [ 1.40276225, -1.19834707, -1.19741481, -1.5063047 ],
       [ 1.40276225, -1.19176903, -1.19741481, -1.00960208],
       [ 1.40276225, -1.18519099, -1.19741481, -0.51289945],
       [ 1.40276225, -1.17861295, -1.19741481, -0.01619682],
       [ 1.40276225, -1.17203491, -1.19741481,  0.4805058 ],
       [ 1.40276225, -1.16545687, -1.19741481,  0.97720843],
       [ 1.40276225, -1.15887883, -1.19741481,  1.47391105],
       [ 1.40276225, -1.1523008 , -1.19741481, -1.5063047 ],
       [ 1.40276225, -1.14572276, -1.19741481, -1.00960208],
       [ 1.40276225, -1.13914472, -1.19741481, -0.51289945],
       [ 1.40276225, -1.13256668, -1.19741481, -0.01619682],
       [ 1.40276225, -1.12598864, -1.19741481,  0.4805058 ],
       [ 1.40276225, -1.1194106 , -1.19741481,  0.97720843],
       [ 1.40276225, -1.11283256, -1.19741481,  1.47391105],
       [ 1.40276225, -1.10625452, -0.99675513, -1.5063047 ],
       [ 1.40276225, -1.09967649, -0.99675513, -1.00960208],
       [ 1.40276225, -1.09309845, -0.99675513, -0.51289945],
       [ 1.40276225, -1.08652041, -0.99675513, -0.01619682],
       [ 1.40276225, -1.07994237, -0.99675513,  0.4805058 ],
       [ 1.40276225, -1.07336433, -0.99675513,  0.97720843],
       [ 1.40276225, -1.06678629, -0.99675513,  1.47391105],
       [ 1.40276225, -1.06020825, -0.99675513, -1.5063047 ],
       [ 1.40276225, -1.05363021, -0.99675513, -1.00960208],
       [ 1.40276225, -1.04705218, -0.99675513, -0.51289945],
       [ 1.40276225, -1.04047414, -0.99675513, -0.01619682],
       [ 1.40276225, -1.0338961 , -0.99675513,  0.4805058 ],
       [ 1.40276225, -1.02731806, -0.99675513,  0.97720843],
       [ 1.40276225, -1.02074002, -0.99675513,  1.47391105],
       [ 1.40276225, -1.01416198, -0.99675513, -1.5063047 ],
       [ 1.40276225, -1.00758394, -0.99675513, -1.00960208],
       [ 1.40276225, -1.0010059 , -0.99675513, -0.51289945],
       [ 1.40276225, -0.99442786, -0.99675513, -0.01619682],
       [ 1.40276225, -0.98784983, -0.99675513,  0.4805058 ],
       [ 1.40276225, -0.98127179, -0.99675513,  0.97720843],
       [ 1.40276225, -0.97469375, -0.99675513,  1.47391105],
       [ 1.40276225, -0.96811571, -0.99675513, -1.5063047 ],
       [ 1.40276225, -0.96153767, -0.99675513, -1.00960208],
       [ 1.40276225, -0.95495963, -0.99675513, -0.51289945],
       [ 1.40276225, -0.94838159, -0.99675513, -0.01619682],
       [ 1.40276225, -0.94180355, -0.99675513,  0.4805058 ],
       [ 1.40276225, -0.93522552, -0.99675513,  0.97720843],
       [ 1.40276225, -0.92864748, -0.99675513,  1.47391105],
       [ 1.40276225, -0.92206944, -0.99675513, -1.5063047 ],
       [ 1.40276225, -0.9154914 , -0.99675513, -1.00960208],
       [ 1.40276225, -0.90891336, -0.99675513, -0.51289945]])

In [20]:
#import pickle

#load model
model = pickle.load(open('Model/finalized_svr_model_for_Solar_exposure', 'rb'))
model

SVR(C=100, degree=0, gamma=100)

In [21]:
Y_predicted = model.predict(X_test_scaled)

In [22]:
Y_predicted

array([14.98288529, 13.48720361, 15.1299186 , 15.65894359, 15.3141106 ,
       15.31391179, 14.96124783, 15.16072096, 13.51650186, 15.22856687,
       15.79699654, 15.63498736, 15.66184792, 15.23384171, 15.2860143 ,
       14.65287997, 15.16661368, 15.19227621, 15.67241287, 15.61968536,
       15.5538827 , 15.03894523, 15.37229318, 15.11914054, 14.83182417,
       15.22942318, 15.15560074, 15.63915671, 14.63581845, 14.82982373,
       15.25035007, 15.48971624, 14.5345082 , 14.69160222, 15.39093531,
       14.59838168, 14.6676423 , 15.50506564, 15.57839419, 14.17406843,
       14.70870463, 14.73149339, 15.02186013, 15.6530706 , 15.33783463,
       14.2218789 , 14.3972114 , 15.05929248, 14.44885592, 15.11277057,
       15.77796274, 15.06247415, 13.23054306, 14.74050032, 15.23668269,
       14.55094421, 14.87550523, 14.90124108, 14.9003981 , 15.8003271 ,
       15.36487971, 13.76742712, 13.48816633, 14.23424391, 15.1806413 ,
       15.59480336, 15.7717671 , 16.12741675, 14.91218198, 15.61540834,
       13.47772963, 14.60017442, 14.21761839, 16.14021433, 16.11591927,
       14.47903764, 14.7377568 , 13.66673382, 14.02264151, 14.19680135,
       15.28141809, 15.46856091, 13.38571731, 13.38185783, 14.61345198,
       14.17372052, 14.89245462, 13.83711427, 15.02557558, 13.34722232])

In [23]:
Final_test_dataset = pd.read_csv('Final_test_dataset.csv')
Final_test_dataset

,Unnamed: 0,Date,Day,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,0,1/11/2020,7,1,Not a public holiday,0.0,12.600000,17.000,23.2
1,1,2/11/2020,1,2,Not a public holiday,0.0,9.600000,29.500,26.8
2,2,3/11/2020,2,3,Public Holiday,0.0,12.100000,30.400,26.9
3,3,4/11/2020,3,4,Not a public holiday,0.0,21.900000,22.800,5.5
4,4,5/11/2020,4,5,Not a public holiday,2.8,11.100000,15.800,23.1
...,...,...,...,...,...,...,...,...,...
146,146,27/03/2021,6,3,Not a public holiday,0.0,9.581615,22.996,NaN
147,147,28/03/2021,7,3,Not a public holiday,9.2,9.617631,22.108,NaN
148,148,29/03/2021,1,3,Not a public holiday,0.2,9.254642,24.512,NaN
149,149,30/03/2021,2,3,Not a public holiday,0.2,9.290658,25.240,NaN
150,150,31/03/2021,3,3,Not a public holiday,2.2,9.326675,25.696,NaN

In [24]:
Final_test_dataset['Daily global solar exposure (MJ/m*m)'][61:151] = Y_predicted

In [25]:
Final_test_dataset

,Unnamed: 0,Date,Day,monthly_index,Public_Holiday,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,0,1/11/2020,7,1,Not a public holiday,0.0,12.600000,17.000,23.200000
1,1,2/11/2020,1,2,Not a public holiday,0.0,9.600000,29.500,26.800000
2,2,3/11/2020,2,3,Public Holiday,0.0,12.100000,30.400,26.900000
3,3,4/11/2020,3,4,Not a public holiday,0.0,21.900000,22.800,5.500000
4,4,5/11/2020,4,5,Not a public holiday,2.8,11.100000,15.800,23.100000
...,...,...,...,...,...,...,...,...,...
146,146,27/03/2021,6,3,Not a public holiday,0.0,9.581615,22.996,14.173721
147,147,28/03/2021,7,3,Not a public holiday,9.2,9.617631,22.108,14.892455
148,148,29/03/2021,1,3,Not a public holiday,0.2,9.254642,24.512,13.837114
149,149,30/03/2021,2,3,Not a public holiday,0.2,9.290658,25.240,15.025576
150,150,31/03/2021,3,3,Not a public holiday,2.2,9.326675,25.696,13.347222

In [26]:
Final_test_dataset.to_csv('Final_test_dataset.csv')