In [22]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
import numpy as np
import pandas as pd
from pandas import DataFrame as df, Series as se
from datetime import datetime, timedelta

In [23]:
X_test = pd.read_csv('Final_test_dataset.csv')
X_test

,day_of_week,monthly_index,year,day_of_year,covid_code,holiday_code,Rainfall amount (millimetres),Minimum temperature (Degree C),Maximum temperature (Degree C),Daily global solar exposure (MJ/m*m)
0,7,11,2020,306,0,0,0.0,12.60,17.00,23.20
1,1,11,2020,307,0,0,0.0,9.60,29.50,26.80
2,2,11,2020,308,0,1,0.0,12.10,30.40,26.90
3,3,11,2020,309,0,0,0.0,21.90,22.80,5.50
4,4,11,2020,310,0,0,2.8,11.10,15.80,23.10
...,...,...,...,...,...,...,...,...,...,...
146,6,3,2021,86,0,0,0.0,9.58,23.00,14.17
147,7,3,2021,87,0,0,9.2,9.62,22.11,14.89
148,1,3,2021,88,0,0,0.2,9.25,24.51,13.84
149,2,3,2021,89,0,0,0.2,9.29,25.24,15.03
150,3,3,2021,90,0,0,2.2,9.33,25.70,13.35

In [24]:
import pickle

#load scaler
scaler = pickle.load(open('Model/newscaler', 'rb'))
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[  1.51575601,  -1.01653005,   0.        , ...,  -0.32024616,
         -1.24531339,   0.06414934],
       [ -1.46686065,  -1.01653005,   0.        , ...,  -1.30026367,
          1.09463599,   0.49760153],
       [ -0.96975787,  -1.01653005,   0.        , ...,  -0.48358241,
          1.26311235,   0.50964186],
       ...,
       [ -1.46686065, -17.01868044,   1.        , ...,  -1.41459904,
          0.1605282 ,  -1.06282633],
       [ -0.96975787, -17.01868044,   1.        , ...,  -1.40153214,
          0.29718124,  -0.9195463 ],
       [ -0.4726551 , -17.01868044,   1.        , ...,  -1.38846524,
          0.38329138,  -1.12182399]])

In [25]:
#load model
model = pickle.load(open('Model/pedestriant_ml_prediction_model_rf', 'rb'))
model

RandomForestRegressor(criterion='friedman_mse', max_depth=20,
                      min_samples_split=30, n_estimators=10)

In [26]:
Y_predicted = model.predict(X_test_scaled)
Y_predicted

array([454263.65005793, 511068.28484606, 526702.10083052, 560513.81832011,
       575543.18338942, 620547.23542622, 568008.86854507, 560304.13387267,
       594607.17629777, 606143.94600056, 577279.8593735 , 603925.12937081,
       674579.5876025 , 568899.01634787, 459714.29275862, 612777.94480421,
       638628.43289161, 634350.42940633, 628563.17556018, 695657.76790204,
       574173.00552924, 376168.20246753, 529427.61073115, 562311.46647007,
       634350.42940633, 611200.77978563, 717792.81095623, 533066.91649745,
       470929.02713489, 607164.06099345, 544144.74743381, 604313.03269006,
       638009.60056018, 699128.113714  , 529587.73299405, 474881.0240148 ,
       571666.10285928, 550304.36129039, 615422.02500377, 603827.43563124,
       699128.113714  , 578914.37344377, 535459.7381174 , 618532.73457142,
       649956.54752688, 669239.02847409, 681577.35613532, 697524.31787342,
       605529.53115464, 546497.90053934, 561844.16251835, 556818.24029612,
       665137.66470473, 676890.53794818, 672882.38445714, 662026.19708213,
       371121.44246753, 661992.59776923, 712457.829547  , 719227.15309101,
       663004.67395289, 628495.99093551, 632299.74042303, 556051.60005832,
       714053.00938642, 765828.84770655, 799483.99252137, 797802.83077894,
       814602.24773828, 632299.74042303, 556051.60005832, 714053.00938642,
       765828.84770655, 799483.99252137, 797802.83077894, 814602.24773828,
       632299.74042303, 556051.60005832, 714053.00938642, 765828.84770655,
       799483.99252137, 791993.68161506, 814602.24773828, 632299.74042303,
       526312.37122249, 703868.00022254, 569690.8561196 , 799483.99252137,
       791993.68161506, 814602.24773828, 632299.74042303, 526312.37122249,
       701018.67800032, 752794.51632045, 793674.84335749, 791993.68161506,
       814602.24773828, 618783.79820441, 523765.87972493, 701018.67800032,
       752794.51632045, 793674.84335749, 791993.68161506, 814602.24773828,
       618783.79820441, 516504.99258207, 701018.67800032, 752794.51632045,
       793674.84335749, 791993.68161506, 814602.24773828, 618783.79820441,
       516504.99258207, 701018.67800032, 752794.51632045, 793674.84335749,
       791993.68161506, 814602.24773828, 618783.79820441, 516504.99258207,
       701018.67800032, 752794.51632045, 793674.84335749, 783750.35030193,
       805226.23984354, 618783.79820441, 533573.25836534, 569690.8561196 ,
       754174.49869082, 793674.84335749, 791993.68161506, 796982.90853041,
       618783.79820441, 518165.23713158, 702398.66037069, 754174.49869082,
       793674.84335749, 791993.68161506, 805226.23984354, 622497.79956805,
       518165.23713158, 703868.00022254, 755643.83854267, 799483.99252137,
       783750.35030193, 814602.24773828, 622497.79956805, 526312.37122249,
       703868.00022254, 755643.83854267, 799483.99252137])

In [27]:
rng = pd.date_range('2020-11-01', periods=151, freq='D')
result = pd.DataFrame({ 'Date': rng}) 
result['Pedestrian_Count'] = np.round(Y_predicted).astype(int)
result

          Date  Pedestrian_Count
0   2020-11-01            454264
1   2020-11-02            511068
2   2020-11-03            526702
3   2020-11-04            560514
4   2020-11-05            575543
..         ...               ...
146 2021-03-27            622498
147 2021-03-28            526312
148 2021-03-29            703868
149 2021-03-30            755644
150 2021-03-31            799484

[151 rows x 2 columns]

In [28]:
result.to_csv('predicted_pedestriant_count.csv')